<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Card Advance -->
        <div class="row match-height">
            <!-- Congratulations Card -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-congratulations">
                    <div class="card-body text-center">
                        <img alt="card-img-left" class="congratulations-img-left"
                             src="assets/images/elements/decore-left.png"/>
                        <img alt="card-img-right" class="congratulations-img-right"
                             src="assets/images/elements/decore-right.png"/>
                        <div class="avatar avatar-xl bg-primary shadow">
                            <div class="avatar-content">
                                <i class="font-large-1" data-feather="award"></i>
                            </div>
                        </div>
                        <div class="text-center">
                            <h1 class="mb-1 text-white">Congratulations {{ currentUser?.firstName }},</h1>
                            <p class="card-text m-auto w-75">This page can be accessed <strong>only by
                                administrators</strong>.</p>

                            <p class="card-text m-auto w-75">
                                All users from secure (admin only) api end point.
                                <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                                <ng-container *ngIf="users">
                                    <span *ngFor="let user of users">{{ user.firstName }} {{ user.lastName }}
                                        ({{ user.role }}), </span>
                                </ng-container>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Congratulations Card -->

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header d-flex flex-column align-items-start pb-0">
                        <div class="avatar bg-light-primary p-50 m-0">
                            <div class="avatar-content">
                                <i class="font-medium-5" data-feather="users"></i>
                            </div>
                        </div>
                        <h2 class="font-weight-bolder mt-1">{{ data.subscribers_gained.analyticsData.subscribers }}</h2>
                        <p class="mb-0">Subscribers Gained</p>
                    </div>

                    <!-- Apexchart component-->
                    <div #gainedChartRef id="gainedChartoptions">
                        <apx-chart
                                [chart]="{
                height: 100,
                width: isMenuToggled === true ? gainedChartRef.offsetWidth : gainedChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
                                [colors]="gainedChartoptions.colors"
                                [dataLabels]="gainedChartoptions.dataLabels"
                                [fill]="gainedChartoptions.fill"
                                [series]="data.subscribers_gained.series"
                                [stroke]="gainedChartoptions.stroke"
                                [tooltip]="gainedChartoptions.tooltip"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header d-flex flex-column align-items-start pb-0">
                        <div class="avatar bg-light-warning p-50 m-0">
                            <div class="avatar-content">
                                <i class="font-medium-5" data-feather="package"></i>
                            </div>
                        </div>
                        <h2 class="font-weight-bolder mt-1">{{ data.ordersRecevied.analyticsData.orders }}</h2>
                        <p class="mb-0">Orders Received</p>
                    </div>

                    <!-- Apexchart component-->
                    <div #orderChartRef id="orderChartoptions">
                        <apx-chart
                                [chart]="{
                height: 100,
                width: isMenuToggled === true ? orderChartRef.offsetWidth : orderChartoptions.chart.width,
                type: 'area',
                toolbar: {
                  show: false
                },
                sparkline: {
                  enabled: true
                }
              }"
                                [colors]="orderChartoptions.colors"
                                [dataLabels]="orderChartoptions.dataLabels"
                                [fill]="orderChartoptions.fill"
                                [series]="data.ordersRecevied.series"
                                [stroke]="orderChartoptions.stroke"
                                [tooltip]="orderChartoptions.tooltip"
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row match-height">
            <!-- Average Sessions Card -->
            <div class="col-lg-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row pb-50">
                            <div class="col-lg-6 col-12 d-flex justify-content-between flex-column order-lg-1 order-2 mt-1 mt-lg-0">
                                <div class="mb-1 mb-lg-0">
                                    <h2 class="font-weight-bolder mb-25">{{ data.avgSessions.analyticsData.avgSessions }}</h2>
                                    <p class="card-text font-weight-bold mb-2">Avg Sessions</p>
                                    <div class="font-medium-2">
                                        <span class="text-success mr-25">{{ data.avgSessions.analyticsData.vsLastSevenDays }}</span>
                                        <span>vs last 7 days</span>
                                    </div>
                                </div>
                                <button class="btn btn-primary" rippleEffect type="button">View Details</button>
                            </div>
                            <div class="col-lg-6 col-12 d-flex justify-content-between flex-column text-right order-lg-2 order-1">
                                <div class="chart-dropdown" ngbDropdown>
                                    <button
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="btn btn-sm border-0 p-50"
                                            data-toggle="dropdown"
                                            id="dropdownItem5"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        Last 7 Days
                                    </button>
                                    <div aria-labelledby="dropdownItem5" ngbDropdownMenu>
                                        <a href="javascript:void(0);" ngbDropdownItem>Last 28 Days</a>
                                        <a href="javascript:void(0);" ngbDropdownItem>Last Month</a>
                                        <a href="javascript:void(0);" ngbDropdownItem>Last Year</a>
                                    </div>
                                </div>
                                <div #avgSessionChartRef id="avgsessionChartoptions">
                                    <!-- Apexchart component-->
                                    <apx-chart
                                            [chart]="{
                      type: 'bar',
                      height: 200,
                      width:
                        isMenuToggled === true ? avgSessionChartRef.offsetWidth : avgsessionChartoptions.chart.width,
                      sparkline: { enabled: true },
                      toolbar: { show: false }
                    }"
                                            [colors]="avgsessionChartoptions.colors"
                                            [plotOptions]="avgsessionChartoptions.plotOptions"
                                            [series]="data.avgSessions.series"
                                            [states]="avgsessionChartoptions.states"
                                            [tooltip]="avgsessionChartoptions.tooltip"
                                    ></apx-chart>
                                    <!-- / Apexchart component-->
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row avg-sessions pt-50">
                            <div class="col-6 mb-2">
                                <p class="mb-50">Goal: {{ data.avgSessions.analyticsData.goal }}</p>

                                <ngb-progressbar
                                        [height]="'6px'"
                                        [value]="data.avgSessions.analyticsData.goalProgressbar"
                                        type="primary"
                                ></ngb-progressbar>
                            </div>
                            <div class="col-6 mb-2">
                                <p class="mb-50">Users: {{ data.avgSessions.analyticsData.users }}</p>

                                <ngb-progressbar
                                        [height]="'6px'"
                                        [value]="data.avgSessions.analyticsData.retentionProgressbar"
                                        type="warning"
                                ></ngb-progressbar>
                            </div>
                            <div class="col-6">
                                <p class="mb-50">Retention: {{ data.avgSessions.analyticsData.retention }}</p>

                                <ngb-progressbar
                                        [height]="'6px'"
                                        [value]="data.avgSessions.analyticsData.usersProgressbar"
                                        type="danger"
                                ></ngb-progressbar>
                            </div>
                            <div class="col-6">
                                <p class="mb-50">Duration: {{ data.avgSessions.analyticsData.duration }}</p>

                                <ngb-progressbar
                                        [height]="'6px'"
                                        [value]="data.avgSessions.analyticsData.durationProgressbar"
                                        type="success"
                                ></ngb-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Average Sessions Card -->

            <!-- Support Tracker Card -->
            <div class="col-lg-6 col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between pb-0">
                        <h4 class="card-title">Support Tracker</h4>
                        <div class="chart-dropdown" ngbDropdown>
                            <button
                                    aria-expanded="false"
                                    aria-haspopup="true"
                                    class="btn btn-sm border-0 p-50"
                                    data-toggle="dropdown"
                                    id="dropdownItem4"
                                    ngbDropdownToggle
                                    rippleEffect
                                    type="button"
                            >
                                Last 7 Days
                            </button>
                            <div aria-labelledby="dropdownItem4" class="dropdown-menu-right" ngbDropdownMenu>
                                <a href="javascript:void(0);" ngbDropdownItem>Last 28 Days</a>
                                <a href="javascript:void(0);" ngbDropdownItem>Last Month</a>
                                <a href="javascript:void(0);" ngbDropdownItem>Last Year</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 col-12 d-flex flex-column flex-wrap text-center">
                                <h1 class="font-large-2 font-weight-bolder mt-2 mb-0">
                                    {{ data.supportTracker.analyticsData.tickets }}
                                </h1>
                                <p class="card-text">Tickets</p>
                            </div>
                            <div #supportChartRef class="col-sm-10 col-12 d-flex justify-content-center">
                                <div id="supportChartoptions">
                                    <!-- Apexchart component-->
                                    <apx-chart
                                            [chart]="{
                      height: 290,
                      width: isMenuToggled === true ? supportChartRef.offsetWidth : supportChartoptions.chart.width,
                      type: 'radialBar',
                      sparkline: {
                        enabled: false
                      }
                    }"
                                            [colors]="supportChartoptions.colors"
                                            [fill]="supportChartoptions.fill"
                                            [labels]="supportChartoptions.labels"
                                            [plotOptions]="supportChartoptions.plotOptions"
                                            [series]="data.supportTracker.series"
                                            [stroke]="supportChartoptions.stroke"
                                    ></apx-chart>
                                    <!-- / Apexchart component-->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <div class="text-center">
                                <p class="card-text mb-50">New Tickets</p>
                                <span class="font-large-1 font-weight-bold">{{ data.supportTracker.analyticsData.newTickets }}</span>
                            </div>
                            <div class="text-center">
                                <p class="card-text mb-50">Open Tickets</p>
                                <span class="font-large-1 font-weight-bold">{{ data.supportTracker.analyticsData.openTickets }}</span>
                            </div>
                            <div class="text-center">
                                <p class="card-text mb-50">Response Time</p>
                                <span class="font-large-1 font-weight-bold">{{ data.supportTracker.analyticsData.responseTime }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Support Tracker Card -->
        </div>

        <div class="row match-height">
            <!-- User Timeline -->
            <div class="col-lg-4 col-12">
                <div class="card card-user-timeline">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <i class="user-timeline-title-icon" data-feather="list"></i>
                            <h4 class="card-title">User Timeline</h4>
                        </div>
                        <i class="font-medium-3 cursor-pointer" data-feather="more-vertical"></i>
                    </div>
                    <div class="card-body">
                        <ul class="timeline ml-50 mb-0">
                            <li class="timeline-item">
                                <span class="timeline-point timeline-point-indicator"></span>
                                <div class="timeline-event">
                                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                        <h6>12 Invoices have been paid</h6>
                                        <span class="timeline-event-time mr-1">12 min ago</span>
                                    </div>
                                    <p>Invoices have been paid to the company.</p>
                                    <div class="media align-items-center">
                                        <img alt="data.json" class="mr-1" height="23"
                                             src="assets/images/icons/json.png"/>
                                        <h6 class="media-body mb-0">data.json</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                                <div class="timeline-event">
                                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                        <h6>Client Meeting</h6>
                                        <span class="timeline-event-time mr-1">45 min ago</span>
                                    </div>
                                    <p>Project meeting with john @10:15am</p>
                                    <div class="media align-items-center">
                                        <div class="avatar mr-50">
                                            <img alt="Avatar" height="38"
                                                 src="assets/images/portrait/small/avatar-s-9.jpg" width="38"/>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-0">John Doe (Client)</h6>
                                            <p class="mb-0">CEO of Infibeam</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                                <div class="timeline-event">
                                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                        <h6>Create a new project for client</h6>
                                        <span class="timeline-event-time mr-1">2 day ago</span>
                                    </div>
                                    <p>Add files to new design folder</p>
                                    <div class="avatar-group">
                                        <div
                                                class="avatar pull-up"
                                                data-original-title="Billy Hopkins"
                                                data-placement="bottom"
                                                data-popup="tooltip-custom"
                                                data-toggle="tooltip"
                                        >
                                            <img alt="Avatar" height="33"
                                                 src="assets/images/portrait/small/avatar-s-9.jpg" width="33"/>
                                        </div>
                                        <div
                                                class="avatar pull-up"
                                                data-original-title="Amy Carson"
                                                data-placement="bottom"
                                                data-popup="tooltip-custom"
                                                data-toggle="tooltip"
                                        >
                                            <img alt="Avatar" height="33"
                                                 src="assets/images/portrait/small/avatar-s-6.jpg" width="33"/>
                                        </div>
                                        <div
                                                class="avatar pull-up"
                                                data-original-title="Brandon Miles"
                                                data-placement="bottom"
                                                data-popup="tooltip-custom"
                                                data-toggle="tooltip"
                                        >
                                            <img alt="Avatar" height="33"
                                                 src="assets/images/portrait/small/avatar-s-8.jpg" width="33"/>
                                        </div>
                                        <div
                                                class="avatar pull-up"
                                                data-original-title="Daisy Weber"
                                                data-placement="bottom"
                                                data-popup="tooltip-custom"
                                                data-toggle="tooltip"
                                        >
                                            <img alt="Avatar" height="33"
                                                 src="assets/images/portrait/small/avatar-s-7.jpg" width="33"/>
                                        </div>
                                        <div
                                                class="avatar pull-up"
                                                data-original-title="Jenny Looper"
                                                data-placement="bottom"
                                                data-popup="tooltip-custom"
                                                data-toggle="tooltip"
                                        >
                                            <img alt="Avatar" height="33"
                                                 src="assets/images/portrait/small/avatar-s-20.jpg" width="33"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <span class="timeline-point timeline-point-danger timeline-point-indicator"></span>
                                <div class="timeline-event">
                                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                        <h6>Create a new project for client</h6>
                                        <span class="timeline-event-time mr-1">5 day ago</span>
                                    </div>
                                    <p class="mb-0">Add files to new design folder</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ User Timeline -->
            <!-- Sales Polygon Chart Card -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-start pb-1">
                        <div>
                            <h4 class="card-title mb-25">Sales</h4>
                            <p class="card-text">Last 6 months</p>
                        </div>
                        <div ngbDropdown>
                            <button
                                    aria-expanded="false"
                                    aria-haspopup="true"
                                    class="btn btn-sm border-0 p-0 hide-arrow"
                                    data-toggle="dropdown"
                                    id="dropdownItem4"
                                    ngbDropdownToggle
                                    rippleEffect
                                    type="button"
                            >
                                <i class="font-medium-3 cursor-pointer" data-feather="more-vertical"></i>
                            </button>
                            <div aria-labelledby="dropdownItem4" class="dropdown-menu-right" ngbDropdownMenu>
                                <a href="javascript:void(0);" ngbDropdownItem>Last 28 Days</a>
                                <a href="javascript:void(0);" ngbDropdownItem>Last Month</a>
                                <a href="javascript:void(0);" ngbDropdownItem>Last Year</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-inline-block mr-1">
                            <div class="d-flex align-items-center">
                                <i class="font-small-3 text-primary mr-50" data-feather="circle"></i>
                                <h6 class="mb-0">Sales</h6>
                            </div>
                        </div>
                        <div class="d-inline-block">
                            <div class="d-flex align-items-center">
                                <i class="font-small-3 text-info mr-50" data-feather="circle"></i>
                                <h6 class="mb-0">Visits</h6>
                            </div>
                        </div>
                        <div #salesChartRef id="salesChartoptions">
                            <!-- Apexchart component-->
                            <apx-chart
                                    [chart]="{
                  height: 330,
                  width: isMenuToggled === true ? salesChartRef.offsetWidth : salesChartoptions.chart.width,
                  type: 'radar',
                  dropShadow: {
                    enabled: true,
                    blur: 8,
                    left: 1,
                    top: 1,
                    opacity: 0.2
                  },
                  toolbar: {
                    show: false
                  }
                }"
                                    [colors]="salesChartoptions.colors"
                                    [dataLabels]="salesChartoptions.dataLabels"
                                    [dataLabels]="salesChartoptions.dataLabels"
                                    [fill]="salesChartoptions.fill"
                                    [labels]="salesChartoptions.labels"
                                    [legend]="salesChartoptions.legend"
                                    [markers]="salesChartoptions.markers"
                                    [plotOptions]="salesChartoptions.plotOptions"
                                    [series]="data.salesLastSixMonths.series"
                                    [stroke]="salesChartoptions.stroke"
                                    [yaxis]="salesChartoptions.yaxis"
                            ></apx-chart>
                            <!-- / Apexchart component-->
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Sales Polygon Chart Card -->

            <!-- App Design Card -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card card-app-design">
                    <div class="card-body">
                        <div class="badge badge-light-primary">03 Sep, 20</div>
                        <h4 class="card-title mt-1 mb-75 pt-25">App design</h4>
                        <p class="card-text font-small-2 mb-2">
                            You can Find Only Post and Quotes Related to IOS like ipad app design, iphone app design
                        </p>
                        <div class="design-group mb-2 pt-50">
                            <h6 class="section-label">Team</h6>
                            <div class="badge badge-light-warning mr-1">Figma</div>
                            <div class="badge badge-light-primary">Wireframe</div>
                        </div>
                        <div class="design-group pt-25">
                            <h6 class="section-label">Members</h6>
                            <div class="avatar">
                                <img alt="Avatar" height="34" src="assets/images/portrait/small/avatar-s-9.jpg"
                                     width="34"/>
                            </div>
                            <div class="avatar bg-light-danger">
                                <div class="avatar-content">PI</div>
                            </div>
                            <div class="avatar">
                                <img alt="Avatar" height="34" src="assets/images/portrait/small/avatar-s-14.jpg"
                                     width="34"/>
                            </div>
                            <div class="avatar">
                                <img alt="Avatar" height="34" src="assets/images/portrait/small/avatar-s-7.jpg"
                                     width="34"/>
                            </div>
                            <div class="avatar bg-light-secondary">
                                <div class="avatar-content">AL</div>
                            </div>
                        </div>
                        <div class="design-planning-wrapper mb-2 py-75">
                            <div class="design-planning">
                                <p class="card-text mb-25">Due Date</p>
                                <h6 class="mb-0">12 Apr, 21</h6>
                            </div>
                            <div class="design-planning">
                                <p class="card-text mb-25">Budget</p>
                                <h6 class="mb-0">$49251.91</h6>
                            </div>
                            <div class="design-planning">
                                <p class="card-text mb-25">Cost</p>
                                <h6 class="mb-0">$840.99</h6>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" rippleEffect type="button">Join Team</button>
                    </div>
                </div>
            </div>
            <!--/ App Design Card -->
        </div>

        <app-invoice-list></app-invoice-list>
    </div>
</div>
