<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Basic Horizontal form layout section start -->
        <section id="basic-horizontal-layouts">
            <div class="row match-height">
                <div class="col-md-6 col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeHorizontal">
                        <h4 class="card-title">Horizontal Form</h4>

                        <div class="card-body">
                            <form class="form form-horizontal">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="first-name">First Name</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="first-name" name="fname" placeholder="First Name"
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="email-id">Email</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="email-id" name="email-id" placeholder="Email"
                                                       type="email"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="contact-info">Mobile</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input
                                                        class="form-control"
                                                        id="contact-info"
                                                        name="contact"
                                                        placeholder="Mobile"
                                                        type="number"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="password">Password</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input
                                                        class="form-control"
                                                        id="password"
                                                        name="password"
                                                        placeholder="Password"
                                                        type="password"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="customCheck1" type="checkbox"/>
                                                <label class="custom-control-label" for="customCheck1">Remember
                                                    me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 offset-sm-3">
                                        <button class="btn btn-primary mr-1" rippleEffect type="submit">Submit</button>
                                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-md-6 col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeIcons">
                        <h4 class="card-title">Horizontal Form with Icons</h4>

                        <div class="card-body">
                            <form class="form form-horizontal">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="fname-icon">First Name</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span
                                                                [data-feather]="'user'"></span></span>
                                                    </div>
                                                    <input
                                                            class="form-control"
                                                            id="fname-icon"
                                                            name="fname-icon"
                                                            placeholder="First Name"
                                                            type="text"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="email-icon">Email</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span
                                                                [data-feather]="'mail'"></span></span>
                                                    </div>
                                                    <input
                                                            class="form-control"
                                                            id="email-icon"
                                                            name="email-id-icon"
                                                            placeholder="Email"
                                                            type="email"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="contact-icon">Mobile</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span
                                                                [data-feather]="'smartphone'"></span></span>
                                                    </div>
                                                    <input
                                                            class="form-control"
                                                            id="contact-icon"
                                                            name="contact-icon"
                                                            placeholder="Mobile"
                                                            type="number"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="pass-icon">Password</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span
                                                                [data-feather]="'lock'"></span></span>
                                                    </div>
                                                    <input
                                                            class="form-control"
                                                            id="pass-icon"
                                                            name="contact-icon"
                                                            placeholder="Password"
                                                            type="password"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="customCheck2" type="checkbox"/>
                                                <label class="custom-control-label" for="customCheck2">Remember
                                                    me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 offset-sm-3">
                                        <button class="btn btn-primary mr-1" rippleEffect type="submit">Submit</button>
                                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- / Basic Horizontal form layout section end -->

        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row match-height">
                <div class="col-md-6 col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeVertical">
                        <h4 class="card-title">Vertical Form</h4>

                        <div class="card-body">
                            <form class="form form-vertical">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-vertical">First Name</label>
                                            <input
                                                    class="form-control"
                                                    id="first-name-vertical"
                                                    name="fname"
                                                    placeholder="First Name"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="email-id-vertical">Email</label>
                                            <input
                                                    class="form-control"
                                                    id="email-id-vertical"
                                                    name="email-id"
                                                    placeholder="Email"
                                                    type="email"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="contact-info-vertical">Mobile</label>
                                            <input
                                                    class="form-control"
                                                    id="contact-info-vertical"
                                                    name="contact"
                                                    placeholder="Mobile"
                                                    type="number"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="password-vertical">Password</label>
                                            <input
                                                    class="form-control"
                                                    id="password-vertical"
                                                    name="contact"
                                                    placeholder="Password"
                                                    type="password"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="customCheck3" type="checkbox"/>
                                                <label class="custom-control-label" for="customCheck3">Remember
                                                    me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary mr-1" rippleEffect type="submit">Submit</button>
                                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-md-6 col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeVertiacalIcons">
                        <h4 class="card-title">Vertical Form with Icons</h4>
                        <div class="card-body">
                            <form class="form form-vertical">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-icon">First Name</label>
                                            <div class="input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                                </div>
                                                <input
                                                        class="form-control"
                                                        id="first-name-icon"
                                                        name="fname-icon"
                                                        placeholder="First Name"
                                                        type="text"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="email-id-icon">Email</label>
                                            <div class="input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                                </div>
                                                <input
                                                        class="form-control"
                                                        id="email-id-icon"
                                                        name="email-id-icon"
                                                        placeholder="Email"
                                                        type="email"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="contact-info-icon">Mobile</label>
                                            <div class="input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><span
                                                            [data-feather]="'smartphone'"></span></span>
                                                </div>
                                                <input
                                                        class="form-control"
                                                        id="contact-info-icon"
                                                        name="contact-icon"
                                                        placeholder="Mobile"
                                                        type="number"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="password-icon">Password</label>
                                            <div class="input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
                                                </div>
                                                <input
                                                        class="form-control"
                                                        id="password-icon"
                                                        name="contact-icon"
                                                        placeholder="Password"
                                                        type="password"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="customCheck4" type="checkbox"/>
                                                <label class="custom-control-label" for="customCheck4">Remember
                                                    me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary mr-1" rippleEffect type="submit">Submit</button>
                                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- / Basic Vertical form layout section end -->

        <!-- / Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeMultiple">
                        <h4 class="card-title">Multiple Column</h4>
                        <div class="card-body">
                            <form class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">First Name</label>
                                            <input
                                                    class="form-control"
                                                    id="first-name-column"
                                                    name="fname-column"
                                                    placeholder="First Name"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Last Name</label>
                                            <input
                                                    class="form-control"
                                                    id="last-name-column"
                                                    name="lname-column"
                                                    placeholder="Last Name"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="city-column">City</label>
                                            <input class="form-control" id="city-column" name="city-column" placeholder="City"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="country-floating">Country</label>
                                            <input
                                                    class="form-control"
                                                    id="country-floating"
                                                    name="country-floating"
                                                    placeholder="Country"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Company</label>
                                            <input
                                                    class="form-control"
                                                    id="company-column"
                                                    name="company-column"
                                                    placeholder="Company"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Email</label>
                                            <input
                                                    class="form-control"
                                                    id="email-id-column"
                                                    name="email-id-column"
                                                    placeholder="Email"
                                                    type="email"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary mr-1" rippleEffect type="submit">Submit</button>
                                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic multiple Column Form section end -->
    </div>
</div>
