<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Content-Header Component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <section id="bar-and-hori-bar-charts">
            <div class="row">
                <!-- Bar Chart Start -->
                <div class="col-xl-6 col-12">
                    <div class="card">
                        <div
                                class="card-header d-flex justify-content-between align-items-sm-center align-items-start flex-sm-row flex-column"
                        >
                            <div class="header-left">
                                <h4 class="card-title">Latest Statistics</h4>
                            </div>
                            <div class="header-right d-flex align-items-center mt-sm-0 mt-1">
                                <i class="font-medium-2" data-feather="calendar"></i>
                                <ng2-flatpickr [config]="DateRangeOptions" name="DateRange"></ng2-flatpickr>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="chartjs-bar-chart">
                                <canvas
                                        #barChartRef
                                        [chartType]="barChart.chartType"
                                        [datasets]="barChart.datasets"
                                        [labels]="barChart.labels"
                                        [legend]="barChart.legend"
                                        [options]="barChart.options"
                                        baseChart
                                        height="400"
                                >
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Horizontal Bar Chart Start -->
                <div class="col-xl-6 col-12">
                    <div class="card">
                        <div
                                class="card-header d-flex justify-content-between align-items-sm-center align-items-start flex-sm-row flex-column"
                        >
                            <div class="header-left">
                                <p class="card-subtitle text-muted mb-25">Balance</p>
                                <h4 class="card-title">$74,123</h4>
                            </div>
                            <div class="header-right d-flex align-items-center mt-sm-0 mt-1">
                                <i class="font-medium-2" data-feather="calendar"></i>
                                <ng2-flatpickr [config]="DateRangeOptions" name="DateRange"></ng2-flatpickr>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="horiBarChart.chartType"
                                    [datasets]="horiBarChart.datasets"
                                    [labels]="horiBarChart.labels"
                                    [legend]="horiBarChart.legend"
                                    [options]="horiBarChart.options"
                                    baseChart
                                    class="horizontal-bar-chart-ex chartjs"
                                    height="400"
                            ></canvas>
                        </div>
                    </div>
                </div>
                <!--/ Horizontal Bar Chart End -->
            </div>
        </section>

        <section id="line-chart">
            <!-- Line Chart Starts-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h4 class="card-title">Statistics</h4>
                                <span class="card-subtitle text-muted">Commercial networks and enterprises</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="lineChart.chartType"
                                    [datasets]="lineChart.datasets"
                                    [labels]="lineChart.labels"
                                    [options]="lineChart.options"
                                    [plugins]="plugins"
                                    baseChart
                                    class="line-chart-ex chartjs"
                                    height="400"
                            ></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Line Chart Ends-->
        </section>

        <section id="radar-and-polar-charts">
            <div class="row">
                <!-- Radar Chart Starts-->
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-row justify-content-between align-items-center">
                            <h4 class="card-title">Radar Chart</h4>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="tooltip-placeholder" id="tooltip"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="radarChart.chartType"
                                    [datasets]="radarChart.datasets"
                                    [labels]="radarChart.labels"
                                    [options]="radarChart.options"
                                    [plugins]="plugins"
                                    baseChart
                                    class="radar-chart-ex chartjs"
                                    height="355"
                            ></canvas>
                        </div>
                    </div>
                </div>
                <!--/ Radar Chart Ends-->

                <!-- Polar Area Chart Starts -->
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Average Skills</h4>
                            <div ngbDropdown>
                                <button
                                        aria-expanded="false"
                                        aria-haspopup="true"
                                        class="btn p-0"
                                        data-toggle="dropdown"
                                        id="dropdownItem4"
                                        ngbDropdownToggle
                                        type="button"
                                >
                                    <i class="font-medium-3 cursor-pointer" data-feather="more-vertical"></i>
                                </button>
                                <div aria-labelledby="heat-chart-dd" ngbDropdownMenu>
                                    <a href="javascript:void(0);" ngbDropdownItem>Last 28 Days</a>
                                    <a href="javascript:void(0);" ngbDropdownItem>Last Month</a>
                                    <a href="javascript:void(0);" ngbDropdownItem>Last Year</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="polarAreaChart.chartType"
                                    [datasets]="polarAreaChart.datasets"
                                    [labels]="polarAreaChart.labels"
                                    [options]="polarAreaChart.options"
                                    baseChart
                                    class="polar-area-chart-ex chartjs"
                                    height="350"
                            ></canvas>
                        </div>
                    </div>
                </div>
                <!--/ Polar Area Chart Ends-->
            </div>
        </section>

        <section id="bubble-chart">
            <!-- Bubble Chart Starts -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Bubble Chart</h4>
                            <div class="d-flex align-items-center flex-wrap">
                                <h5 class="font-weight-bolder mb-0 mr-1">$ 100,000</h5>
                                <span class="badge badge-light-secondary">
                  <i class="text-danger font-small-3" data-feather="arrow-down"></i>
                  <span class="align-middle">20%</span>
                </span>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="bubbleChart.chartType"
                                    [datasets]="bubbleChart.datasets"
                                    [options]="bubbleChart.options"
                                    baseChart
                                    class="bubble-chart-ex chartjs"
                                    height="500"
                            ></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Bubble Chart Ends -->
        </section>

        <section id="Donut-and-scatter-charts">
            <div class="row">
                <!-- Donut Chart Starts -->
                <div class="col-lg-4 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Sessions By Device</h4>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="doughnutChart.chartType"
                                    [datasets]="doughnutChart.datasets"
                                    [options]="doughnutChart.options"
                                    baseChart
                                    class="doughnut-chart-ex chartjs mx-auto"
                            >
                            </canvas>
                            <div class="d-flex justify-content-between mt-3 mb-1">
                                <div class="d-flex align-items-center">
                                    <i class="font-medium-2 text-primary" data-feather="monitor"></i>
                                    <span class="font-weight-bold ml-75 mr-25">Desktop</span>
                                    <span>- 80%</span>
                                </div>
                                <div>
                                    <span>2%</span>
                                    <i class="text-success" data-feather="arrow-up"></i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <div class="d-flex align-items-center">
                                    <i class="font-medium-2 text-warning" data-feather="tablet"></i>
                                    <span class="font-weight-bold ml-75 mr-25">Mobile</span>
                                    <span>- 10%</span>
                                </div>
                                <div>
                                    <span>8%</span>
                                    <i class="text-success" data-feather="arrow-up"></i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <i class="font-medium-2 text-success" data-feather="tablet"></i>
                                    <span class="font-weight-bold ml-75 mr-25">Tablet</span>
                                    <span>- 10%</span>
                                </div>
                                <div>
                                    <span>-5%</span>
                                    <i class="text-danger" data-feather="arrow-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Donut Chart Starts -->

                <!-- Scatter Chart Starts  -->
                <div class="col-lg-8 col-12">
                    <div class="card">
                        <div
                                class="card-header d-flex justify-content-between align-items-baseline align-items-sm-center flex-sm-row flex-column"
                        >
                            <div>
                                <h4 class="card-title mb-25">New Product Data</h4>
                            </div>
                            <div
                                    [(ngModel)]="radioModel"
                                    class="btn-group btn-group-toggle mt-md-0 mt-1"
                                    name="radioBasic"
                                    ngbRadioGroup
                            >
                                <label class="btn btn-outline-primary" ngbButtonLabel rippleEffect>
                                    <input [value]="1" id="radio_option1" name="radio_options" ngbButton type="radio"/>
                                    <span>Daily</span>
                                </label>
                                <label class="btn btn-outline-primary" ngbButtonLabel rippleEffect>
                                    <input [value]="2" id="radio_option2" name="radio_options" ngbButton type="radio"/>
                                    <span>Monthly</span>
                                </label>
                                <label class="btn btn-outline-primary" ngbButtonLabel rippleEffect>
                                    <input [value]="3" id="radio_option3" name="radio_options" ngbButton type="radio"/>
                                    <span>Yearly</span>
                                </label>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="scatterChart.chartType"
                                    [datasets]="scatterChart.datasets"
                                    [options]="scatterChart.options"
                                    [plugins]="plugins"
                                    baseChart
                                    class="scatter-chart-ex chartjs"
                                    height="415"
                            ></canvas>
                        </div>
                    </div>
                </div>
                <!--/ Scatter Chart Ends  -->
            </div>
        </section>

        <section id="area-chart">
            <!-- Area Chart Starts -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-baseline flex-sm-row flex-column">
                            <div>
                                <h4 class="card-title">Data Science</h4>
                            </div>
                            <div class="header-right d-flex align-items-center mt-sm-0 mt-1">
                                <i class="font-medium-2" data-feather="calendar"></i>
                                <ng2-flatpickr [config]="DateRangeOptions" name="DateRange"></ng2-flatpickr>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas
                                    [chartType]="lineAreaChart.chartType"
                                    [datasets]="lineAreaChart.datasets"
                                    [labels]="lineAreaChart.labels"
                                    [options]="lineAreaChart.options"
                                    [plugins]="plugins"
                                    baseChart
                                    class="line-area-chart-ex chartjs"
                                    height="450"
                            ></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Area Chart Ends -->
        </section>
    </div>
</div>
