<!-- basic custom context menu component -->
<ul (@menu.done)="_onAnimationDone($event)" [@menu]="_state" class="context-menu-list" style="position: relative">
    <li (click)="handleClick('Clicked Option 1')" class="context-menu-item">Option 1</li>
    <li (click)="handleClick('Clicked Option 2')" class="context-menu-item">Option 2</li>
</ul>
<!--/ basic custom context menu component -->
