<li class="nav-item dropdown-notification mr-25" ngbDropdown>
    <a class="nav-link" id="navbarNotificationDropdown" ngbDropdownToggle
    ><i class="ficon" data-feather="bell"></i
    ><span class="badge badge-pill badge-danger badge-up">{{
            notifications.messages?.length + notifications.systemMessages?.length
        }}</span></a
    >
    <ul
            aria-labelledby="navbarNotificationDropdown"
            class="dropdown-menu dropdown-menu-media dropdown-menu-right"
            ngbDropdownMenu
    >
        <!-- Notifications header -->
        <li class="dropdown-menu-header">
            <div class="dropdown-header d-flex">
                <h4 class="notification-title mb-0 mr-auto">Notifications</h4>
                <div class="badge badge-pill badge-light-primary">
                    {{ notifications.messages?.length + notifications.systemMessages?.length }} New
                </div>
            </div>
        </li>
        <!--/ Notifications header -->

        <!-- Notifications content -->
        <li [perfectScrollbar] class="scrollable-container media-list">
            <a *ngFor="let message of notifications.messages" class="d-flex" href="javascript:void(0)">
                <div class="media d-flex align-items-start">
                    <div class="media-left">
                        <div class="avatar">
                            <img [src]="message.image" alt="avatar" height="32" width="32"/>
                        </div>
                    </div>
                    <div class="media-body">
                        <p [innerHTML]="message.heading" class="media-heading"></p>
                        <small class="notification-text">{{ message.text }}</small>
                    </div>
                </div>
            </a
            >
            <div class="media d-flex align-items-center">
                <h6 class="font-weight-bolder mr-auto mb-0">System Notifications</h6>
                <div class="custom-control custom-control-primary custom-switch">
                    <input
                            [checked]="notifications.system"
                            class="custom-control-input"
                            id="systemNotification"
                            type="checkbox"
                    />
                    <label class="custom-control-label" for="systemNotification"></label>
                </div>
            </div>
            <a *ngFor="let systemMessage of notifications.systemMessages" class="d-flex" href="javascript:void(0)">
                <div class="media d-flex align-items-start">
                    <div class="media-left">
                        <div
                                [ngClass]="{
                'bg-light-danger': systemMessage.icon === 'x',
                'bg-light-success': systemMessage.icon === 'check',
                'bg-light-warning': systemMessage.icon === 'alert-triangle'
              }"
                                class="avatar"
                        >
                            <div class="avatar-content"><i [data-feather]="systemMessage.icon" class="avatar-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <p [innerHTML]="systemMessage.heading" class="media-heading"></p>
                        <small class="notification-text">{{ systemMessage.text }}</small>
                    </div>
                </div>
            </a
            >
        </li>
        <!--/ Notifications content -->

        <!-- Notifications footer -->
        <li class="dropdown-menu-footer">
            <a class="btn btn-primary btn-block" href="javascript:void(0)">Read all notifications</a>
        </li>
        <!--/ Notifications footer -->
    </ul>
</li>
