<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!--                <div class="card">-->
        <!--                    <h5 class="card-header">Search Filter</h5>-->
        <!--                    <div class="card-body">-->
        <!--                        <div class="users-list-filter">-->
        <!--                            <form>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-12 col-md-4">-->
        <!--                                        <fieldset class="form-group">-->
        <!--                                            <ng-select-->
        <!--                                                    [items]="selectAccount"-->
        <!--                                                    [(ngModel)]="selectedRole"-->
        <!--                                                    name="selectedRole"-->
        <!--                                                    bindLabel="name"-->
        <!--                                                    placeholder="Select Account"-->
        <!--                                                    (change)="filterByAccount($event)"-->
        <!--                                            ></ng-select>-->
        <!--                                        </fieldset>-->
        <!--                                    </div>-->

        <!--                                    <div class="col-12 col-md-4">-->
        <!--                                        <fieldset class="form-group">-->
        <!--                                            <ng-select-->
        <!--                                                    [items]="selectStatus"-->
        <!--                                                    [(ngModel)]="selectedStatus"-->
        <!--                                                    name="selectedStatus"-->
        <!--                                                    bindLabel="name"-->
        <!--                                                    placeholder="Select Status"-->
        <!--                                                    (change)="filterByStatus($event)"-->
        <!--                                            ></ng-select>-->
        <!--                                        </fieldset>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </form>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <section id="ngx-datatable-kitchen-sink4">


            <core-card-snippet>
                <h4 class="card-title">Teams List</h4>
                <div class="row">

                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center"
                            >Show
                                <select [(ngModel)]="basicSelectedOption" class="form-control mx-25">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label
                            >
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"
                            >Search<input
                                    (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)"
                                    class="form-control ml-25"
                                    placeholder="Search"
                                    type="search"
                            /></label>
                            <a [routerLink]="['../add']" class="btn  btn-primary ml-1" rippleEffect
                            >Add Team</a
                            >
                            <a [data]="data" class="btn btn-outline-secondary ml-1" csvLink rippleEffect
                            >Export CSV</a
                            >
                        </div>
                    </div>
                </div>
                <ngx-datatable
                    #tableRowDetails
                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [headerHeight]="40"
                    [limit]="basicSelectedOption"
                    [rowHeight]="'auto'"
                    [rows]="rows"
                    [scrollbarH]="true"
                    class="bootstrap core-bootstrap"
                    rowHeight="auto"
                >


                    <ngx-datatable-column name="ID" prop="id">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Name" prop="name">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Department" prop="organizationalUnit">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value.name ? value.name :  value }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Description" prop="description">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Created At" prop="createdAt">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value | date:'short' }}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Manager" prop="manager">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value.firstName + ' ' + value.lastName }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [width]="80" name="Actions">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div container="body" ngbDropdown>
                                <button class="btn icon-btn btn-sm hide-arrow" ngbDropdownToggle rippleEffect
                                        type="button">
                                    <span [class]="'cursor-pointer'" [data-feather]="'more-vertical'"></span>
                                </button>
                                <div ngbDropdownMenu>
                                    <a ngbDropdownItem routerLink="/apps/teams/view/{{ row.id }}"
                                    ><span [class]="'mr-50'" [data-feather]="'file-text'" [size]="16"></span> Details</a
                                    >
                                    <a href="javascript:;" ngbDropdownItem
                                       routerLink="/apps/teams/edit/{{ row.id }}"
                                    ><span [class]="'mr-50'" [data-feather]="'edit'" [size]="16"></span> Edit</a
                                    >
                                    <a (click)="deleteTeam(row.id)" href="javascript:;" ngbDropdownItem
                                    ><span [class]="'mr-50'" [data-feather]="'trash'" [size]="16"></span> Delete</a
                                    >
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </core-card-snippet>
        </section>
    </div>
</div>



