<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
        <img alt="brand-logo" height="28" src="{{ coreConfig.app.appLogoImage }}"/>
        <h2 class="brand-text text-primary ml-1">Telnet</h2></a
    >
        <!-- /Brand logo-->
        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                <img
                        [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/reset-password-v2-dark.svg'
              : 'assets/images/pages/reset-password-v2.svg'
          "
                        alt="Register V2"
                        img-fluid="img-fluid"
                />
            </div>
        </div>
        <!-- /Left Text-->
        <!-- Reset password-->
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h2 class="card-title font-weight-bold mb-1">Reset Password 🔒</h2>
                <p class="card-text mb-2">Your new password must be different from previously used passwords</p>
                <form  class="auth-reset-password-form mt-2">
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="newPassword">New Password</label>
                        </div>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input
                                    id="newPassword"
                                    [ngClass]="{ 'is-invalid error': submitted && f.newPassword.errors }"
                                    [type]="passwordTextType ? 'text' : 'password'"
                                    aria-describedby="reset-password-new"
                                    autofocus
                                    class="form-control form-control-merge"
                                    name="newPassword"
                                    [(ngModel)]="newPassword"
                                    placeholder="············"
                                    tabindex="1"
                            />
                            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                        (click)="togglePasswordTextType()"
                        [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                        class="feather font-small-4"
                ></i
                ></span>
                            </div>
                        </div>
                        <div
                                *ngIf="submitted && f.newPassword.errors"
                                [ngClass]="{ 'd-block': submitted && f.newPassword.errors }"
                                class="invalid-feedback"
                        >
                            <div *ngIf="f.newPassword.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="confirmPassword">Confirm Password</label>
                        </div>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input
                                    id="confirmPassword"
                                    [ngClass]="{ 'is-invalid error': submitted && f.confirmPassword.errors }"
                                    [type]="confPasswordTextType ? 'text' : 'password'"
                                    aria-describedby="reset-password-confirm"
                                    class="form-control form-control-merge"
                                    name="confirmPassword"
                                    [(ngModel)]="confirmPassword"
                                    placeholder="············"
                                    tabindex="2"
                            />
                            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                        (click)="toggleConfPasswordTextType()"
                        [ngClass]="{
                      'icon-eye-off': confPasswordTextType,
                      'icon-eye': !confPasswordTextType
                    }"
                        class="feather font-small-4"
                ></i
                ></span>
                            </div>
                        </div>
                        <div
                                *ngIf="submitted && f.confirmPassword.errors"
                                [ngClass]="{ 'd-block': submitted && f.confirmPassword.errors }"
                                class="invalid-feedback"
                        >
                            <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" rippleEffect tabindex="3" (click)="resetPassword()">Set New Password</button>
                </form>
                <p class="text-center mt-2">
                    <a routerLink="/pages/authentication/login-v2"
                    ><i class="mb-25" data-feather="chevron-left"></i> Back to login</a
                    >
                </p>
            </div>
        </div>
        <!-- /Reset password-->
    </div>
</div>
