<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Input Group Basic & Merged Start -->
        <section id="input-group-basic-merged">
            <div class="row match-height">
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeBasic">
                        <h4 class="card-title">Basic</h4>

                        <div class="card-body">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="search"></i></span>
                                </div>
                                <input
                                        aria-describedby="basic-addon-search1"
                                        aria-label="Search..."
                                        class="form-control"
                                        placeholder="Search..."
                                        type="text"
                                />
                            </div>

                            <label for="basic-default-password">Password</label>
                            <div class="input-group form-password-toggle mb-2">
                                <input
                                        [type]="basicPwdShow ? 'text' : 'password'"
                                        aria-describedby="basic-default-password"
                                        class="form-control"
                                        id="basic-default-password"
                                        placeholder="Your Password"
                                />
                                <div (click)="basicPwdShow = !basicPwdShow" class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                  ><i
                          [ngClass]="{
                        'icon-eye-off': basicPwdShow,
                        'icon-eye': !basicPwdShow
                      }"
                          class="feather"
                  ></i
                  ></span>
                                </div>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input
                                        aria-describedby="basic-addon1"
                                        aria-label="Username"
                                        class="form-control"
                                        placeholder="Username"
                                        type="text"
                                />
                            </div>

                            <div class="input-group mb-2">
                                <input
                                        aria-describedby="basic-addon2"
                                        aria-label="Recipient's username"
                                        class="form-control"
                                        placeholder="Recipient's username"
                                        type="text"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                                </div>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                </div>
                                <input aria-describedby="basic-addon3" class="form-control" id="basic-url3"
                                       type="text"/>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input aria-label="Amount (to the nearest dollar)" class="form-control" placeholder="100"
                                       type="text"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">With textarea</span>
                                </div>
                                <textarea aria-label="With textarea" class="form-control"></textarea>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeMerged">
                        <h4 class="card-title">Merged</h4>

                        <div class="card-body">
                            <div class="input-group input-group-merge mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon-search2"><i
                                            data-feather="search"></i></span>
                                </div>
                                <input
                                        aria-describedby="basic-addon-search2"
                                        aria-label="Search..."
                                        class="form-control"
                                        placeholder="Search..."
                                        type="text"
                                />
                            </div>

                            <label for="basic-default-password1">Password</label>
                            <div class="input-group input-group-merge form-password-toggle mb-2">
                                <input
                                        [type]="mergedPwdShow ? 'text' : 'password'"
                                        aria-describedby="basic-default-password1"
                                        class="form-control"
                                        id="basic-default-password1"
                                        placeholder="Your Password"
                                />
                                <div (click)="mergedPwdShow = !mergedPwdShow" class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                  ><i
                          [ngClass]="{
                        'icon-eye-off': mergedPwdShow,
                        'icon-eye': !mergedPwdShow
                      }"
                          class="feather"
                  ></i
                  ></span>
                                </div>
                            </div>

                            <div class="input-group input-group-merge mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon5">@</span>
                                </div>
                                <input
                                        aria-describedby="basic-addon5"
                                        aria-label="Username"
                                        class="form-control"
                                        placeholder="Username"
                                        type="text"
                                />
                            </div>

                            <div class="input-group input-group-merge mb-2">
                                <input
                                        aria-describedby="basic-addon6"
                                        aria-label="Recipient's username"
                                        class="form-control"
                                        placeholder="Recipient's username"
                                        type="text"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon6">@example.com</span>
                                </div>
                            </div>

                            <div class="input-group input-group-merge mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon7">https://example.com/users/</span>
                                </div>
                                <input aria-describedby="basic-addon7" class="form-control" id="basic-url7"
                                       type="text"/>
                            </div>

                            <div class="input-group input-group-merge mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input aria-label="Amount (to the nearest dollar)" class="form-control" placeholder="100"
                                       type="text"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">With textarea</span>
                                </div>
                                <textarea aria-label="With textarea" class="form-control"></textarea>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Input Group Basic & Merged Ends -->

        <!-- Input Group Sizing & Checkbox and radio addons Start -->
        <section id="input-group-sizing">
            <div class="row match-height">
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeSizing">
                        <h4 class="card-title">Sizing</h4>

                        <div class="card-body">
                            <div class="input-group input-group-lg mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input class="form-control" placeholder="Username" type="text"/>
                            </div>

                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input class="form-control" placeholder="Username" type="text"/>
                            </div>

                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input class="form-control" placeholder="Username" type="text"/>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeCheckBox">
                        <h4 class="card-title">Checkbox and radio addons</h4>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox"/>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="Message" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="radio"/>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="Message" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <small class="font-weight-semibold w-100 ml-1 my-1">Custom checkbox and radio</small>
                                <div class="col-md">
                                    <!-- Custom checkbox -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="colorCheck1"
                                                               type="checkbox"/>
                                                        <label class="custom-control-label" for="colorCheck1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="Message" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <!-- Custom radio -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input" id="customRadio1" name="customRadio"
                                                               type="radio"/>
                                                        <label class="custom-control-label" for="customRadio1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="Message" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Input Group Sizing & Checkbox and radio addons Ends -->
        <!-- Inputs Group with Buttons -->
        <section id="input-group-buttons">
            <div class="row">
                <div class="col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeButton">
                        <h4 class="card-title">Input Groups with Buttons</h4>

                        <div class="card-body">
                            <p class="card-text">
                                Add span with <code>.input-group-btn</code> class and add button inside <b>before</b> or
                                <b>after </b>
                                <code>&lt;input&gt;</code>.
                            </p>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <input
                                                aria-describedby="button-addon2"
                                                class="form-control"
                                                placeholder="Button on right"
                                                type="text"
                                        />
                                        <div class="input-group-append" id="button-addon2">
                                            <button class="btn btn-outline-primary" rippleEffect type="button">Go
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" rippleEffect type="button">
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input aria-label="Amount" class="form-control" placeholder="Button on both side"
                                               type="text"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" rippleEffect type="button">Search
                                                !
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Inputs Group with Buttons end -->

        <!-- Inputs Group with Dropdown -->
        <section id="input-group-dropdown">
            <div class="row">
                <div class="col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeDropdown">
                        <h4 class="card-title">Input Groups with Dropdown</h4>

                        <div class="card-body">
                            <p class="card-text">
                                Add <code>&lt;button&gt;</code> with <code>.dropdown-toggle</code> class and add
                                dropdown-menu after it
                                to get input group with dropdown.
                            </p>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="input-group-prepend" ngbDropdown>
                                                <button
                                                        aria-expanded="false"
                                                        aria-haspopup="true"
                                                        class="btn btn-outline-primary"
                                                        data-toggle="dropdown"
                                                        ngbDropdownToggle
                                                        rippleEffect
                                                        type="button"
                                                >
                                                    Action
                                                </button>
                                                <div ngbDropdownMenu>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Action</a>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Another action</a>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Something else here</a>
                                                    <div class="dropdown-divider" role="separator"></div>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="Dropdown on left" type="text"/>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12 mb-1">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="input-group-prepend" ngbDropdown>
                                                <button
                                                        aria-expanded="false"
                                                        aria-haspopup="true"
                                                        class="btn btn-outline-primary"
                                                        data-toggle="dropdown"
                                                        ngbDropdownToggle
                                                        rippleEffect
                                                        type="button"
                                                >
                                                    <i data-feather="edit-2"></i>
                                                </button>
                                                <div ngbDropdownMenu>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Action</a>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Another action</a>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Something else here</a>
                                                    <div class="dropdown-divider" role="separator"></div>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                                </div>
                                            </div>
                                            <input aria-label="Amount" class="form-control" placeholder="Dropdown on both side"
                                                   type="text"/>
                                            <div class="input-group-append" ngbDropdown>
                                                <button
                                                        aria-expanded="false"
                                                        aria-haspopup="true"
                                                        class="btn btn-outline-primary"
                                                        data-toggle="dropdown"
                                                        ngbDropdownToggle
                                                        rippleEffect
                                                        type="button"
                                                >
                                                    Action
                                                </button>
                                                <div class="dropdown-menu-right" ngbDropdownMenu>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Action</a>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Another action</a>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Something else here</a>
                                                    <div class="dropdown-divider" role="separator"></div>
                                                    <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Inputs Group with Dropdown end -->
    </div>
</div>
