<div class="card ecommerce-card">
    <div class="item-img">
        <a [routerLink]="'/apps/e-commerce/details/' + product.id">
            <img [src]="product.image" alt="img-placeholder"/>
        </a>
    </div>
    <div class="card-body">
        <div class="item-name">
            <h6 class="mb-0">
                <a [routerLink]="'/apps/e-commerce/details/' + product.id" class="text-body">{{ product.name }}</a>
            </h6>
            <span class="item-company"
            >By <a class="company-name" href="javascript:void(0)">{{ product.brand }}</a></span
            >
            <div class="item-rating">
                <div class="rating rating-sm">
                    <ngb-rating [max]="5" [rate]="product.rating" [readonly]="true" class="outline-none">
                        <ng-template let-fill="fill" let-index="index"
                        ><span [class.fa-star]="fill === 100" class="fa fa-star-o mr-25"></span
                        ></ng-template>
                    </ngb-rating>
                </div>
            </div>
        </div>
        <span class="text-success mb-1">In Stock</span>
        <div class="item-quantity">
            <span class="quantity-title">Qty:</span>
            <div class="quantity-counter-wrapper">
                <core-touchspin [maxValue]="10" [minValue]="1" [numberValue]="1" [stepValue]="1"></core-touchspin>
            </div>
        </div>
        <span class="delivery-date text-muted">Delivery by, Wed Apr 25</span>
        <span class="text-success">17% off 4 offers Available</span>
    </div>
    <div class="item-options text-center">
        <div class="item-wrapper">
            <div class="item-cost">
                <h4 class="item-price">${{ product.price }}</h4>
                <p *ngIf="product.hasFreeShipping" class="card-text shipping">
                    <span class="badge badge-pill badge-light-success">Free Shipping</span>
                </p>
            </div>
        </div>
        <button (click)="removeFromCart(product)" class="btn btn-light mt-1 remove-wishlist" rippleEffect type="button">
            <i class="align-middle mr-25" data-feather="x"></i>
            <span>Remove</span>
        </button>
        <button (click)="toggleWishlist(product)" class="btn btn-primary btn-cart move-cart" rippleEffect type="button">
            <i
                    [ngClass]="product.isInWishlist === true ? 'fa-heart text-white' : 'fa-heart-o'"
                    class="align-middle fa mr-25"
            ></i>
            <span class="text-truncate">Add to Wishlist</span>
        </button>
    </div>
</div>
