<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Content-Header Component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!--  Checkbox Basic Start -->
        <section id="checkbox-basic">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBasic">
                        <h4 class="card-title">Basic Checkboxes</h4>
                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <div class="form-check form-check-inline">
                                    <input checked class="form-check-input" id="inlineCheckbox1" type="checkbox"
                                           value="checked"/>
                                    <label class="form-check-label" for="inlineCheckbox1">Checked</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="inlineCheckbox2" type="checkbox"
                                           value="unchecked"/>
                                    <label class="form-check-label" for="inlineCheckbox2">Unchecked</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                            checked
                                            class="form-check-input"
                                            disabled
                                            id="inlineCheckbox3"
                                            type="checkbox"
                                            value="checked-disabled"
                                    />
                                    <label class="form-check-label" for="inlineCheckbox3">Checked disabled</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            disabled
                                            id="inlineCheckbox4"
                                            type="checkbox"
                                            value="unchecked-disabled"
                                    />
                                    <label class="form-check-label" for="inlineCheckbox4">Unchecked disabled</label>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!--  Checkbox Basic Ends -->

        <!-- Checkbox Custom Start -->
        <section id="checkbox-custom">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeCustom">
                        <h4 class="card-title">Custom Checkboxes</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                Add <code>.custom-control .custom-checkbox</code> as a single wrapper &amp; add
                                <code>.custom-control-label</code> for better output.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="custom-control custom-checkbox">
                                    <input checked class="custom-control-input" id="customCheck1" type="checkbox"/>
                                    <label class="custom-control-label" for="customCheck1">Checked</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck2" type="checkbox"/>
                                    <label class="custom-control-label" for="customCheck2">Unchecked</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input checked class="custom-control-input" disabled id="customCheck3"
                                           type="checkbox"/>
                                    <label class="custom-control-label" for="customCheck3">Checked disabled</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" disabled id="customCheck4" type="checkbox"/>
                                    <label class="custom-control-label" for="customCheck4">Unchecked disabled</label>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!--  Checkbox Custom Ends -->

        <!--  Checkbox Color Start -->
        <section id="checkbox-color">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeCustomColor">
                        <h4 class="card-title">Color</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                To change the color of the checkBox use the
                                <code>.custom-control-&#123;value&#125;</code> for primary,
                                secondary, success, danger, info, warning.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="custom-control custom-control-primary custom-checkbox">
                                    <input checked class="custom-control-input" id="colorCheck1" type="checkbox"/>
                                    <label class="custom-control-label" for="colorCheck1">Primary</label>
                                </div>
                                <div class="custom-control custom-control-secondary custom-checkbox">
                                    <input checked class="custom-control-input" id="colorCheck2" type="checkbox"/>
                                    <label class="custom-control-label" for="colorCheck2">Secondary</label>
                                </div>
                                <div class="custom-control custom-control-success custom-checkbox">
                                    <input checked class="custom-control-input" id="colorCheck3" type="checkbox"/>
                                    <label class="custom-control-label" for="colorCheck3">Success</label>
                                </div>
                                <div class="custom-control custom-control-danger custom-checkbox">
                                    <input checked class="custom-control-input" id="colorCheck5" type="checkbox"/>
                                    <label class="custom-control-label" for="colorCheck5">Danger</label>
                                </div>
                                <div class="custom-control custom-control-warning custom-checkbox">
                                    <input checked class="custom-control-input" id="colorCheck4" type="checkbox"/>
                                    <label class="custom-control-label" for="colorCheck4">Warning</label>
                                </div>
                                <div class="custom-control custom-control-info custom-checkbox">
                                    <input checked class="custom-control-input" id="colorCheck6" type="checkbox"/>
                                    <label class="custom-control-label" for="colorCheck6">Info</label>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!--  Checkbox Color Ends -->
    </div>
</div>
