<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- User List -->
        <section class="users-list-wrapper">
            <!-- users filter start -->
            <div class="card">
                <h5 class="card-header">Search Filter</h5>
                <div class="card-body">
                    <div class="users-list-filter">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <fieldset class="form-group">
                                        <ng-select
                                                (change)="filterByRole($event)"
                                                [(ngModel)]="selectedRole"
                                                [items]="selectRole"
                                                bindLabel="name"
                                                name="selectedRole"
                                                placeholder="Select Role"
                                        ></ng-select>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-md-4">
                                    <fieldset class="form-group">
                                        <ng-select
                                                (change)="filterByStatus($event)"
                                                [(ngModel)]="selectedStatus"
                                                [items]="selectStatus"
                                                bindLabel="name"
                                                name="selectedRole"
                                                placeholder="Select Status"
                                        ></ng-select>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- users filter end -->

            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center"
                            >Show
                                <select [(ngModel)]="selectedOption" class="form-control mx-25">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label
                            >
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 ml-md-0"
                            >Search:<input
                                    (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)"
                                    [(ngModel)]="searchValue"
                                    class="form-control ml-25"
                                    name="searchValue"
                                    ng2FileSelect
                                    type="search"
                            /></label>
                            <button (click)="toggleSidebar('new-user-sidebar')" class="btn btn-primary ml-1"
                                    rippleEffect>
                                <span class="d-none d-sm-inline-block">Add New User</span>
                            </button>
                            <a [data]="data" class="btn btn-outline-secondary  ml-1" csvLink rippleEffect
                            >Export CSV</a
                            >
                        </div>
                    </div>
                </div>
                <ngx-datatable
                    #tableRowDetails

                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [headerHeight]="50"
                    [limit]="selectedOption"
                    [rowHeight]="50"
                    [rows]="rows"
                    [scrollbarH]="true"
                    class="bootstrap core-bootstrap"
                >
                    <!-- Row Detail Template -->
                    <ngx-datatable-row-detail [rowHeight]="50">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                            <div class="ml-75 pl-5 pt-75">
                                <div>
            <span><strong>Available Leave Days : </strong> {{ row.leaveDays }}</span
            ><span class="ml-1"><strong>External Activities Limit : </strong> {{ row.externalActivitiesLimit }}</span
                                ><span [ngStyle]="{'font-weight': 'bold'}" *ngIf="row.onLeave" class="ml-1"><strong >Will be Back on : </strong> {{ row.returnDate | date:'medium' }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-row-detail>
                    <ngx-datatable-column
                            [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false"
                    >
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <a
                                    href="javascript:void(0)"
                                    [class.datatable-icon-right]="!expanded"
                                    [class.datatable-icon-down]="expanded"
                                    title="Expand/Collapse Row"
                                    (click)="rowDetailsToggleExpand(row)"
                            >
                            </a>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="User Id" prop="id"></ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="First Name" prop="firstName"></ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="Last Name" prop="lastName"></ngx-datatable-column>
                    <ngx-datatable-column name="Available" prop="onLeave" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">
                                <div class="badge badge-success" *ngIf="value=== false">
                                    <i data-feather="check-circle" class="mr-25"></i>
                                    <span>Available</span>
                                </div>
                                <div class="badge badge-danger" *ngIf="value=== true">
                                    <i data-feather="x-circle" class="mr-25"></i>
                                    <span>On Leave</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="Email" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column [width]="100" name="Phone" prop="phone"></ngx-datatable-column>

                    <ngx-datatable-column name="Role" prop="role" [width]="100">
                        <ng-template let-role="value" ngx-datatable-cell-template>
                            <div>
                                <i
                                        class="feather font-medium-3"
                                        [ngClass]="{
                    'icon-user text-primary': role == 'USER',
                    'icon-user-check text-warning': role == 'MANAGER',
                    'icon-slack text-danger': role == 'ADMIN'
                  }"
                                ></i>
                                {{ role }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>



                    <ngx-datatable-column [sortable]="false" [width]="80" name="Actions">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div container="body" ngbDropdown>
                                <button class="btn icon-btn btn-sm hide-arrow" ngbDropdownToggle rippleEffect
                                        type="button">
                                    <span [class]="'cursor-pointer'" [data-feather]="'more-vertical'"></span>
                                </button>
                                <div ngbDropdownMenu>
                                    <a ngbDropdownItem routerLink="/apps/user/user-view/{{ row.id }}"
                                    ><span [class]="'mr-50'" [data-feather]="'file-text'" [size]="16"></span> Details</a
                                    >
                                    <a href="javascript:;" ngbDropdownItem
                                       routerLink="/apps/user/user-edit/{{ row.id }}"
                                    ><span [class]="'mr-50'" [data-feather]="'edit'" [size]="16"></span> Edit</a
                                    >
                                    <a (click)="deleteUserDetail(row.email)" href="javascript:;" ngbDropdownItem
                                    ><span [class]="'mr-50'" [data-feather]="'trash'" [size]="16"></span> Delete</a
                                    >
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </section>
        <!--/ User List -->
    </div>

    <!-- New User Sidebar -->
    <core-sidebar
            class="modal modal-slide-in sidebar-todo-modal fade"
            name="new-user-sidebar"
            overlayClass="modal-backdrop"
    >
        <app-new-user-sidebar></app-new-user-sidebar>
    </core-sidebar>
    <!--/ New User Sidebar -->
</div>
