<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
        <!-- Forgot Password v1 -->
        <div class="card mb-0">
            <div class="card-body">
                <a class="brand-logo" href="javascript:void(0);">
                    <img alt="brand-logo" height="28" src="{{ coreConfig.app.appLogoImage }}"/>
                    <h2 class="brand-text text-primary ml-1">Vuexy</h2>
                </a>

                <h4 class="card-title mb-1">Forgot Password? 🔒</h4>
                <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>

                <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" class="auth-forgot-password-form mt-2">
                    <div class="form-group">
                        <label class="form-label" for="forgot-password-email">Email</label>
                        <input
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                aria-describedby="forgot-password-email"
                                autofocus
                                class="form-control"
                                formControlName="email"
                                placeholder="john@example.com"
                                tabindex="1"
                                type="text"
                        />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" rippleEffect tabindex="2">Send reset link</button>
                </form>

                <p class="text-center mt-2">
                    <a routerLink="/pages/authentication/login-v1">
                        <i class="mb-25" data-feather="chevron-left"></i> Back to login
                    </a>
                </p>
            </div>
        </div>
        <!-- /Forgot Password v1 -->
    </div>
</div>
