<div class="content-wrapper container-xxl p-2">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
        <div class="card-body">
            <form #newTeamForm="ngForm" (ngSubmit)="(newTeamForm.form.valid)" class="form ">
                <div class="row">


                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="team-name">Team Name</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'users'"></span></span>
                                    </div>
                                    <input
                                        #TNameRef="ngModel"
                                        [(ngModel)]="teamName"
                                        [class.error]="(newTeamForm.submitted || TNameRef.touched) && TNameRef.invalid"
                                        [ngClass]="{'is-invalid error': (newTeamForm.submitted || TNameRef.touched) && TNameRef.invalid}"
                                        class="form-control form-control-merge"
                                        id="team-name"
                                        name="team-name"
                                        placeholder="Team Name"
                                        required
                                        type="text"

                                    />
                                    <span *ngIf="(newTeamForm.submitted || TNameRef.touched) && TNameRef.invalid"
                                          [ngClass]="{'d-block' : (newTeamForm.submitted || TNameRef.touched) && TNameRef.invalid} "
                                          class="invalid-feedback">
                                            <small *ngIf="TNameRef.errors.required"
                                                   class="form-text text-danger">This field is required!</small>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">Team Lead Email</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                type="text"-->
                                    <!--                                                id="email-id-icon"-->
                                    <!--                                                class="form-control"-->
                                    <!--                                                name="email-id-icon"-->
                                    <!--                                                placeholder="Email"-->
                                    <!--                                                [(ngModel)]="teamLeadEmail"-->
                                    <!--                                        />-->

                                    <ng-select
                                        #TEmailRef="ngModel"
                                        (change)="onUserEmailChange($event)"
                                        [(ngModel)]="teamLeadEmail"
                                        [class.error]="(newTeamForm.submitted || TEmailRef.touched) && TEmailRef.invalid"
                                        [items]="selectUser"
                                        [ngClass]="{'is-invalid error': (newTeamForm.submitted || TEmailRef.touched) && TEmailRef.invalid}"
                                        bindLabel="email"
                                        bindValue="email"
                                        class="width-77"
                                        id="email"
                                        name="email"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.firstName + ' ' + item.lastName }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ item.role }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ item.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <span *ngIf="(newTeamForm.submitted || TEmailRef.touched) && TEmailRef.invalid"
                                          [ngClass]="{'d-block' : (newTeamForm.submitted || TEmailRef.touched) && TEmailRef.invalid} "
                                          class="invalid-feedback">
                                                <small *ngIf="TEmailRef.errors.required"
                                                       class="form-text text-danger">This field is required!</small>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Description</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'book-open'"></span></span>
                                    </div>
                                    <input
                                        #TDescriptionRef="ngModel"
                                        [(ngModel)]="teamDescription"
                                        [class.error]="(newTeamForm.submitted || TDescriptionRef.touched)&& TDescriptionRef.invalid"
                                        [ngClass]="{'is-invalid error': (newTeamForm.submitted || TDescriptionRef.touched) && TDescriptionRef.invalid}"
                                        class="form-control form-control-merge"
                                        id="contact-info-icon"
                                        name="contact-icon"
                                        placeholder="Description"
                                        required
                                        type="text"
                                    />
                                    <span *ngIf="(newTeamForm.submitted || TDescriptionRef.touched) && TDescriptionRef.invalid"
                                          [ngClass]="{'d-block' : (newTeamForm.submitted || TDescriptionRef.touched) &&TDescriptionRef.invalid}"
                                          class="invalid-feedback">
                                            <small *ngIf="TDescriptionRef.errors.required"
                                                   class="form-text text-danger">This field is required!</small>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Department</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'slack'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                type="text"-->
                                    <!--                                                id="department-icon"-->
                                    <!--                                                class="form-control"-->
                                    <!--                                                name="contact-icon"-->
                                    <!--                                                placeholder="Department Name"-->
                                    <!--                                                [(ngModel)]="organizationalUnitName"-->
                                    <!--                                        />-->

                                    <ng-select
                                        #TDepartmentRef="ngModel"
                                        (change)="onDepartmentChange($event)"
                                        [(ngModel)]="organizationalUnitName"
                                        [class.error]="(newTeamForm.submitted || TDepartmentRef.touched) && TDepartmentRef.invalid"
                                        [items]="departments"
                                        [ngClass]="{'is-invalid error': (newTeamForm.submitted || TDepartmentRef.touched) && TDepartmentRef.invalid}"
                                        bindLabel="name"
                                        bindValue="name"
                                        class="width-77"
                                        id="unitName"
                                        name="unitName"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.name }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ "Manager name: " + item.manager.firstName + ' ' + item.manager.lastName }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ 'Manager Email: ' + item.manager.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <span *ngIf="(newTeamForm.submitted || TDepartmentRef.touched) && TDepartmentRef.invalid"
                                          [ngClass]="{'d-block' : (newTeamForm.submitted || TDepartmentRef.touched) && TDepartmentRef.invalid} "
                                          class="invalid-feedback">
                                                    <small *ngIf="TDepartmentRef.errors.required"
                                                           class="form-text text-danger">This field is required!</small>
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 ml-2">
                        <button (click)="addTeam()" [disabled]="!newTeamForm.form.valid" class="btn btn-primary mr-1"
                                rippleEffect
                                type="submit">Submit
                        </button>
                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
