<ng-container *ngIf="!item.hidden">
    <!-- collapsible title -->
    <a
            *ngIf="!item.url"
            [ngClass]="item.type == 'section' ? 'dropdown-toggle nav-link' : 'dropdown-item dropdown-toggle'"
            [ngClass]="item.classes"
            class="d-flex align-items-center"
    >
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- itemContent template -->
    <ng-template #itemContent>
        <span *ngIf="item.icon" [data-feather]="item.icon"></span>
        <span [translate]="item.translate">{{ item.title }}</span>
    </ng-template>

    <!-- sub-menu item/collapsible -->
    <ul [ngClass]="{ show: isShow }" class="dropdown-menu">
        <ng-container *ngFor="let item of item.children">
            <!-- item -->
            <li
                    *ngIf="
          item.type == 'item' && (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
        "
                    [item]="item"
                    [ngClass]="{ disabled: item.disabled === true }"
                    [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
                    [routerLinkActive]="!item.openInNewTab ? 'active' : ''"
                    core-menu-horizontal-item
            >
                <span [routerLink]="item.openInNewTab ? [] : [item.url]" class="d-none"></span>
            </li>
            <!-- collapsible -->
            <li
                    *ngIf="
          item.type == 'collapsible' &&
          (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
        "
                    [item]="item"
                    class="dropdown dropdown-submenu"
                    core-menu-horizontal-collapsible
            ></li>
        </ng-container>
    </ul>
</ng-container>
