<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Invoice List -->
        <section class="invoice-list-wrapper">
            <div class="card">
                <!-- Invoice List Header -->
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center"
                                >Show
                                    <select [(ngModel)]="selectedOption" class="form-control mx-25">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                                <button class="btn btn-primary ml-2" rippleEffect routerLink="/apps/invoice/add">Add
                                    Record
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                            class="
              col-md-6 col-lg-4 col-12
              d-flex
              justify-content-start justify-content-md-end
              align-items-center
              offset-lg-2
            "
                    >
                        <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">
                            <div class="col-10 col-md-6 pr-0">
                                <label class="d-flex align-items-center mb-0 ml-1 ml-md-0"
                                ><input
                                        (keyup)="filterUpdate($event)"
                                        (search)="filterUpdate($event)"
                                        [(ngModel)]="searchValue"
                                        class="form-control"
                                        name="searchValue"
                                        placeholder="Search..."
                                        type="search"
                                /></label>
                            </div>
                            <div class="col-10 col-md-6 mt-2 ml-1 ml-md-0 mt-md-0">
                                <fieldset class="form-group mb-0">
                                    <ng-select
                                            (change)="filterByStatus($event)"
                                            [(ngModel)]="selectedStatus"
                                            [items]="selectStatus"
                                            bindLabel="name"
                                            placeholder="Select Status"
                                    ></ng-select>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Invoice List Header -->

                <!-- Invoice List Table -->
                <ngx-datatable
                        [columnMode]="ColumnMode.force"
                        [footerHeight]="50"
                        [headerHeight]="50"
                        [limit]="selectedOption"
                        [rowHeight]="50"
                        [rows]="rows"
                        [scrollbarH]="true"
                        class="bootstrap core-bootstrap"
                >
                    <ngx-datatable-column [width]="50" name="#" prop="id">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <a class="font-weight-bold" routerLink="/apps/invoice/preview/{{ id }}">#{{ id }}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="50" name="status" prop="invoiceStatus">
                        <ng-template let-invoiceStatus="value" let-row="row" ngx-datatable-cell-template>
                            <!-- <a class="font-weight-bold">{{ invoiceStatus }}</a> -->
                            <div
                                    [ngClass]="{
                  'bg-light-secondary': row.invoiceStatus == 'Sent',
                  'bg-light-success': row.invoiceStatus == 'Paid',
                  'bg-light-primary': row.invoiceStatus == 'Draft',
                  'bg-light-warning': row.invoiceStatus == 'Partial Payment',
                  'bg-light-info': row.invoiceStatus == 'Downloaded',
                  'bg-light-danger': row.invoiceStatus == 'Past Due'
                }"
                                    class="avatar avatar-status"
                            >
                                <ng-template #tipContent
                                ><span
                                >{{ row.invoiceStatus }}<br/>
                    <span class="font-weight-bold">Balance:</span> {{ row.balance }}<br/>
                    <span class="font-weight-bold">Due Date:</span> {{ row.dueDate }}</span
                                ></ng-template
                                >
                                <span [ngbTooltip]="tipContent" class="avatar-content" container="body" placement="top">
                  <i
                          [ngClass]="{
                      'icon-send': row.invoiceStatus == 'Sent',
                      'icon-check-circle': row.invoiceStatus == 'Paid',
                      'icon-save': row.invoiceStatus == 'Draft',
                      'icon-pie-chart': row.invoiceStatus == 'Partial Payment',
                      'icon-arrow-down-circle': row.invoiceStatus == 'Downloaded',
                      'icon-info': row.invoiceStatus == 'Past Due'
                    }"
                          class="feather avatar-icon font-medium-1"
                  ></i
                  ></span>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="250" name="client" prop="client.name">
                        <ng-template let-name="value" let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div *ngIf="row.avatar.length > 0; else customAvatar">
                                    <img
                                            alt="datatable-avatar"
                                            class="rounded-circle mr-1"
                                            height="32"
                                            src="{{ row.avatar }}"
                                            width="32"
                                    />
                                </div>
                                <ng-template #customAvatar>
                                    <div
                                            [ngClass]="{
                      'bg-light-secondary': row.invoiceStatus == 'Sent',
                      'bg-light-success': row.invoiceStatus == 'Paid',
                      'bg-light-primary': row.invoiceStatus == 'Draft',
                      'bg-light-warning': row.invoiceStatus == 'Partial Payment',
                      'bg-light-info': row.invoiceStatus == 'Downloaded',
                      'bg-light-danger': row.invoiceStatus == 'Past Due'
                    }"
                                            class="avatar mr-1 ml-0"
                                    >
                                        <div class="avatar-content">{{ name | initials }}</div>
                                    </div>
                                </ng-template>
                                <div class="cell-line-height">
                                    <span class="font-weight-bold d-block text-nowrap font-medium-1">{{ name }}</span>
                                    <span class="text-muted font-small-2"> @{{ row.client.companyEmail }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="50" name="Total" prop="total">
                        <ng-template let-total="value" ngx-datatable-cell-template>
                            <div>
                                $
                                {{ total }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Issued Date" prop="issuedDate"></ngx-datatable-column>
                    <ngx-datatable-column [width]="40" name="Balance" prop="balance">
                        <ng-template let-balance="value" ngx-datatable-cell-template>
                            <div [ngClass]="balance == 0 ? 'badge badge-pill badge-light-success' : ' '" class="">
                                {{ balance == 0 ? 'paid' : balance }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [width]="40" name="Actions">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center col-actions">
                                <a class="mr-1" container="body" href="javascript:void(0);" ngbTooltip="Send Mail"
                                   placement="top"
                                ><i data-feather="send" size="18"></i
                                ></a>
                                <a
                                        class="mr-1"
                                        container="body"
                                        ngbTooltip="Preview Invoice"
                                        placement="top"
                                        routerLink="/apps/invoice/preview/{{ row.id }}"
                                ><i data-feather="eye" size="18"></i
                                ></a>
                                <div container="body" ngbDropdown>
                                    <button class="btn icon-btn btn-sm hide-arrow px-0" ngbDropdownToggle rippleEffect
                                            type="button">
                                        <i class="cursor-pointer" data-feather="more-vertical" size="18"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem><i class="mr-1"
                                                                                        data-feather="download"></i>Download</a
                                        ><a ngbDropdownItem routerLink="/apps/invoice/edit/{{ row.id }}"
                                    ><i class="mr-1" data-feather="edit"></i>Edit</a
                                    ><a href="javascript:void(0)" ngbDropdownItem><i class="mr-1"
                                                                                     data-feather="trash"></i>Delete</a
                                    ><a href="javascript:void(0)" ngbDropdownItem><i class="mr-1"
                                                                                     data-feather="copy"></i>Duplicate</a>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                <!--/ Invoice List Table -->
            </div>
        </section>
        <!--/ Invoice List -->
    </div>
</div>
