<!-- Sub Sub Menu Context Menu Component -->
<ul (@menu.done)="_onAnimationDone($event)" [@menu]="_state" class="context-menu-list" style="position: relative">
    <li (click)="handleClick('Foo Bar')" class="context-menu-item">Foo Bar</li>
    <li (click)="handleClick('Doe Bar')" class="context-menu-item">Doe Bar</li>
</ul>
<!--/ Sub Sub Menu Context Menu Component -->
