<!-- Admin user profile area -->
<div class="chat-user-sidebar">
    <header class="chat-profile-header">
        <button (click)="toggleSidebar('chat-user-sidebar')" class="btn close-icon p-0">
            <i data-feather="x"></i>
        </button>
        <!-- User Information -->
        <div class="header-profile-sidebar">
            <div class="avatar box-shadow-1 avatar-xl avatar-border">
                <img [src]="userProfile.avatar" alt="user_avatar"/>
                <span
                        [ngClass]="{
            'avatar-status-offline': userProfile.status == 'offline',
            'avatar-status-online': userProfile.status == 'online',
            'avatar-status-busy': userProfile.status == 'busy',
            'avatar-status-away': userProfile.status == 'away'
          }"
                        class="avatar-status-xl"
                ></span>
            </div>
            <h4 class="chat-user-name">{{ userProfile.fullName }}</h4>
            <span class="user-post">{{ userProfile.role }}</span>
        </div>
        <!--/ User Information -->
    </header>
    <!-- User Details start -->
    <div [perfectScrollbar] class="profile-sidebar-area">
        <h6 class="section-label mb-1">About</h6>
        <div class="about-user">
      <textarea
              class="form-control char-textarea"
              data-length="120"
              id="textarea-counter"
              placeholder="About User"
              rows="5"
      >{{ userProfile.about }}</textarea
      >
            <small class="counter-value float-right"><span class="char-count">108</span> / 120 </small>
        </div>
        <!-- To set user status -->
        <h6 class="section-label mb-1 mt-3">Status</h6>
        <ul class="list-unstyled user-status">
            <li class="pb-1">
                <div class="custom-control custom-control-success custom-radio">
                    <input
                            (change)="updateUserStatus()"
                            [(ngModel)]="userProfile.status"
                            checked
                            class="custom-control-input"
                            id="activeStatusRadio"
                            name="userStatus"
                            type="radio"
                            value="online"
                    />
                    <label class="custom-control-label ml-25" for="activeStatusRadio">Active</label>
                </div>
            </li>
            <li class="pb-1">
                <div class="custom-control custom-control-danger custom-radio">
                    <input
                            (change)="updateUserStatus()"
                            [(ngModel)]="userProfile.status"
                            class="custom-control-input"
                            id="dndStatusRadio"
                            name="userStatus"
                            type="radio"
                            value="busy"
                    />
                    <label class="custom-control-label ml-25" for="dndStatusRadio">Do Not Disturb</label>
                </div>
            </li>
            <li class="pb-1">
                <div class="custom-control custom-control-warning custom-radio">
                    <input
                            (change)="updateUserStatus()"
                            [(ngModel)]="userProfile.status"
                            class="custom-control-input"
                            id="awayStatusRadio"
                            name="userStatus"
                            type="radio"
                            value="away"
                    />
                    <label class="custom-control-label ml-25" for="awayStatusRadio">Away</label>
                </div>
            </li>
            <li class="pb-1">
                <div class="custom-control custom-control-secondary custom-radio">
                    <input
                            (change)="updateUserStatus()"
                            [(ngModel)]="userProfile.status"
                            class="custom-control-input"
                            id="offlineStatusRadio"
                            name="userStatus"
                            type="radio"
                            value="offline"
                    />
                    <label class="custom-control-label ml-25" for="offlineStatusRadio">Offline</label>
                </div>
            </li>
        </ul>
        <!--/ To set user status -->

        <!-- User settings -->
        <h6 class="section-label mb-1 mt-2">Settings</h6>
        <ul class="list-unstyled">
            <li class="d-flex justify-content-between align-items-center mb-1">
                <div class="d-flex align-items-center">
                    <i class="mr-75 font-medium-3" data-feather="check-square"></i>
                    <span class="align-middle">Two-step Verification</span>
                </div>
                <div class="custom-control custom-switch mr-0">
                    <input
                            [checked]="userProfile.settings.isTwoStepAuthVerificationEnabled"
                            class="custom-control-input"
                            id="customSwitch1"
                            type="checkbox"
                    />
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
            </li>
            <li class="d-flex justify-content-between align-items-center mb-1">
                <div class="d-flex align-items-center">
                    <i class="mr-75 font-medium-3" data-feather="bell"></i>
                    <span class="align-middle">Notification</span>
                </div>
                <div class="custom-control custom-switch mr-0">
                    <input
                            [checked]="userProfile.settings.isNotificationsOn"
                            class="custom-control-input"
                            id="customSwitch2"
                            type="checkbox"
                    />
                    <label class="custom-control-label" for="customSwitch2"></label>
                </div>
            </li>
            <li class="mb-1 d-flex align-items-center cursor-pointer">
                <i class="mr-75 font-medium-3" data-feather="user"></i>
                <span class="align-middle">Invite Friends</span>
            </li>
            <li class="d-flex align-items-center cursor-pointer">
                <i class="mr-75 font-medium-3" data-feather="trash"></i>
                <span class="align-middle">Delete Account</span>
            </li>
        </ul>
        <!--/ User settings -->

        <!-- Logout Button -->
        <div class="mt-3">
            <button class="btn btn-primary" rippleEffect>
                <span>Logout</span>
            </button>
        </div>
        <!--/ Logout Button -->
    </div>
    <!-- User Details end -->
</div>
<!--/ Admin user profile area -->
