<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-3 mb-2 mb-md-0">
                    <ul #navVertical="ngbNav" class="nav nav-pills flex-column nav-left" ngbNav>
                        <li class="nav-item" ngbNavItem>
                            <a
                                    aria-expanded="true"
                                    class="nav-link d-flex py-75"
                                    data-toggle="pill"
                                    href="#account-vertical-general"
                                    id="account-pill-general"
                                    ngbNavLink
                            >
                                <i class="font-medium-3 mr-1" data-feather="user"></i>
                                <span class="font-weight-bold">General</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- header media -->
                                        <div class="media">
                                            <a class="mr-25" href="javascript:void(0);">
                                                <img [src]="avatarImage" alt="profile image" class="rounded mr-50"
                                                     height="76" width="80"/>
                                            </a>
                                            <!-- upload and reset button -->
                                            <div class="media-body mt-75 ml-1">
                                                <button
                                                        (click)="file.click()"
                                                        class="btn btn-sm btn-primary mb-75 mr-75"
                                                        for="account-upload"
                                                        rippleEffect
                                                >
                                                    Upload
                                                </button>
                                                <input
                                                        #file
                                                        (change)="uploadImage($event)"
                                                        accept="image/*"
                                                        hidden
                                                        id="account-upload"
                                                        type="file"
                                                />
                                                <button class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>
                                                    Reset
                                                </button>
                                                <p>Allowed JPG, GIF or PNG. Max size of 800kB</p>
                                            </div>
                                            <!--/ upload and reset button -->
                                        </div>
                                        <!--/ header media -->

                                        <!-- form -->
                                        <form class="validate-form mt-2">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-username">Username</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.general.username"
                                                                class="form-control"
                                                                id="account-username"
                                                                name="username"
                                                                placeholder="Username"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-name">Name</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.general.fullName"
                                                                class="form-control"
                                                                id="account-name"
                                                                name="name"
                                                                placeholder="Name"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-e-mail">E-mail</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.general.email"
                                                                class="form-control"
                                                                id="account-e-mail"
                                                                name="email"
                                                                placeholder="Email"
                                                                type="email"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-company">Company</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.general.company"
                                                                class="form-control"
                                                                id="account-company"
                                                                name="company"
                                                                placeholder="Company name"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-75">
                                                    <div class="alert alert-warning mb-50" role="alert">
                                                        <h4 class="alert-heading">Your email is not confirmed. Please
                                                            check your inbox.</h4>
                                                        <div class="alert-body">
                                                            <a class="alert-link" href="javascript: void(0);">Resend
                                                                confirmation</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary mt-2 mr-1" rippleEffect
                                                            type="submit">Save changes
                                                    </button>
                                                    <button class="btn btn-outline-secondary mt-2" rippleEffect
                                                            type="reset">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" ngbNavItem>
                            <a
                                    aria-expanded="false"
                                    class="nav-link d-flex py-75"
                                    data-toggle="pill"
                                    href="#account-vertical-password"
                                    id="account-pill-password"
                                    ngbNavLink
                            >
                                <i class="font-medium-3 mr-1" data-feather="lock"></i>
                                <span class="font-weight-bold">Change Password</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- form -->
                                        <form class="validate-form">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-old-password">Old Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeOld ? 'text' : 'password'"
                                                                    class="form-control"
                                                                    id="account-old-password"
                                                                    name="password"
                                                                    placeholder="Old Password"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        (click)="togglePasswordTextTypeOld()"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }"
                                        class="feather font-small-4"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-new-password">New Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeNew ? 'text' : 'password'"
                                                                    class="form-control"
                                                                    id="account-new-password"
                                                                    name="new-password"
                                                                    placeholder="New Password"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        (click)="togglePasswordTextTypeNew()"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }"
                                        class="feather font-small-4"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-retype-new-password">Retype New
                                                            Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeRetype ? 'text' : 'password'"
                                                                    class="form-control"
                                                                    id="account-retype-new-password"
                                                                    name="confirm-new-password"
                                                                    placeholder="New Password"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        (click)="togglePasswordTextTypeRetype()"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }"
                                        class="feather font-small-4"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary mr-1 mt-1" rippleEffect
                                                            type="submit">Save changes
                                                    </button>
                                                    <button class="btn btn-outline-secondary mt-1" rippleEffect
                                                            type="reset">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" ngbNavItem>
                            <a
                                    aria-expanded="false"
                                    class="nav-link d-flex py-75"
                                    data-toggle="pill"
                                    href="#account-vertical-info"
                                    id="account-pill-info"
                                    ngbNavLink
                            >
                                <i class="font-medium-3 mr-1" data-feather="info"></i>
                                <span class="font-weight-bold">Information</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- form -->
                                        <form class="validate-form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="accountTextarea">Bio</label>
                                                        <textarea
                                                                [(ngModel)]="data.accountSetting.info.bio"
                                                                class="form-control"
                                                                id="accountTextarea"
                                                                name="accountTextarea"
                                                                placeholder="Your Bio data here..."
                                                                rows="4"
                                                        ></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-birth-date">Birth date</label>
                                                        <ng2-flatpickr
                                                                [(ngModel)]="data.accountSetting.info.dob"
                                                                [config]="birthDateOptions"
                                                                id="account-birth-date"
                                                                name="account-birth-date"
                                                                placeholder="June 18, 2021"
                                                        ></ng2-flatpickr>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="accountSelect">Country</label>
                                                        <select
                                                                [(ngModel)]="data.accountSetting.info.country"
                                                                class="form-control"
                                                                id="accountSelect"
                                                                name="accountSelect"
                                                        >
                                                            <option>USA</option>
                                                            <option>India</option>
                                                            <option>Canada</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-website">Website</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.info.website"
                                                                class="form-control"
                                                                id="account-website"
                                                                name="website"
                                                                placeholder="Website address"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-phone">Phone</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.info.phone"
                                                                class="form-control"
                                                                id="account-phone"
                                                                name="phone"
                                                                placeholder="Phone number"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary mt-1 mr-1" rippleEffect
                                                            type="submit">Save changes
                                                    </button>
                                                    <button class="btn btn-outline-secondary mt-1" rippleEffect
                                                            type="reset">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" ngbNavItem>
                            <a
                                    aria-expanded="false"
                                    class="nav-link d-flex py-75"
                                    data-toggle="pill"
                                    href="#account-vertical-social"
                                    id="account-pill-social"
                                    ngbNavLink
                            >
                                <i class="font-medium-3 mr-1" data-feather="link"></i>
                                <span class="font-weight-bold">Social</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- form -->
                                        <form class="validate-form">
                                            <div class="row">
                                                <!-- social header -->
                                                <div class="col-12">
                                                    <div class="d-flex align-items-center mb-2">
                                                        <i class="font-medium-3" data-feather="link"></i>
                                                        <h4 class="mb-0 ml-75">Social Links</h4>
                                                    </div>
                                                </div>
                                                <!-- twitter link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-twitter">Twitter</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.social.socialLinks.twitter"
                                                                class="form-control"
                                                                id="account-twitter"
                                                                name="account-twitter"
                                                                placeholder="Add link"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <!-- facebook link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-facebook">Facebook</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.social.socialLinks.facebook"
                                                                class="form-control"
                                                                id="account-facebook"
                                                                name="account-facebook"
                                                                placeholder="Add link"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <!-- google plus input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-google">Google+</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.social.socialLinks.google"
                                                                class="form-control"
                                                                id="account-google"
                                                                name="account-google"
                                                                placeholder="Add link"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <!-- linkedin link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-linkedin">LinkedIn</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.social.socialLinks.linkedIn"
                                                                class="form-control"
                                                                id="account-linkedin"
                                                                name="account-linkedin"
                                                                placeholder="Add link"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <!-- instagram link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-instagram">Instagram</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.social.socialLinks.instagram"
                                                                class="form-control"
                                                                id="account-instagram"
                                                                name="account-instagram"
                                                                placeholder="Add link"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>
                                                <!-- Quora link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-quora">Quora</label>
                                                        <input
                                                                [(ngModel)]="data.accountSetting.social.socialLinks.quora"
                                                                class="form-control"
                                                                id="account-quora"
                                                                name="account-quora"
                                                                placeholder="Add link"
                                                                type="text"
                                                        />
                                                    </div>
                                                </div>

                                                <!-- divider -->
                                                <div class="col-12">
                                                    <hr class="my-2"/>
                                                </div>

                                                <div class="col-12 mt-1">
                                                    <!-- profile connection header -->
                                                    <div class="d-flex align-items-center mb-3">
                                                        <i class="font-medium-3" data-feather="user"></i>
                                                        <h4 class="mb-0 ml-75">Profile Connections</h4>
                                                    </div>

                                                    <div class="row">
                                                        <!-- twitter user -->
                                                        <div class="col-6 col-md-3 text-center mb-1">
                                                            <p class="font-weight-bold">Your Twitter</p>
                                                            <div class="avatar mb-1">
                                <span class="avatar-content">
                                  <img
                                          [src]="data.accountSetting.social.connections.twitter.profileImg"
                                          alt="avatar img"
                                          height="40"
                                          width="40"
                                  />
                                </span>
                                                            </div>
                                                            <p class="mb-0">{{ data.accountSetting.social.connections.twitter.id }}</p>
                                                            <a href="javascript:void(0)">Disconnect</a>
                                                        </div>
                                                        <!-- facebook button -->
                                                        <div class="col-6 col-md-3 text-center mb-1">
                                                            <p class="font-weight-bold mb-2">Your Facebook</p>
                                                            <button class="btn btn-outline-primary" rippleEffect>
                                                                Connect
                                                            </button>
                                                        </div>
                                                        <!-- google user -->
                                                        <div class="col-6 col-md-3 text-center mb-1">
                                                            <p class="font-weight-bold">Your Google</p>
                                                            <div class="avatar mb-1">
                                <span class="avatar-content">
                                  <img
                                          [src]="data.accountSetting.social.connections.google.profileImg"
                                          alt="avatar img"
                                          height="40"
                                          width="40"
                                  />
                                </span>
                                                            </div>
                                                            <p class="mb-0">{{ data.accountSetting.social.connections.google.id }}</p>
                                                            <a href="javascript:void(0)">Disconnect</a>
                                                        </div>
                                                        <!-- github button -->
                                                        <div class="col-6 col-md-3 text-center mb-2">
                                                            <p class="font-weight-bold mb-1">Your GitHub</p>
                                                            <button class="btn btn-outline-primary" rippleEffect>
                                                                Connect
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <!-- submit and cancel button -->
                                                    <button class="btn btn-primary mr-1 mt-1" rippleEffect
                                                            type="submit">Save changes
                                                    </button>
                                                    <button class="btn btn-outline-secondary mt-1" rippleEffect
                                                            type="reset">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>

                        <li class="nav-item" ngbNavItem>
                            <a
                                    aria-expanded="false"
                                    class="nav-link d-flex py-75"
                                    data-toggle="pill"
                                    href="#account-vertical-notifications"
                                    id="account-pill-notifications"
                                    ngbNavLink
                            >
                                <i class="font-medium-3 mr-1" data-feather="bell"></i>
                                <span class="font-weight-bold">Notifications</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <h6 class="section-label mx-1 mb-2">Activity</h6>
                                            <div class="col-12 mb-2">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                            [checked]="data.accountSetting.notification.commentOnArticle"
                                                            class="custom-control-input"
                                                            id="accountSwitch1"
                                                            type="checkbox"
                                                    />
                                                    <label class="custom-control-label" for="accountSwitch1">
                                                        Email me when someone comments onmy article
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                            [checked]="data.accountSetting.notification.AnswerOnForm"
                                                            class="custom-control-input"
                                                            id="accountSwitch2"
                                                            type="checkbox"
                                                    />
                                                    <label class="custom-control-label" for="accountSwitch2">
                                                        Email me when someone answers on my form
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                            [checked]="data.accountSetting.notification.followMe"
                                                            class="custom-control-input"
                                                            id="accountSwitch3"
                                                            type="checkbox"
                                                    />
                                                    <label class="custom-control-label" for="accountSwitch3"
                                                    >Email me hen someone follows me</label
                                                    >
                                                </div>
                                            </div>
                                            <h6 class="section-label mx-1 mt-2">Application</h6>
                                            <div class="col-12 mt-1 mb-2">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                            [checked]="data.accountSetting.notification.newAnnouncements"
                                                            class="custom-control-input"
                                                            id="accountSwitch4"
                                                            type="checkbox"
                                                    />
                                                    <label class="custom-control-label" for="accountSwitch4">News and
                                                        announcements</label>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                            [checked]="data.accountSetting.notification.productUpdates"
                                                            class="custom-control-input"
                                                            id="accountSwitch6"
                                                            type="checkbox"
                                                    />
                                                    <label class="custom-control-label" for="accountSwitch6">Weekly
                                                        product updates</label>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-75">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                            [checked]="data.accountSetting.notification.blogDigest"
                                                            class="custom-control-input"
                                                            id="accountSwitch5"
                                                            type="checkbox"
                                                    />
                                                    <label class="custom-control-label" for="accountSwitch5">Weekly blog
                                                        digest</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary mt-2 mr-1" rippleEffect type="submit">
                                                    Save changes
                                                </button>
                                                <button class="btn btn-outline-secondary mt-2" rippleEffect
                                                        type="reset">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>
