<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section id="credit-phone-mask">
            <div class="row">
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeCredit">
                        <h4 class="card-title">Credit Card</h4>
                        <div class="card-body">
                            <input class="form-control" mask="0000 0000 0000 0000" placeholder="1234 5678 8765 4321"
                                   type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodePhone">
                        <h4 class="card-title">Phone number</h4>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+63</span>
                                </div>
                                <input class="form-control" mask="(000) 000 00 00" placeholder="(760) 123 00 00"
                                       type="text"/>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <section id="date-time-mask">
            <div class="row">
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeDate">
                        <h4 class="card-title">Date</h4>
                        <div class="card-body">
                            <input class="form-control" mask="00/00/0000" placeholder="01/02/2023" type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeTime">
                        <h4 class="card-title">Time (24 hour format)</h4>
                        <div class="card-body">
                            <input class="form-control" mask="Hh:m0:s0" placeholder="23:23:59" type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <section id="numeral-secure-mask">
            <div class="row">
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeNumeral">
                        <h4 class="card-title">Numeral Formatting</h4>
                        <div class="card-body">
                            <input class="form-control" mask="separator" placeholder="10,000" thousandSeparator=","
                                   type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeSecure">
                        <h4 class="card-title">Secure Input</h4>
                        <div class="card-body">
                            <input
                                    [hiddenInput]="true"
                                    class="form-control"
                                    mask="XXX/X0/0000"
                                    placeholder="XXX/X9/2032"
                                    type="text"
                            />
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <section id="prefix-suffix-mask">
            <div class="row">
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodePrefix">
                        <h4 class="card-title">Prefix</h4>
                        <div class="card-body">
                            <input class="form-control" mask="(000) 000 00 00" placeholder="+63" prefix="+63 "
                                   type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeSuffix">
                        <h4 class="card-title">Suffix</h4>
                        <div class="card-body">
                            <input class="form-control" mask="0000" placeholder="987654$" suffix=" $" type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <section id="block-delimiters-mask">
            <div class="row">
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeBlocks">
                        <h4 class="card-title">Blocks</h4>
                        <div class="card-body">
                            <input class="form-control" mask="0000 000 000" placeholder="1234 123 123" type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-12 col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeDelimiters">
                        <h4 class="card-title">Delimiters</h4>
                        <div class="card-body">
                            <input class="form-control" mask="separator" placeholder="123.456" thousandSeparator="."
                                   type="text"/>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
    </div>
</div>
