<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div *ngIf="isAdmin || isClient" class="row match-height">
            <!-- Medal Card -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <h5>{{ 'SAMPLE.CONGRATULATIONS' | translate }} 🎉 {{ currentUser?.firstName }}!</h5>
                        <p class="card-text font-small-3">{{ 'SAMPLE.BADGE' | translate }}</p>
                        <h3 class="mb-75 mt-2 pt-50">
                            <a href="javascript:void(0);">$48.9k</a>
                        </h3>
                        <button class="btn btn-primary" rippleEffect type="button">View Sales</button>
                        <img alt="Medal Pic" class="congratulation-medal" src="assets/images/illustration/badge.svg"/>
                    </div>
                </div>
            </div>
            <!--/ Medal Card -->

            <!-- Statistics Card -->
            <div class="col-xl-8 col-md-6 col-12">
                <div class="card card-statistics">
                    <div class="card-header">
                        <h4 class="card-title">Statistics</h4>
                        <div class="d-flex align-items-center">
                            <p class="card-text font-small-2 mr-25 mb-0">Updated 1 month ago</p>
                        </div>
                    </div>
                    <div class="card-body statistics-body">
                        <div class="row">
                            <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                                <div class="media">
                                    <div class="avatar bg-light-primary mr-2">
                                        <div class="avatar-content">
                                            <i class="avatar-icon" data-feather="trending-up"></i>
                                        </div>
                                    </div>
                                    <div class="media-body my-auto">
                                        <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.sales }}</h4>
                                        <p class="card-text font-small-3 mb-0">Sales</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                                <div class="media">
                                    <div class="avatar bg-light-info mr-2">
                                        <div class="avatar-content">
                                            <i class="avatar-icon" data-feather="user"></i>
                                        </div>
                                    </div>
                                    <div class="media-body my-auto">
                                        <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.customers }}</h4>
                                        <p class="card-text font-small-3 mb-0">Customers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                                <div class="media">
                                    <div class="avatar bg-light-danger mr-2">
                                        <div class="avatar-content">
                                            <i class="avatar-icon" data-feather="box"></i>
                                        </div>
                                    </div>
                                    <div class="media-body my-auto">
                                        <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.products }}</h4>
                                        <p class="card-text font-small-3 mb-0">Products</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <div class="media">
                                    <div class="avatar bg-light-success mr-2">
                                        <div class="avatar-content">
                                            <i class="avatar-icon" data-feather="dollar-sign"></i>
                                        </div>
                                    </div>
                                    <div class="media-body my-auto">
                                        <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.revenue }}</h4>
                                        <p class="card-text font-small-3 mb-0">Revenue</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Statistics Card -->
        </div>

        <div *ngIf="isAdmin" class="row match-height">
            <div class="col-lg-4 col-12">
                <div class="row match-height">
                    <!-- Bar Chart Orders -->
                    <div class="col-lg-6 col-md-3 col-6">
                        <div class="card">
                            <div class="card-body pb-50">
                                <h6>Orders</h6>
                                <h2 class="font-weight-bolder mb-1">{{ data.ordersChart.analyticsData.orders }}</h2>
                                <div #statisticsBarChartRef id="statistics-bar-chart">
                                    <!-- Apexchart component-->
                                    <apx-chart
                                            [chart]="{
                      height: 70,
                      width: isMenuToggled === false ? statisticsBarChartRef.offsetWidth : statisticsBar.chart.width,
                      type: 'bar',
                      stacked: true,
                      toolbar: {
                        show: false
                      }
                    }"
                                            [colors]="statisticsBar.colors"
                                            [dataLabels]="statisticsBar.dataLabels"
                                            [dataLabels]="statisticsBar.dataLabels"
                                            [grid]="statisticsBar.grid"
                                            [plotOptions]="statisticsBar.plotOptions"
                                            [series]="data.ordersChart.series"
                                            [tooltip]="statisticsBar.tooltip"
                                            [xaxis]="statisticsBar.xaxis"
                                            [yaxis]="statisticsBar.yaxis"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Bar Chart Orders -->

                    <!-- Line Chart Profit -->
                    <div class="col-lg-6 col-md-3 col-6">
                        <div class="card card-tiny-line-stats">
                            <div class="card-body pb-50">
                                <h6>Profit</h6>
                                <h2 class="font-weight-bolder mb-1">{{ data.profitChart.analyticsData.profit }}</h2>
                                <div #statisticsLineChartRef id="statistics-line-chart">
                                    <apx-chart
                                            [chart]="{
                      height: 70,
                      width: isMenuToggled === false ? statisticsLineChartRef.offsetWidth : statisticsLine.chart.width,
                      type: 'line',
                      toolbar: {
                        show: false
                      },
                      zoom: {
                        enabled: false
                      }
                    }"
                                            [colors]="statisticsLine.colors"
                                            [grid]="statisticsLine.grid"
                                            [markers]="statisticsLine.markers"
                                            [series]="data.profitChart.series"
                                            [stroke]="statisticsLine.stroke"
                                            [tooltip]="statisticsLine.tooltip"
                                            [xaxis]="statisticsLine.xaxis"
                                            [yaxis]="statisticsLine.yaxis"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Line Chart Profit -->

                    <!-- Earnings Chart -->
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="card earnings-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h4 class="card-title mb-1">Earnings</h4>
                                        <div class="font-small-2">This Month</div>
                                        <h5 class="mb-1">$4055.56</h5>
                                        <p class="card-text text-muted font-small-2">
                                            <span class="font-weight-bolder">68.2%</span><span> more earnings than last month.</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <div #earningChartRef id="earnings-donut-chart">
                                            <!-- Apexchart component-->
                                            <apx-chart
                                                    [chart]="{
                          type: 'donut',
                          width:
                            isMenuToggled === false ? earningChartRef.offsetWidth : earningChartoptions.chart.width,
                          height: 120,
                          toolbar: {
                            show: false
                          }
                        }"
                                                    [colors]="earningChartoptions.colors"
                                                    [dataLabels]="earningChartoptions.dataLabels"
                                                    [grid]="earningChartoptions.grid"
                                                    [labels]="earningChartoptions.labels"
                                                    [legend]="earningChartoptions.legend"
                                                    [plotOptions]="earningChartoptions.plotOptions"
                                                    [series]="earningChartoptions.series"
                                                    [stroke]="earningChartoptions.stroke"
                                            ></apx-chart>
                                            <!-- / Apexchart component-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Earnings Chart -->
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <!-- Revenue Report Card -->
                <div class="card card-revenue-budget">
                    <div class="row mx-0">
                        <div class="col-md-8 col-12 revenue-report-wrapper">
                            <div class="d-sm-flex justify-content-between align-items-center mb-3">
                                <h4 class="card-title mb-50 mb-sm-0">Revenue Report</h4>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center mr-2">
                                        <span class="bullet bullet-primary font-small-3 mr-50 cursor-pointer"></span>
                                        <span>Earning</span>
                                    </div>
                                    <div class="d-flex align-items-center ml-75">
                                        <span class="bullet bullet-warning font-small-3 mr-50 cursor-pointer"></span>
                                        <span>Expense</span>
                                    </div>
                                </div>
                            </div>
                            <div #revenueReportChartRef id="revenue-report-chart">
                                <apx-chart
                                        [chart]="{
                    height: 230,
                    width:
                      isMenuToggled === false
                        ? revenueReportChartRef.offsetWidth
                        : revenueReportChartoptions.chart.width,
                    stacked: true,
                    type: 'bar',
                    toolbar: { show: false }
                  }"
                                        [colors]="revenueReportChartoptions.colors"
                                        [dataLabels]="revenueReportChartoptions.dataLabels"
                                        [grid]="revenueReportChartoptions.grid"
                                        [legend]="revenueReportChartoptions.legend"
                                        [plotOptions]="revenueReportChartoptions.plotOptions"
                                        [series]="data.revenueReport.earningExpenseChart.series"
                                        [xaxis]="revenueReportChartoptions.xaxis"
                                        [yaxis]="revenueReportChartoptions.yaxis"
                                ></apx-chart>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 budget-wrapper">
                            <div class="btn-group">
                                <div ngbDropdown>
                                    <button
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="btn btn-outline-primary btn-sm dropdown-toggle budget-dropdown"
                                            data-toggle="dropdown"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        2020
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0);" ngbDropdownItem>2020</a>
                                        <a href="javascript:void(0);" ngbDropdownItem>2019</a>
                                        <a href="javascript:void(0);" ngbDropdownItem>2018</a>
                                    </div>
                                </div>
                            </div>
                            <h2 class="mb-25">{{ data.revenueReport.analyticsData.currentBudget }}</h2>
                            <div class="d-flex justify-content-center">
                                <span class="font-weight-bolder mr-25">Budget:</span>
                                <span>{{ data.revenueReport.analyticsData.totalBudget }}</span>
                            </div>
                            <div #budgetChartRef id="budget-chart">
                                <apx-chart
                                        [chart]="{
                    height: 80,
                    width: isMenuToggled === false ? budgetChartRef.offsetWidth : budgetChartoptions.chart.width,
                    toolbar: { show: false },
                    zoom: { enabled: false },
                    type: 'line',
                    sparkline: { enabled: true }
                  }"
                                        [colors]="budgetChartoptions.colors"
                                        [series]="data.revenueReport.budgetChart.series"
                                        [stroke]="budgetChartoptions.stroke"
                                        [tooltip]="budgetChartoptions.tooltip"
                                ></apx-chart>
                            </div>
                            <button class="btn btn-primary" rippleEffect type="button">Increase Budget</button>
                        </div>
                    </div>
                </div>
                <!--/ Revenue Report Card -->
            </div>
        </div>

        <div *ngIf="isAdmin" class="row match-height">
            <!-- Company Table -->
            <div class="col-lg-8 col-12">
                <div class="card card-company-table">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Category</th>
                                    <th>Views</th>
                                    <th>Revenue</th>
                                    <th>Sales</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar rounded">
                                                <div class="avatar-content">
                                                    <img alt="Toolbar svg" src="assets/images/icons/toolbox.svg"/>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-weight-bolder">Dixons</div>
                                                <div class="font-small-2 text-muted">meguc@ruj.io</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar bg-light-primary mr-1">
                                                <div class="avatar-content">
                                                    <i class="font-medium-3" data-feather="monitor"></i>
                                                </div>
                                            </div>
                                            <span>Technology</span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex flex-column">
                                            <span class="font-weight-bolder mb-25">23.4k</span>
                                            <span class="font-small-2 text-muted">in 24 hours</span>
                                        </div>
                                    </td>
                                    <td>$891.2</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bolder mr-1">68%</span>
                                            <i class="text-danger font-medium-1" data-feather="trending-down"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar rounded">
                                                <div class="avatar-content">
                                                    <img alt="Parachute svg" src="assets/images/icons/parachute.svg"/>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-weight-bolder">Motels</div>
                                                <div class="font-small-2 text-muted">vecav@hodzi.co.uk</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar bg-light-success mr-1">
                                                <div class="avatar-content">
                                                    <i class="font-medium-3" data-feather="coffee"></i>
                                                </div>
                                            </div>
                                            <span>Grocery</span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex flex-column">
                                            <span class="font-weight-bolder mb-25">78k</span>
                                            <span class="font-small-2 text-muted">in 2 days</span>
                                        </div>
                                    </td>
                                    <td>$668.51</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bolder mr-1">97%</span>
                                            <i class="text-success font-medium-1" data-feather="trending-up"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar rounded">
                                                <div class="avatar-content">
                                                    <img alt="Brush svg" src="assets/images/icons/brush.svg"/>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-weight-bolder">Zipcar</div>
                                                <div class="font-small-2 text-muted">davcilse@is.gov</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar bg-light-warning mr-1">
                                                <div class="avatar-content">
                                                    <i class="font-medium-3" data-feather="watch"></i>
                                                </div>
                                            </div>
                                            <span>Fashion</span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex flex-column">
                                            <span class="font-weight-bolder mb-25">162</span>
                                            <span class="font-small-2 text-muted">in 5 days</span>
                                        </div>
                                    </td>
                                    <td>$522.29</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bolder mr-1">62%</span>
                                            <i class="text-success font-medium-1" data-feather="trending-up"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar rounded">
                                                <div class="avatar-content">
                                                    <img alt="Star svg" src="assets/images/icons/star.svg"/>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-weight-bolder">Owning</div>
                                                <div class="font-small-2 text-muted">us@cuhil.gov</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar bg-light-primary mr-1">
                                                <div class="avatar-content">
                                                    <i class="font-medium-3" data-feather="monitor"></i>
                                                </div>
                                            </div>
                                            <span>Technology</span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex flex-column">
                                            <span class="font-weight-bolder mb-25">214</span>
                                            <span class="font-small-2 text-muted">in 24 hours</span>
                                        </div>
                                    </td>
                                    <td>$291.01</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bolder mr-1">88%</span>
                                            <i class="text-success font-medium-1" data-feather="trending-up"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar rounded">
                                                <div class="avatar-content">
                                                    <img alt="Book svg" src="assets/images/icons/book.svg"/>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-weight-bolder">Cafés</div>
                                                <div class="font-small-2 text-muted">pudais@jife.com</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar bg-light-success mr-1">
                                                <div class="avatar-content">
                                                    <i class="font-medium-3" data-feather="coffee"></i>
                                                </div>
                                            </div>
                                            <span>Grocery</span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex flex-column">
                                            <span class="font-weight-bolder mb-25">208</span>
                                            <span class="font-small-2 text-muted">in 1 week</span>
                                        </div>
                                    </td>
                                    <td>$783.93</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bolder mr-1">16%</span>
                                            <i class="text-danger font-medium-1" data-feather="trending-down"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar rounded">
                                                <div class="avatar-content">
                                                    <img alt="Rocket svg" src="assets/images/icons/rocket.svg"/>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-weight-bolder">Kmart</div>
                                                <div class="font-small-2 text-muted">bipri@cawiw.com</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar bg-light-warning mr-1">
                                                <div class="avatar-content">
                                                    <i class="font-medium-3" data-feather="watch"></i>
                                                </div>
                                            </div>
                                            <span>Fashion</span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex flex-column">
                                            <span class="font-weight-bolder mb-25">990</span>
                                            <span class="font-small-2 text-muted">in 1 month</span>
                                        </div>
                                    </td>
                                    <td>$780.05</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bolder mr-1">78%</span>
                                            <i class="text-success font-medium-1" data-feather="trending-up"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar rounded">
                                                <div class="avatar-content">
                                                    <img alt="Speaker svg" src="assets/images/icons/speaker.svg"/>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-weight-bolder">Payers</div>
                                                <div class="font-small-2 text-muted">luk@izug.io</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar bg-light-warning mr-1">
                                                <div class="avatar-content">
                                                    <i class="font-medium-3" data-feather="watch"></i>
                                                </div>
                                            </div>
                                            <span>Fashion</span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex flex-column">
                                            <span class="font-weight-bolder mb-25">12.9k</span>
                                            <span class="font-small-2 text-muted">in 12 hours</span>
                                        </div>
                                    </td>
                                    <td>$531.49</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bolder mr-1">42%</span>
                                            <i class="text-success font-medium-1" data-feather="trending-up"></i>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Company Table -->

            <!-- Developer Meetup Card -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card card-developer-meetup">
                    <div class="bg-light-primary rounded-top text-center">
                        <img alt="Meeting Pic" height="170" src="assets/images/illustration/email.svg"/>
                    </div>
                    <div class="card-body">
                        <div class="meetup-header d-flex align-items-center">
                            <div class="meetup-day">
                                <h6 class="mb-0">THU</h6>
                                <h3 class="mb-0">24</h3>
                            </div>
                            <div class="my-auto">
                                <h4 class="card-title mb-25">Developer Meetup</h4>
                                <p class="card-text mb-0">Meet world popular developers</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="avatar bg-light-primary rounded mr-1">
                                <div class="avatar-content">
                                    <i class="avatar-icon font-medium-3" data-feather="calendar"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="mb-0">Sat, May 25, 2020</h6>
                                <small>10:AM to 6:PM</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="avatar bg-light-primary rounded mr-1">
                                <div class="avatar-content">
                                    <i class="avatar-icon font-medium-3" data-feather="map-pin"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="mb-0">Central Park</h6>
                                <small>Manhattan, New york City</small>
                            </div>
                        </div>
                        <div class="avatar-group">
                            <div class="avatar pull-up" ngbTooltip="Billy Hopkins" placement="bottom">
                                <img alt="Avatar" height="33" src="assets/images/portrait/small/avatar-s-9.jpg"
                                     width="33"/>
                            </div>
                            <div class="avatar pull-up" ngbTooltip="Amy Carson" placement="bottom">
                                <img alt="Avatar" height="33" src="assets/images/portrait/small/avatar-s-6.jpg"
                                     width="33"/>
                            </div>
                            <div class="avatar pull-up" ngbTooltip="Brandon Miles" placement="bottom">
                                <img alt="Avatar" height="33" src="assets/images/portrait/small/avatar-s-8.jpg"
                                     width="33"/>
                            </div>
                            <div class="avatar pull-up" ngbTooltip="Daisy Weber" placement="bottom">
                                <img alt="Avatar" height="33" src="assets/images/portrait/small/avatar-s-7.jpg"
                                     width="33"/>
                            </div>
                            <div class="avatar pull-up" ngbTooltip="Jenny Looper" placement="bottom">
                                <img alt="Avatar" height="33" src="assets/images/portrait/small/avatar-s-20.jpg"
                                     width="33"/>
                            </div>
                            <h6 class="align-self-center cursor-pointer ml-50 mb-0">+42</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Developer Meetup Card -->

            <!-- Browser States Card -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card card-browser-states">
                    <div class="card-header">
                        <div class="broweser-states-header">
                            <div class="broweser-states-heade">
                                <h4 class="card-title">Browser States</h4>
                                <p class="card-text font-small-2">Counter August 2020</p>
                            </div>
                        </div>

                        <div ngbDropdown>
                            <a
                                    aria-expanded="false"
                                    aria-haspopup="true"
                                    class="hide-arrow"
                                    data-toggle="dropdown"
                                    href="javascript:void(0);"
                                    id="dropdownBrowserState"
                                    ngbDropdownToggle
                            >
                                <i [size]="18" class="text-body cursor-pointer" data-feather="more-vertical"></i>
                            </a>
                            <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right" ngbDropdownMenu>
                                <a href="javascript:void(0)" ngbDropdownItem>Last 28 Days</a>
                                <a href="javascript:void(0)" ngbDropdownItem>Last Month</a>
                                <a href="javascript:void(0)" ngbDropdownItem>Last Year</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="browser-states">
                            <div class="media">
                                <img alt="Google Chrome" class="rounded mr-1" height="30"
                                     src="assets/images/icons/google-chrome.png"/>
                                <h6 class="align-self-center mb-0">Google Chrome</h6>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="font-weight-bold text-body-heading mr-1">54.4%</div>
                                <div #statePrimaryChartRef class="state-chart-primary">
                                    <apx-chart
                                            [chart]="statePrimaryChartoptions.chart"
                                            [colors]="statePrimaryChartoptions.colors"
                                            [grid]="statePrimaryChartoptions.grid"
                                            [plotOptions]="statePrimaryChartoptions.plotOptions"
                                            [series]="statePrimaryChartoptions.series"
                                            [stroke]="statePrimaryChartoptions.stroke"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="browser-states">
                            <div class="media">
                                <img
                                        alt="Mozila Firefox"
                                        class="rounded mr-1"
                                        height="30"
                                        src="assets/images/icons/mozila-firefox.png"
                                />
                                <h6 class="align-self-center mb-0">Mozila Firefox</h6>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="font-weight-bold text-body-heading mr-1">6.1%</div>
                                <div #stateWarningChartRef class="state-chart-warning">
                                    <apx-chart
                                            [chart]="stateWarningChartoptions.chart"
                                            [colors]="stateWarningChartoptions.colors"
                                            [grid]="stateWarningChartoptions.grid"
                                            [plotOptions]="stateWarningChartoptions.plotOptions"
                                            [series]="stateWarningChartoptions.series"
                                            [stroke]="stateWarningChartoptions.stroke"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="browser-states">
                            <div class="media">
                                <img alt="Apple Safari" class="rounded mr-1" height="30"
                                     src="assets/images/icons/apple-safari.png"/>
                                <h6 class="align-self-center mb-0">Apple Safari</h6>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="font-weight-bold text-body-heading mr-1">14.6%</div>
                                <div #stateSecondaryChartRef class="state-chart-secondary">
                                    <apx-chart
                                            [chart]="stateSecondaryChartoptions.chart"
                                            [colors]="stateSecondaryChartoptions.colors"
                                            [grid]="stateSecondaryChartoptions.grid"
                                            [plotOptions]="stateSecondaryChartoptions.plotOptions"
                                            [series]="stateSecondaryChartoptions.series"
                                            [stroke]="stateSecondaryChartoptions.stroke"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="browser-states">
                            <div class="media">
                                <img
                                        alt="Internet Explorer"
                                        class="rounded mr-1"
                                        height="30"
                                        src="assets/images/icons/internet-explorer.png"
                                />
                                <h6 class="align-self-center mb-0">Internet Explorer</h6>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="font-weight-bold text-body-heading mr-1">4.2%</div>
                                <div #stateInfoChartRef class="state-chart-info">
                                    <apx-chart
                                            [chart]="stateInfoChartoptions.chart"
                                            [colors]="stateInfoChartoptions.colors"
                                            [grid]="stateInfoChartoptions.grid"
                                            [plotOptions]="stateInfoChartoptions.plotOptions"
                                            [series]="stateInfoChartoptions.series"
                                            [stroke]="stateInfoChartoptions.stroke"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="browser-states">
                            <div class="media">
                                <img alt="Opera Mini" class="rounded mr-1" height="30"
                                     src="assets/images/icons/opera.png"/>
                                <h6 class="align-self-center mb-0">Opera Mini</h6>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="font-weight-bold text-body-heading mr-1">8.4%</div>
                                <div #stateDangerChartRef class="state-chart-danger">
                                    <apx-chart
                                            [chart]="stateDangerChartoptions.chart"
                                            [colors]="stateDangerChartoptions.colors"
                                            [grid]="stateDangerChartoptions.grid"
                                            [plotOptions]="stateDangerChartoptions.plotOptions"
                                            [series]="stateDangerChartoptions.series"
                                            [stroke]="stateDangerChartoptions.stroke"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Browser States Card -->

            <!-- Goal Overview Card -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Goal Overview</h4>
                        <i class="font-medium-3 text-muted cursor-pointer" data-feather="help-circle"></i>
                    </div>
                    <div class="card-body p-0">
                        <div #goalChartRef class="mb-1 mt-1 pt-1" id="goalChartoptions">
                            <!-- Apexchart component-->
                            <apx-chart
                                    [chart]="{
                  height: 245,
                  width: isMenuToggled === false ? goalChartRef.offsetWidth : goalChartoptions.chart.width,
                  type: 'radialBar',
                  sparkline: {
                    enabled: true
                  },
                  dropShadow: {
                    enabled: true,
                    blur: 3,
                    left: 1,
                    top: 1,
                    opacity: 0.1
                  }
                }"
                                    [colors]="goalChartoptions.colors"
                                    [fill]="goalChartoptions.fill"
                                    [grid]="goalChartoptions.grid"
                                    [plotOptions]="goalChartoptions.plotOptions"
                                    [series]="data.goalOverview.series"
                                    [stroke]="goalChartoptions.stroke"
                            ></apx-chart>
                            <!-- / Apexchart component-->
                        </div>
                        <div class="row border-top text-center mx-0">
                            <div class="col-6 border-right py-1">
                                <p class="card-text text-muted mb-0">Completed</p>
                                <h3 class="font-weight-bolder mb-0">{{ data.goalOverview.analyticsData.completed }}</h3>
                            </div>
                            <div class="col-6 py-1">
                                <p class="card-text text-muted mb-0">In Progress</p>
                                <h3 class="font-weight-bolder mb-0">{{ data.goalOverview.analyticsData.inProgress }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Goal Overview Card -->

            <!-- Transactions Card -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card card-transaction">
                    <div class="card-header">
                        <h4 class="card-title">Transactions</h4>
                        <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
                        <div ngbDropdown>
                            <a
                                    aria-expanded="false"
                                    aria-haspopup="true"
                                    class="hide-arrow"
                                    data-toggle="dropdown"
                                    href="javascript:void(0);"
                                    id="dropdownTransactions"
                                    ngbDropdownToggle
                            >
                                <i [size]="18" class="text-body cursor-pointer" data-feather="more-vertical"></i>
                            </a>
                            <div aria-labelledby="dropdownTransactions" class="dropdown-menu-right" ngbDropdownMenu>
                                <a href="javascript:void(0)" ngbDropdownItem>Last 28 Days</a>
                                <a href="javascript:void(0)" ngbDropdownItem>Last Month</a>
                                <a href="javascript:void(0)" ngbDropdownItem>Last Year</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary rounded">
                                    <div class="avatar-content">
                                        <i class="avatar-icon font-medium-3" data-feather="pocket"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="transaction-title">Wallet</h6>
                                    <small>Starbucks</small>
                                </div>
                            </div>
                            <div class="font-weight-bolder text-danger">- $74</div>
                        </div>
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-success rounded">
                                    <div class="avatar-content">
                                        <i class="avatar-icon font-medium-3" data-feather="check"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="transaction-title">Bank Transfer</h6>
                                    <small>Add Money</small>
                                </div>
                            </div>
                            <div class="font-weight-bolder text-success">+ $480</div>
                        </div>
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-danger rounded">
                                    <div class="avatar-content">
                                        <i class="avatar-icon font-medium-3" data-feather="dollar-sign"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="transaction-title">Paypal</h6>
                                    <small>Add Money</small>
                                </div>
                            </div>
                            <div class="font-weight-bolder text-success">+ $590</div>
                        </div>
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-warning rounded">
                                    <div class="avatar-content">
                                        <i class="avatar-icon font-medium-3" data-feather="credit-card"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="transaction-title">Mastercard</h6>
                                    <small>Ordered Food</small>
                                </div>
                            </div>
                            <div class="font-weight-bolder text-danger">- $23</div>
                        </div>
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-info rounded">
                                    <div class="avatar-content">
                                        <i class="avatar-icon font-medium-3" data-feather="trending-up"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="transaction-title">Transfer</h6>
                                    <small>Refund</small>
                                </div>
                            </div>
                            <div class="font-weight-bolder text-success">+ $98</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Transactions Card -->
        </div>
    </div>
</div>
