<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Blog Edit -->
        <div class="blog-edit-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar mr-75">
                                    <img [src]="data.blogEdit.avatar" alt="Avatar" height="38" width="38"/>
                                </div>
                                <div class="media-body">
                                    <h6 class="mb-25">{{ data.blogEdit.username }}</h6>
                                    <p class="card-text">{{ data.blogEdit.postedAt }}</p>
                                </div>
                            </div>
                            <!-- Form -->
                            <form action="javascript:;" class="mt-2">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group mb-2">
                                            <label for="blog-edit-title">Title</label>
                                            <input
                                                    [(ngModel)]="data.blogEdit.blogTitle"
                                                    class="form-control"
                                                    id="blog-edit-title"
                                                    name="blog-edit-title"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group mb-2">
                                            <label for="blog-edit-category">Category</label>

                                            <ng-select
                                                    [(ngModel)]="selectCategoriesSelected"
                                                    [closeOnSelect]="false"
                                                    [items]="selectCategories"
                                                    [multiple]="true"
                                                    [searchable]="false"
                                                    bindLabel="name"
                                                    name="selectTitle"
                                                    placeholder="Select people"
                                            >
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group mb-2">
                                            <label for="blog-edit-slug">Slug</label>
                                            <input
                                                    class="form-control"
                                                    id="blog-edit-slug"
                                                    type="text"
                                                    value="the-best-features-coming-to-ios-and-web-design"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group mb-2">
                                            <label for="blog-edit-status">Status</label>
                                            <select
                                                    [(ngModel)]="data.blogEdit.status"
                                                    class="form-control"
                                                    id="blog-edit-status"
                                                    name="blog-edit-status"
                                            >
                                                <option value="Published">Published</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Draft">Draft</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group mb-2">
                                            <label>Content</label>
                                            <quill-editor [(ngModel)]="data.blogEdit.blogText"
                                                          name="quill-content"></quill-editor>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="border rounded p-2">
                                            <h4 class="mb-1">Featured Image</h4>
                                            <div class="media flex-column flex-md-row">
                                                <img
                                                        [src]="featuredImage"
                                                        alt="Blog Featured Image"
                                                        class="rounded mr-2 mb-1 mb-md-0"
                                                        height="110"
                                                        id="blog-feature-image"
                                                        width="170"
                                                />
                                                <div class="media-body">
                                                    <small class="text-muted">Required image resolution 800x400, image
                                                        size 10mb.</small>
                                                    <p class="my-50">
                                                        <a href="javascript:void(0);" id="blog-image-text"
                                                        >C:\fakepath\{{ fileName === undefined ? 'banner.jpg' : fileName }}</a
                                                        >
                                                    </p>
                                                    <div class="d-inline-block">
                                                        <div class="form-group mb-0">
                                                            <div class="custom-file">
                                                                <input
                                                                        (change)="uploadImage($event)"
                                                                        accept="image/*"
                                                                        class="custom-file-input"
                                                                        id="blogCustomFile"
                                                                        type="file"
                                                                />
                                                                <label class="custom-file-label" for="blogCustomFile">Choose
                                                                    file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-50">
                                        <button class="btn btn-primary mr-1" rippleEffect type="submit">Save Changes
                                        </button>
                                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!--/ Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Blog Edit -->
    </div>
</div>
