<div class="slideout-content">
    <!-- Modal to Add Customer starts-->
    <div class="modal-slide-in new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <div class="modal-content p-0">
                <button
                        (click)="toggleSidebar('invoide-add-sidebar')"
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                >
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title">
                        <span class="align-middle">Add Customer</span>
                    </h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <form>
                        <div class="form-group">
                            <label class="form-label" for="customer-name">Customer Name</label>
                            <input class="form-control" id="customer-name" placeholder="John Doe" type="text"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="customer-email">Email</label>
                            <input class="form-control" id="customer-email" placeholder="example@domain.com"
                                   type="email"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="customer-address">Customer Address</label>
                            <textarea
                                    class="form-control"
                                    cols="2"
                                    id="customer-address"
                                    placeholder="1307 Lady Bug Drive New York"
                                    rows="2"
                            ></textarea>
                        </div>
                        <div class="form-group position-relative">
                            <label class="form-label" for="customer-country">Country</label>
                            <select class="form-control" id="customer-country" name="customer-country">
                                <option label="select country"></option>
                                <option value="Australia">Australia</option>
                                <option value="Canada">Canada</option>
                                <option value="Russia">Russia</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United Arab Emirates">United Arab Emirates</option>
                                <option value="United States of America">United States of America</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="customer-contact">Contact</label>
                            <input class="form-control" id="customer-contact" placeholder="763-242-9206" type="number"/>
                        </div>
                        <div class="form-group d-flex flex-wrap mt-2">
                            <button
                                    (click)="toggleSidebar('invoide-add-sidebar')"
                                    class="btn btn-primary mr-1"
                                    rippleEffect
                                    type="button"
                            >
                                Add
                            </button>
                            <button
                                    (click)="toggleSidebar('invoide-add-sidebar')"
                                    class="btn btn-outline-secondary"
                                    data-dismiss="modal"
                                    rippleEffect
                                    type="button"
                            >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal to Add Customer Ends-->
</div>
