<div class="content-wrapper container-xxl p-2">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
        <div class="card-body">
            <form #departmentEditForm='ngForm' (ngSubmit)="departmentEditForm.form.valid" class="form form-vertical">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="first-name-icon">Department Name</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'home'"></span></span>
                                </div>
                                <input
                                    #unitNameInput="ngModel"
                                    [(ngModel)]="unitName"
                                    [class.error]="(departmentEditForm.submitted || unitNameInput.touched) && unitNameInput.invalid"
                                    [ngClass]="{ 'is-invalid': (departmentEditForm.submitted || unitNameInput.touched) && unitNameInput.invalid }"
                                    class="form-control"
                                    id="first-name-icon"
                                    name="fname-icon"
                                    placeholder="Enter Department Name Here"
                                    required
                                    type="text"
                                />
                                <div *ngIf="unitNameInput.invalid && (unitNameInput.touched || departmentEditForm.submitted)"
                                     [ngClass]="{'d-block' : (departmentEditForm.submitted || unitNameInput.touched) && unitNameInput.invalid}"
                                     class="invalid-feedback">
                                    <span *ngIf="unitNameInput.errors.required">This field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">Manager Email</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <!--                                    <input-->
                                <!--                                            type="text"-->
                                <!--                                            id="email-id-icon"-->
                                <!--                                            class="form-control"-->
                                <!--                                            name="email-id-icon"-->
                                <!--                                            placeholder="Enter Department Manager Email Here"-->
                                <!--                                            [(ngModel)]="managerEmail"-->
                                <!--                                    />-->

                                <ng-select
                                    #EmailRef="ngModel"
                                    (change)="onUserSelect($event)"
                                    [(ngModel)]="managerEmail"
                                    [class.error]="(departmentEditForm.submitted || EmailRef.touched) && EmailRef.invalid"
                                    [items]="selectUser"
                                    [ngClass]="{'is-invalid error': (departmentEditForm.submitted || EmailRef.touched) && EmailRef.invalid}"
                                    bindLabel="email"
                                    bindValue="email"
                                    class="width-77"
                                    id="email"
                                    placeholder="Enter Department Manager Email Here"
                                    required
                                >
                                    <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                 ng-option-tmp>
                                        <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                        <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ item.firstName + ' ' + item.lastName }}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{ item.role }}</h6>
                                                <p class="card-text">
                                                    <i [data-feather]="'mail'"></i>
                                                    {{ item.email }}
                                                </p>

                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                                <span *ngIf="(departmentEditForm.submitted || EmailRef.touched) && EmailRef.invalid"
                                      [ngClass]="{'d-block' : (departmentEditForm.submitted || EmailRef.touched) && departmentEditForm.invalid}"
                                      class="invalid-feedback">
                <small *ngIf="EmailRef.errors.required" class="form-text text-danger">This field is required!</small>
            </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button (click)="editOrganizationalUnit()" class="btn btn-primary mr-1" rippleEffect
                                type="submit">Submit
                        </button>
                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
