<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- Timeline Starts -->
        <section class="basic-timeline">
            <div class="row">
                <div class="col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeBasic">
                        <h4 class="card-title">Basic</h4>
                        <div class="card-body">
                            <ul class="timeline">
                                <li class="timeline-item">
                                    <span class="timeline-point timeline-point-indicator"></span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>12 Invoices have been paid</h6>
                                            <span class="timeline-event-time">12 min ago</span>
                                        </div>
                                        <p>Invoices have been paid to the company.</p>
                                        <div class="media align-items-center">
                                            <img alt="invoice" class="mr-1" height="23"
                                                 src="assets/images/icons/file-icons/pdf.png"/>
                                            <div class="media-body">invoice.pdf</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>Client Meeting</h6>
                                            <span class="timeline-event-time">45 min ago</span>
                                        </div>
                                        <p>Project meeting with john @10:15am.</p>
                                        <div class="media align-items-center">
                                            <div class="avatar">
                                                <img alt="avatar" height="38" src="assets/images/avatars/12-small.png"
                                                     width="38"/>
                                            </div>
                                            <div class="media-body ml-50">
                                                <h6 class="mb-0">John Doe (Client)</h6>
                                                <span>CEO of Infibeam</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>Financial Report</h6>
                                            <span class="timeline-event-time">2 hours ago</span>
                                        </div>
                                        <p class="mb-50">Click the button below to read financial reports</p>
                                        <button
                                                (click)="showReportBasic = !showReportBasic"
                                                aria-controls="collapseExample"
                                                aria-expanded="true"
                                                class="btn btn-outline-primary btn-sm"
                                                data-target="#collapseExample"
                                                data-toggle="collapse"
                                                rippleEffect
                                                type="button"
                                        >
                                            Show Report
                                        </button>
                                        <div [ngbCollapse]="showReportBasic" class="collapse" id="collapseExample">
                                            <ul class="list-group list-group-flush mt-1">
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span>Last Years's Profit : <span
                                                            class="font-weight-bold">$20000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> This Years's Profit : <span
                                                            class="font-weight-bold">$25000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> Last Years's Commission : <span class="font-weight-bold">$5000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> This Years's Commission : <span class="font-weight-bold">$7000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> This Years's Total Balance : <span class="font-weight-bold">$70000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6 class="mb-50">Interview Schedule</h6>
                                            <span class="timeline-event-time">03:00 PM</span>
                                        </div>
                                        <p>Have to interview Katy Turner for the developer job.</p>
                                        <hr/>
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <div class="media align-items-center">
                                                <div class="avatar mr-1">
                                                    <img alt="Avatar" height="32"
                                                         src="assets/images/avatars/1-small.png" width="32"/>
                                                </div>
                                                <div class="media-body">
                                                    <p class="mb-0">Katy Turner</p>
                                                    <span class="text-muted">Javascript Developer</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center cursor-pointer mt-sm-0 mt-50">
                                                <i class="mr-1" data-feather="message-square"></i>
                                                <i data-feather="phone-call"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <span class="timeline-point timeline-point-danger timeline-point-indicator"></span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>Online Store</h6>
                                            <span class="timeline-event-time">03:00PM</span>
                                        </div>
                                        <p>
                                            Develop an online store of electronic devices for the provided layout, as
                                            well as develop a mobile
                                            version of it. The must be compatible with any CMS.
                                        </p>
                                        <div class="d-flex justify-content-between flex-wrap flex-sm-row flex-column">
                                            <div>
                                                <p class="text-muted mb-50">Developers</p>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar bg-light-primary avatar-sm mr-50">
                                                        <span class="avatar-content">A</span>
                                                    </div>
                                                    <div class="avatar bg-light-success avatar-sm mr-50">
                                                        <span class="avatar-content">B</span>
                                                    </div>
                                                    <div class="avatar bg-light-danger avatar-sm">
                                                        <span class="avatar-content">C</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-sm-0 mt-1">
                                                <p class="text-muted mb-50">Deadline</p>
                                                <p class="mb-0">20 Dec 2077</p>
                                            </div>
                                            <div class="mt-sm-0 mt-1">
                                                <p class="text-muted mb-50">Budget</p>
                                                <p class="mb-0">$50000</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between align-items-center mb-50">
                                            <h6>Designing UI</h6>
                                            <div>
                                                <span class="badge badge-pill badge-light-primary">Design</span>
                                            </div>
                                        </div>
                                        <p>
                                            Our main goal is to design a new mobile application for our client. The
                                            customer wants a clean &
                                            flat design.
                                        </p>
                                        <div>
                                            <span class="text-muted">Participants</span>
                                            <div class="avatar-group mt-50">
                                                <div class="avatar pull-up" ngbTooltip="Vinnie Mostowy"
                                                     placement="bottom">
                                                    <img
                                                            alt="Avatar"
                                                            class="media-object"
                                                            height="30"
                                                            src="assets/images/portrait/small/avatar-s-5.jpg"
                                                            width="30"
                                                    />
                                                </div>
                                                <div class="avatar pull-up" ngbTooltip="Elicia Rieske"
                                                     placement="bottom">
                                                    >
                                                    <img
                                                            alt="Avatar"
                                                            class="media-object"
                                                            height="30"
                                                            src="assets/images/portrait/small/avatar-s-7.jpg"
                                                            width="30"
                                                    />
                                                </div>
                                                <div class="avatar pull-up" ngbTooltip="Julee Rossignol"
                                                     placement="bottom">
                                                    <img
                                                            alt="Avatar"
                                                            class="media-object"
                                                            height="30"
                                                            src="assets/images/portrait/small/avatar-s-10.jpg"
                                                            width="30"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-md-6">
                    <core-card-snippet [snippetCode]="_snippetCodeIcons">
                        <h4 class="card-title">Icons</h4>
                        <div class="card-body">
                            <ul class="timeline">
                                <li class="timeline-item">
                  <span class="timeline-point">
                    <i data-feather="dollar-sign"></i>
                  </span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>12 Invoices have been paid</h6>
                                            <span class="timeline-event-time">12 min ago</span>
                                        </div>
                                        <p>Invoices have been paid to the company.</p>
                                        <div class="media align-items-center">
                                            <img alt="invoice" class="mr-1" height="23"
                                                 src="assets/images/icons/file-icons/pdf.png"/>
                                            <div class="media-body">invoice.pdf</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                  <span class="timeline-point timeline-point-secondary">
                    <i data-feather="user"></i>
                  </span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>Client Meeting</h6>
                                            <span class="timeline-event-time">45 min ago</span>
                                        </div>
                                        <p>Project meeting with john @10:15am.</p>
                                        <div class="media align-items-center">
                                            <div class="avatar">
                                                <img alt="avatar" height="38" src="assets/images/avatars/12-small.png"
                                                     width="38"/>
                                            </div>
                                            <div class="media-body ml-50">
                                                <h6 class="mb-0">John Doe (Client)</h6>
                                                <span>CEO of Infibeam</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                  <span class="timeline-point timeline-point-success">
                    <i data-feather="file-text"></i>
                  </span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>Financial Report</h6>
                                            <span class="timeline-event-time">2 hours ago</span>
                                        </div>
                                        <p class="mb-50">Click the button below to read financial reports</p>
                                        <button
                                                (click)="showReportIcons = !showReportIcons"
                                                aria-controls="collapseExample2"
                                                aria-expanded="true"
                                                class="btn btn-outline-primary btn-sm"
                                                data-target="#collapseExample2"
                                                data-toggle="collapse"
                                                rippleEffect
                                                type="button"
                                        >
                                            Show Report
                                        </button>
                                        <div [ngbCollapse]="showReportIcons" class="collapse" id="collapseExample2">
                                            <ul class="list-group list-group-flush mt-1">
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span>Last Years's Profit : <span
                                                            class="font-weight-bold">$20000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> This Years's Profit : <span
                                                            class="font-weight-bold">$25000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> Last Years's Commission : <span class="font-weight-bold">$5000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> This Years's Commission : <span class="font-weight-bold">$7000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between flex-wrap">
                                                    <span> This Years's Total Balance : <span class="font-weight-bold">$70000</span></span>
                                                    <i class="cursor-pointer" data-feather="share-2"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                  <span class="timeline-point timeline-point-warning">
                    <i data-feather="map-pin"></i>
                  </span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6 class="mb-50">Interview Schedule</h6>
                                            <span class="timeline-event-time">03:00 PM</span>
                                        </div>
                                        <p>Have to interview Katy Turner for the developer job.</p>
                                        <hr/>
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <div class="media align-items-center">
                                                <div class="avatar mr-1">
                                                    <img alt="Avatar" height="32"
                                                         src="assets/images/avatars/1-small.png" width="32"/>
                                                </div>
                                                <div class="media-body">
                                                    <p class="mb-0">Katy Turner</p>
                                                    <span class="text-muted">Javascript Developer</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center cursor-pointer mt-sm-0 mt-50">
                                                <i class="mr-1" data-feather="message-square"></i>
                                                <i data-feather="phone-call"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                  <span class="timeline-point timeline-point-danger">
                    <i data-feather="shopping-bag"></i>
                  </span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                            <h6>Online Store</h6>
                                            <span class="timeline-event-time">03:00PM</span>
                                        </div>
                                        <p>
                                            Develop an online store of electronic devices for the provided layout, as
                                            well as develop a mobile
                                            version of it. The must be compatible with any CMS.
                                        </p>
                                        <div class="d-flex justify-content-between flex-wrap flex-sm-row flex-column">
                                            <div>
                                                <p class="text-muted mb-50">Developers</p>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar bg-light-primary avatar-sm mr-50">
                                                        <span class="avatar-content">A</span>
                                                    </div>
                                                    <div class="avatar bg-light-success avatar-sm mr-50">
                                                        <span class="avatar-content">B</span>
                                                    </div>
                                                    <div class="avatar bg-light-danger avatar-sm">
                                                        <span class="avatar-content">C</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-sm-0 mt-1">
                                                <p class="text-muted mb-50">Deadline</p>
                                                <p class="mb-0">20 Dec 2077</p>
                                            </div>
                                            <div class="mt-sm-0 mt-1">
                                                <p class="text-muted mb-50">Budget</p>
                                                <p class="mb-0">$50000</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                  <span class="timeline-point timeline-point-info">
                    <i data-feather="server"></i>
                  </span>
                                    <div class="timeline-event">
                                        <div class="d-flex justify-content-between align-items-center mb-50">
                                            <h6>Designing UI</h6>
                                            <div>
                                                <span class="badge badge-pill badge-light-primary">Design</span>
                                            </div>
                                        </div>
                                        <p>
                                            Our main goal is to design a new mobile application for our client. The
                                            customer wants a clean &
                                            flat design.
                                        </p>
                                        <div>
                                            <span class="text-muted">Participants</span>
                                            <div class="avatar-group mt-50">
                                                <div class="avatar pull-up" ngbTooltip="Vinnie Mostowy"
                                                     placement="bottom">
                                                    <img
                                                            alt="Avatar"
                                                            class="media-object"
                                                            height="30"
                                                            src="assets/images/portrait/small/avatar-s-5.jpg"
                                                            width="30"
                                                    />
                                                </div>
                                                <div class="avatar pull-up" ngbTooltip="Elicia Rieske"
                                                     placement="bottom">
                                                    <img
                                                            alt="Avatar"
                                                            class="media-object"
                                                            height="30"
                                                            src="assets/images/portrait/small/avatar-s-7.jpg"
                                                            width="30"
                                                    />
                                                </div>
                                                <div class="avatar pull-up" ngbTooltip="Julee Rossignol"
                                                     placement="bottom">
                                                    <img
                                                            alt="Avatar"
                                                            class="media-object"
                                                            height="30"
                                                            src="assets/images/portrait/small/avatar-s-10.jpg"
                                                            width="30"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Timeline Ends -->
    </div>
</div>
