<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <div class="card">
            <h5 class="card-header">Search Filter</h5>
            <div class="card-body">
                <div class="users-list-filter">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <fieldset class="form-group">
                                    <ng-select
                                            (change)="filterByStatus($event)"
                                            [(ngModel)]="selectedStatus"
                                            [items]="selectStatus"
                                            bindLabel="name"
                                            name="selectedStatus"
                                            placeholder="Select Status"
                                    ></ng-select>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <section id="ngx-datatable-kitchen-sink4">


            <core-card-snippet>
                <h4 class="card-title">Teams Leave Requests List</h4>
                <div class="row">

                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center"
                            >Show
                                <select [(ngModel)]="basicSelectedOption" class="form-control mx-25">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label
                            >
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"
                            >Search<input
                                    (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)"
                                    class="form-control ml-25"
                                    placeholder="Search"
                                    type="search"
                            /></label>
                            <a *ngIf="role!='USER'" [routerLink]="['../add']" class="btn  btn-primary float-right ml-1"
                               rippleEffect
                            >Demand Team Leave</a
                            >
                            <a [data]="data" class="btn btn-outline-secondary float-right ml-1" csvLink rippleEffect
                            >Export CSV</a
                            >
                        </div>
                    </div>
                </div>
                <ngx-datatable
                    #table
                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [headerHeight]="40"
                    [limit]="basicSelectedOption"
                    [rowHeight]="'auto'"
                    [rows]="rows"
                    [scrollbarH]="true"
                    class="bootstrap core-bootstrap"
                    rowHeight="auto"
                >
                    <ngx-datatable-column [canAutoResize]="false" [draggable]="false" [resizeable]="false"
                                          [sortable]="false"
                                          [width]="50"
                                          name="ID"
                                          prop="id">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [maxWidth]="150" name="Requesting Team" prop="team.name">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Start Date" prop="startDate">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value | date:'short' }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="End Date" prop="endDate">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value | date:'short' }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Created At" prop="createdAt">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value | date:'short' }}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Reason" prop="reason">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">{{ value }}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [maxWidth]="150" name="Status" prop="status">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">
                                <div *ngIf="value=== 'ACCEPTED'" class="badge badge-success">
                                    <i class="mr-25" data-feather="check-circle"></i>
                                    <span>{{ value }}</span>
                                </div>
                                <div *ngIf="value=== 'REJECTED'" class="badge badge-danger">
                                    <i class="mr-25" data-feather="x-circle"></i>
                                    <span>{{ value }}</span>
                                </div>
                                <div *ngIf="value=== 'PENDING'" class="badge badge-warning">
                                    <i class="mr-25" data-feather="alert-circle"></i>
                                    <span>{{ value }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [canAutoResize]="true" [draggable]="false" [minWidth]="300"
                                          [resizeable]="true"
                                          [sortable]="false"
                                          name="Actions">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">

                                <!--               <a (click)="putstatus(row.id,'Verified')"><i  data-feather="check" class="text-primary cursor-pointer mr-2"></i></a>
                                               <a (click)="putstatus(row.id,'Refused')"><i  data-feather="x" class="text-primary cursor-pointer mr-2"></i></a>-->
                                <button (click)="acceptTeamLeave(row.id)"
                                        [disabled]="row.status !== 'PENDING' || role !== 'ADMIN'"
                                        class="btn btn-success btn-sm mr-2"
                                        rippleEffect type="button"><span
                                        [data-feather]="'check'"></span>Accept
                                </button>
                                <button (click)="rejectTeamLeave(row.id)"
                                        [disabled]="row.status !== 'PENDING' || role !== 'ADMIN'"
                                        class="btn btn-danger btn-sm mr-2"
                                        rippleEffect type="button"><span
                                        [data-feather]="'x'"></span>Refuse
                                </button>
                                <div container="body" ngbDropdown>
                                    <a
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="hide-arrow"
                                            data-toggle="dropdown"
                                            href="javascript:void(0);"
                                            id="dropdownBrowserState"
                                            ngbDropdownToggle
                                    >
                                        <i class="text-primary cursor-pointer mr-50" data-feather="more-vertical"></i>
                                    </a>
                                    <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right"
                                         ngbDropdownMenu>

                                        <a (click)="acceptTeamLeave(row.id)"
                                           [disabled]="row.status !== 'PENDING' || role !== 'ADMIN'"
                                           class="d-flex align-items-center"
                                           ngbDropdownItem
                                        ><i class="mr-50" data-feather="archive"></i> Accept</a
                                        >
                                        <a (click)="rejectTeamLeave(row.id)"
                                           [disabled]="row.status !== 'PENDING' || role !== 'ADMIN'"
                                           class="d-flex align-items-center"
                                           ngbDropdownItem
                                        ><i class="mr-50" data-feather="trash-2"></i> Refuse</a
                                        >
                                        <a href="javascript:;" ngbDropdownItem
                                           routerLink="/apps/team-leave/edit/{{ row.id }}"
                                        ><span [class]="'mr-50'" [data-feather]="'edit'" [size]="16"></span> Edit</a
                                        >
                                        <a (click)="deleteTeamLeave(row.id)" href="javascript:;" ngbDropdownItem
                                        ><span [class]="'mr-50'" [data-feather]="'trash'" [size]="16"></span> Delete</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </core-card-snippet>
        </section>
    </div>
</div>
