<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- page users view start -->
        <section class="app-user-view">
            <!-- User Card & Plan Starts -->
            <div class="row">
                <!-- User Card starts-->
                <div class="col-6">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="row d-flex align-items-lg-stretch match-height">
                                <div class="col-3 mt-2 mt-xl-0">
                                    <div class="user-avatar-section ">
                                        <div class="d-flex justify-content-start">
                                            <div class="d-flex flex-column ml-1">
                                                <div class="user-info mb-1">
                                                    <h4 class="mb-0">{{ data.firstName }} {{ data.lastName }}</h4>
                                                    <span class="card-text"> <i
                                                            [data-feather]="data.role === 'USER' ? 'user' : 'user-check'"></i> {{ data.role }}</span>
                                                    <img [ngStyle]="{'width':'150px', 'border-radius' : '15px'}"
                                                         alt="avatar"
                                                         class="mt-2 avatar"
                                                         src="assets/images/avatars/2.png">
                                                </div>
                                                <div class="d-flex  align-items-center">
                                                    <a class="btn btn-primary"
                                                       routerLink="/apps/user/user-edit/{{data.id}}">Edit</a>
                                                    <button (click)="deleteUser()" class="btn btn-outline-danger ml-1">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 mt-2 ml-3">
                                    <div class="user-info-wrapper">
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="user"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0">First Name</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.firstName }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="check"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0">Last Name</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.lastName }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="star"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0">Role</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.role }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="flag"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0">Email</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.email }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="phone"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0">Phone</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.phone !== null ? data.phone : 'No Number' }}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /User Card Ends-->

                <div class="col-6">
                    <div class="card">
                        <div class="card text-center">
                            <div class="card-header justify-content-center">
                                <h4 class="card-title mb-75">Team</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                    <div class="user-avatar-section">
                                        <div class="d-flex justify-content-start">
                                            <div class="d-flex flex-column ml-1">
                                                <div class="user-info mb-1">
                                                    <h4 class="mb-0">Team ID
                                                        :{{ data.team != null ? data.team.id : 'undefined' }}</h4>
                                                    <span class="card-text">{{ data.team != null ? data.team.name : 'undefined' }}</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                    <div class="user-info-wrapper">
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="users"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Team name</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.team != null ? data.team.name : 'Teamless' }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="user-check"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Manager Name</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.team != null ? data.team.manager.firstName + ' ' + data.team.manager.lastName : 'undefined' }} </p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="calendar"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Created At</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.team != null ? (data.team.createdAt | date:'short') : 'undefined' }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="flag"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Description</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.team != null ? data.team.description : 'undefined' }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="slack"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Department</span>
                                            </div>
                                            <p class="card-text mb-0 ">{{ data.team.organizationalUnit.name ? data.team.organizationalUnit.name : data.team.organizationalUnit }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- Plan Card starts-->

                <!-- /Plan CardEnds -->
            </div>

        </section>
        <!-- page users view end -->


    </div>
</div>
