<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <section class="form-control-repeater">
            <div class="row">
                <!-- Invoice repeater -->
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeInvoiceRepeater">
                        <h4 class="card-title">Form Repeater</h4>
                        <div class="card-body">
                            <form action="#" class="invoice-repeater">
                                <div *ngFor="let item of items; let i = index" @heightIn>
                                    <div class="row d-flex align-items-end">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="itemName{{ i }}">Item Name</label>
                                                <input
                                                        [(ngModel)]="item.itemName"
                                                        class="form-control"
                                                        id="itemName{{ i }}"
                                                        name="itemName{{ i }}"
                                                        placeholder="Vuexy Admin Template"
                                                        type="text"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-12">
                                            <div class="form-group">
                                                <label for="itemCost">Cost</label>
                                                <input
                                                        [(ngModel)]="item.itemCost"
                                                        class="form-control"
                                                        id="itemcost"
                                                        id="itemCost{{ i }}"
                                                        name="itemCost{{ i }}"
                                                        placeholder="32"
                                                        type="number"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-12">
                                            <div class="form-group">
                                                <label for="itemQuantity{{ i }}">Quantity</label>
                                                <input
                                                        [(ngModel)]="item.itemQuantity"
                                                        class="form-control"
                                                        id="itemQuantity{{ i }}"
                                                        name="itemQuantity{{ i }}"
                                                        placeholder="1"
                                                        type="number"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-12">
                                            <div class="form-group">
                                                <label for="staticPrice">Price</label>
                                                <input class="form-control-plaintext" id="staticPrice" readonly
                                                       type="text" value="$32"/>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-12 mb-50">
                                            <div class="form-group">
                                                <button (click)="deleteItem(i)"
                                                        class="btn btn-outline-danger text-nowrap px-1" rippleEffect>
                                                    <i class="mr-25" data-feather="x"></i>
                                                    <span>Delete</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <button (click)="addItem()" class="btn btn-icon btn-primary" rippleEffect
                                            type="button">
                                        <i class="mr-25" data-feather="plus"></i>
                                        <span>Add New</span>
                                    </button>
                                </div>
                            </div>
                            <pre class="p-1 text-white mt-1">
                <div *ngFor="let item of items; let i = index">
    Index: {{ i }}
                    Item Name: {{ item.itemName }}
                    Cost: {{ item.itemCost }}
                    Quantity: {{ item.itemQuantity }}</div>
              </pre>
                        </div>
                    </core-card-snippet>
                </div>
                <!--/ Invoice repeater -->
            </div>
        </section>

    </div>
</div>
