<!-- Menu header -->
<div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto">
            <!-- App Branding -->
            <a [routerLink]="['/']" class="navbar-brand">
        <span class="brand-logo">
          <img alt="brand-logo" src="{{ coreConfig.app.appLogoImage }}"/>
        </span>
                <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2>
            </a>
        </li>

        <!-- Menu Toggler -->
        <li class="nav-item nav-toggle">
            <a (click)="toggleSidebarCollapsible()" class="nav-link modern-nav-toggle d-none d-xl-block pr-0">
                <i
                        [ngClass]="isCollapsed === true ? 'icon-circle' : 'icon-disc'"
                        class="toggle-icon feather font-medium-4 collapse-toggle-icon text-primary"
                ></i>
            </a>
            <a (click)="toggleSidebar()" class="nav-link modern-nav-toggle d-block d-xl-none pr-0">
                <i class="font-medium-4 text-primary toggle-icon" data-feather="x"></i>
            </a>
        </li>
    </ul>
</div>
<!--/ Menu header -->

<!-- Navbar shadow -->
<div [ngClass]="{ 'd-block': isScrolled }" class="shadow-bottom"></div>

<!-- Main menu -->
<div (scroll)="onSidebarScroll()" [perfectScrollbar] class="main-menu-content">
    <ul class="navigation navigation-main" core-menu layout="vertical"></ul>
</div>
<!--/ Main menu -->
