<!-- Main Sidebar -->
<div class="main-sidebar sidebar">
    <div class="sidebar-content todo-sidebar">
        <div [perfectScrollbar] class="todo-app-menu">
            <div class="add-task">
                <button
                        (click)="createNewTodo('todo-sidebar-right', 'todo-sidebar-main')"
                        class="btn btn-primary btn-block"
                        rippleEffect
                        type="button"
                >
                    Add Task
                </button>
            </div>
            <div class="sidebar-menu-list">
                <div class="list-group list-group-filters">
                    <a
                            (click)="toggleSidebar('todo-sidebar-main')"
                            *ngFor="let filter of filters"
                            [routerLinkActive]="'active'"
                            [routerLink]="'/apps/todo/' + filter.handle"
                            class="list-group-item list-group-item-action"
                    >
                        <i [data-feather]="filter.icon" [size]="18" class="mr-75"></i>
                        <span class="align-middle">{{ filter.title }}</span>
                    </a>
                </div>
                <div class="mt-3 px-2 d-flex justify-content-between">
                    <h6 class="section-label mb-1">Tags</h6>
                    <i class="cursor-pointer" data-feather="plus"></i>
                </div>
                <div class="list-group list-group-labels">
                    <a
                            (click)="toggleSidebar('todo-sidebar-main')"
                            *ngFor="let tag of tags"
                            [routerLinkActive]="'active'"
                            [routerLink]="'/apps/todo/tag/' + tag.handle"
                            class="list-group-item list-group-item-action d-flex align-items-center"
                    >
                        <span class="bullet bullet-sm mr-1 {{ tag.color }}"></span>{{ tag.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Main Sidebar -->
