<!-- ngb-toast component -->
<ngb-toast
        (hide)="toastService.remove(toast)"
        *ngFor="let toast of toastService.toasts"
        [autohide]="toast.autohide"
        [class]="toast.classname"
        [delay]="toast.delay || 5000"
>
    <!-- toast header -->
    <ng-template ngbToastHeader>
        <img alt="Toast image" class="mr-2" height="18" src="assets/images/logo/logo.png" width="25"/>
        <strong class="mr-auto toast-title">Vuexy Admin</strong>
        <small class="text-muted toast-time ml-5 mr-1 pl-3">11 mins ago</small>
    </ng-template>
    <!--/ toast header -->

    <!-- toast body -->
    <ng-template [ngIfElse]="text" [ngIf]="isTemplate(toast)">
        <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
    </ng-template>
    <ng-template #text>{{ toast.textOrTpl }}</ng-template>
    <!--/ toast body -->
</ngb-toast>
<!--/ ngb-toast component -->
