<!-- card snippet component -->
<div class="card">
    <div class="card-header">
        <ng-content select=".card-title"></ng-content>

        <i
                (click)="snippetCode.isCollapsed = !snippetCode.isCollapsed"
                [attr.aria-expanded]="!snippetCode.isCollapsed"
                class="code-icon"
        ></i>
    </div>

    <!--? content wrapped with .card-body -->
    <ng-content select=".card-body"></ng-content>

    <!--? content without any wrapper -->
    <ng-content></ng-content>

    <!-- snippet code -->
    <div [ngbCollapse]="snippetCode.isCollapsed">
        <div class="card-body pt-0">
            <!-- nav tabs -->
            <ul #nav="ngbNav" [(activeId)]="snippetCode.active" class="nav-tabs" ngbNav>
                <li *ngIf="snippetCode.html" [ngbNavItem]="'html'">
                    <a ngbNavLink>HTML</a>
                    <ng-template ngbNavContent>
                        <div class="code-toggle">
              <pre>
                  <i (click)="copyCode(snippetCode.html)" *ngIf='!copyCodeStatus'
                     class="feather icon-copy font-medium-2 cursor-pointer text-white p-1"></i>
                  <span *ngIf='copyCodeStatus' class="text-white text-copied mr-1 badge badge-secondary">copied !</span>
                  <code [highlight]="snippetCode.html" [languages]="['html']">
                  </code>
                </pre>
                        </div>
                    </ng-template>
                </li>
                <li *ngIf="snippetCode.ts" [ngbNavItem]="'ts'">
                    <a ngbNavLink>TS</a>
                    <ng-template ngbNavContent>
                        <div class="code-toggle">
              <pre>
                  <i (click)="copyCode(snippetCode.ts)"
                     *ngIf='!copyCodeStatus' class="feather icon-copy font-medium-2 cursor-pointer text-white float-right p-1"></i>
                  <span *ngIf='copyCodeStatus' class="text-white float-right mr-1 badge badge-secondary">copied !</span>
                  <code [highlight]="snippetCode.ts" [languages]="['typescript']">
                  </code>
                </pre>
                        </div>
                    </ng-template>
                </li>
                <li *ngIf="snippetCode.scss" [ngbNavItem]="'scss'">
                    <a ngbNavLink>SCSS</a>
                    <ng-template ngbNavContent>
                        <div class="code-toggle">
              <pre>
                  <i (click)="copyCode(snippetCode.scss)"
                     *ngIf='!copyCodeStatus' class="feather icon-copy font-medium-2 cursor-pointer text-white float-right p-1"></i>
                  <span *ngIf='copyCodeStatus' class="text-white float-right mr-1 badge badge-secondary">copied !</span>
                  <code [highlight]="snippetCode.scss" [languages]="['scss']">
                  </code>
                </pre>
                        </div>
                    </ng-template>
                </li>
                <li *ngIf="snippetCode.json" [ngbNavItem]="'json'">
                    <a ngbNavLink>JSON</a>
                    <ng-template ngbNavContent>
                        <div class="code-toggle">
                            <div class="mb-1 ml-50"></div>
                            <pre>
                  <i (click)="copyCode(snippetCode.json)"
                     *ngIf='!copyCodeStatus' class="feather icon-copy font-medium-2 cursor-pointer text-white float-right p-1"></i>
                  <span *ngIf='copyCodeStatus' class="text-white float-right mr-1 badge badge-secondary">copied !</span>
                  <code [highlight]="snippetCode.json" [languages]="['json']">
                  </code>
                </pre>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <!--/ nav tabs -->

            <!-- nav tabs outlet -->
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <!--/ nav tabs outlet -->
        </div>
    </div>
    <!--/ snippet code -->
</div>
<!-- /card snippet component -->
