<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Basic Modals start -->
        <section id="basic-modals">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBasicModal">
                        <h4 class="card-title">Basic Modal</h4>

                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <!-- Button trigger modal -->
                                <button (click)="modalOpen(modalBasic)" class="btn btn-outline-primary" rippleEffect
                                        type="button">
                                    Basic Modal
                                </button>

                                <!-- Modal -->
                                <ng-template #modalBasic let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel1">Basic Modal</h4>
                                        <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" ngbAutofocus tabindex="0">
                                        <h5>Check First Paragraph</h5>
                                        <p>
                                            Oat cake ice cream candy chocolate cake chocolate cake cotton candy dragée
                                            apple pie. Brownie
                                            carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll
                                            cake cheesecake cookie
                                            chocolate cake liquorice.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                rippleEffect type="button">
                                            Accept
                                        </button>
                                    </div>
                                </ng-template>
                                <!-- / Modal -->

                                <!-- Button trigger modal -->
                                <button (click)="modalOpenVC(modalVC)" class="btn btn-outline-primary" rippleEffect
                                        type="button">
                                    Vertically Centered
                                </button>

                                <!-- Modal -->
                                <ng-template #modalVC let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Vertically Centered</h5>
                                        <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" ngbAutofocus tabindex="0">
                                        <p>
                                            Croissant jelly-o halvah chocolate sesame snaps. Brownie caramels candy
                                            canes chocolate cake
                                            marshmallow icing lollipop I love. Gummies macaroon donut caramels biscuit
                                            topping danish.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                rippleEffect type="button">
                                            Accept
                                        </button>
                                    </div>
                                </ng-template>
                                <!-- / Modal -->

                                <!-- Button trigger modal -->
                                <button (click)="modalOpenBD(modalBD)" class="btn btn-outline-primary" rippleEffect
                                        type="button">
                                    Disabled Backdrop
                                </button>

                                <!-- Modal -->
                                <ng-template #modalBD let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel4">Backdrop Disabled</h4>
                                        <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" ngbAutofocus tabindex="0">
                                        <p>
                                            Candy oat cake topping topping chocolate cake. Icing pudding jelly beans I
                                            love chocolate carrot
                                            cake wafer candy canes. Biscuit croissant fruitcake bonbon soufflé.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                rippleEffect type="button">
                                            Accept
                                        </button>
                                    </div>
                                </ng-template>
                                <!-- / Modal -->

                                <!-- Button trigger modal -->
                                <button (click)="modalOpenAD(modalAD)" class="btn btn-outline-primary" rippleEffect
                                        type="button">
                                    Disabled Animation
                                </button>

                                <!-- Modal -->
                                <ng-template #modalAD let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel6">Disabled Animation</h4>
                                        <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" ngbAutofocus tabindex="0">
                                        <p>
                                            Chocolate bar jelly dragée cupcake chocolate bar I love donut liquorice.
                                            Powder I love marzipan
                                            donut candy canes jelly-o. Dragée liquorice apple pie candy biscuit danish
                                            lemon drops sugar plum.
                                        </p>
                                        <ngb-alert [dismissible]="false" [type]="'success'">
                                            <div class="alert-body">
                                                <span class="font-weight-bolder">Well done!</span> You successfully read
                                                this important alert
                                                message.
                                            </div>
                                        </ngb-alert>
                                    </div>
                                    <div class="modal-footer">
                                        <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                rippleEffect type="button">
                                            Accept
                                        </button>
                                    </div>
                                </ng-template>
                                <!-- / Modal -->
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic Modals end -->

        <!-- Modal Themes start -->
        <section id="modal-themes">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeModalThemes">
                        <h4 class="card-title">Modal Themes</h4>

                        <div class="card-body">
                            <p class="card-text mb-0">
                                Use class <code>.bg-&#123;colorName&#125;</code> with your <code>.modal-header</code> to
                                change theme of
                                modal.
                            </p>

                            <div class="demo-inline-spacing">
                                <div class="modal-primary d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button
                                            (click)="modalOpenPrimary(modalPrimary)"
                                            class="btn btn-outline-primary"
                                            rippleEffect
                                            type="button"
                                    >
                                        Primary
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalPrimary let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Primary Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-secondary d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button
                                            (click)="modalOpenSecondary(modalSecondary)"
                                            class="btn btn-outline-secondary rippleEffect"
                                            rippleEffect
                                            type="button"
                                    >
                                        Secondary
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalSecondary let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Secondary Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                    (click)="modal.close('Accept click')"
                                                    class="btn btn-secondary"
                                                    rippleEffect
                                                    type="button"
                                            >
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-success d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button
                                            (click)="modalOpenSuccess(modalSuccess)"
                                            class="btn btn-outline-success"
                                            rippleEffect
                                            type="button"
                                    >
                                        Success
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalSuccess let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Success Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-success"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-danger d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button
                                            (click)="modalOpenDanger(modalDanger)"
                                            class="btn btn-outline-danger"
                                            rippleEffect
                                            type="button"
                                    >
                                        Danger
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalDanger let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Danger Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-danger"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-warning d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button
                                            (click)="modalOpenWarning(modalWarning)"
                                            class="btn btn-outline-warning"
                                            rippleEffect
                                            type="button"
                                    >
                                        Warning
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalWarning let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Warning Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-warning"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-info d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenInfo(modalInfo)" class="btn btn-outline-info"
                                            rippleEffect type="button">
                                        Info
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalInfo let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Info Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-info"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-dark d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenDark(modalDark)" class="btn btn-outline-dark"
                                            rippleEffect type="button">
                                        Dark
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalDark let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Dark Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-dark"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Modal Themes end -->

        <!-- Modal Sizes start -->
        <section id="modal-sizes">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeModalSizes">
                        <h4 class="card-title">Modal Sizes</h4>

                        <div class="card-body">
                            <p class="card-text mb-0">
                                Add add property <code>size: 'xs' | 'sm' | 'lg' | 'xl'</code> of NgbModal interface to
                                create a modal
                                with different sizes.
                            </p>

                            <div class="demo-inline-spacing">
                                <div class="modal-size-xs d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenXS(modalXS)" class="btn btn-outline-primary" rippleEffect
                                            type="button">
                                        Extra Small
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalXS let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Small Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-size-sm d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenSM(modalSM)" class="btn btn-outline-primary" rippleEffect
                                            type="button">
                                        Small Modal
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalSM let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Small Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-size-default d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button
                                            (click)="modalOpenDefault(modalDefault)"
                                            class="btn btn-outline-primary"
                                            rippleEffect
                                            type="button"
                                    >
                                        Default Modal
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalDefault let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Default Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-size-lg d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenLG(modalLG)" class="btn btn-outline-primary" rippleEffect
                                            type="button">
                                        Large Modal
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalLG let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Large Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-size-xl d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenXL(modalXL)" class="btn btn-outline-primary" rippleEffect
                                            type="button">
                                        Extra Large Modal
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalXL let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel160">Extra Large Modal</h5>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing.
                                            Pudding jelly beans
                                            carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake
                                            I love sweet gummi
                                            bears cupcake dessert.
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Modal Sizes end -->

        <!-- Modal Events start -->
        <section id="modal-events">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeEvent">
                        <h4 class="card-title">Modal Events</h4>

                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <div class="modal-on-show-event">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenOSE(modalOSE)" class="btn btn-outline-primary"
                                            rippleEffect type="button">
                                        On Show Event
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalOSE let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel1">On Show Event</h4>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            <h5>Check First Paragraph</h5>
                                            <p>
                                                Oat cake ice cream candy chocolate cake chocolate cake cotton candy
                                                dragée apple pie. Brownie
                                                carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll
                                                cake cheesecake cookie
                                                chocolate cake liquorice.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="modal-before-dismiss-event">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenBDE(modalBDE)" class="btn btn-outline-primary"
                                            rippleEffect type="button">
                                        Before Dismiss Event
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalBDE let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel1">Before Dismiss Event</h4>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            <h5>Check First Paragraph</h5>
                                            <p>
                                                Oat cake ice cream candy chocolate cake chocolate cake cotton candy
                                                dragée apple pie. Brownie
                                                carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll
                                                cake cheesecake cookie
                                                chocolate cake liquorice.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Modal Events end -->

        <!-- Modal Form and scrolling start -->
        <section id="form-and-scrolling-components">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeFormScrollingComponents">
                        <h4 class="card-title">Form & Scrolling Modals</h4>

                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <div class="login-form">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenForm(modalForm)" class="btn btn-outline-primary"
                                            rippleEffect type="button">
                                        Login Form
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalForm let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel1">Inline Login Form</h4>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            <form action="#">
                                                <label>Email: </label>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Email Address"
                                                           type="text"/>
                                                </div>
                                                <label>Password: </label>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Password" type="password"/>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Login
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="scrolling-long-content">
                                    <!-- Button trigger modal -->
                                    <button (click)="modalOpenSLC(modalSLC)" class="btn btn-outline-primary"
                                            rippleEffect type="button">
                                        Scrolling long Content
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalSLC let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel1">Scrolling long Content</h4>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            <p>
                                                Biscuit powder jelly beans. Lollipop candy canes croissant icing
                                                chocolate cake. Cake fruitcake
                                                powder pudding pastry.
                                            </p>
                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>
                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>
                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                                                Lollipop candy canes
                                                croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                            </p>

                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>

                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>

                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                                                Lollipop candy canes
                                                croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                            </p>

                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>

                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>

                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                                                Lollipop candy canes
                                                croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                            </p>

                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>

                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>

                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                                <div class="scrolling-content-inside-modal">
                                    <!-- Button trigger modal -->
                                    <button
                                            (click)="modalOpenSLCIM(modalSLCIM)"
                                            class="btn btn-outline-primary"
                                            rippleEffect
                                            type="button"
                                    >
                                        Scrolling Content Inside Modal
                                    </button>

                                    <!-- Modal -->
                                    <ng-template #modalSLCIM let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel1">Scrolling Content Inside
                                                Modal</h4>
                                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" ngbAutofocus tabindex="0">
                                            <p>
                                                Biscuit powder jelly beans. Lollipop candy canes croissant icing
                                                chocolate cake. Cake fruitcake
                                                powder pudding pastry.
                                            </p>

                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>

                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>
                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                                                Lollipop candy canes
                                                croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                            </p>

                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>

                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>

                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                                                Lollipop candy canes
                                                croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                            </p>

                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>

                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>

                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                                                Lollipop candy canes
                                                croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                            </p>

                                            <p>
                                                Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                                                chocolate bar. Cotton
                                                candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                                                drops danish dessert I
                                                love caramels powder.
                                            </p>

                                            <p>
                                                Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                                                Cupcake dessert icing
                                                dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                                                candy canes lollipop
                                                liquorice chocolate marzipan muffin pie liquorice.
                                            </p>

                                            <p>
                                                Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                                                powder sugar plum tiramisu.
                                                Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                                                apple pie sesame snaps
                                                tootsie roll carrot cake soufflé halvah.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="modal.close('Accept click')" class="btn btn-primary"
                                                    rippleEffect type="button">
                                                Accept
                                            </button>
                                        </div>
                                    </ng-template>
                                    <!-- / Modal -->
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Modal Form and scrolling end -->
    </div>
</div>
