<!-- Ecommerce Wishlist -->
<div class="content-wrapper container-xxl p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <section class="grid-view wishlist-items" id="wishlist">
            <ng-container *ngFor="let product of products">
                <app-ecommerce-item
                        *ngIf="product.isInWishlist === true"
                        [isWishlistOpen]="true"
                        [product]="product"
                        class="card ecommerce-card"
                ></app-ecommerce-item>
            </ng-container>
        </section>
    </div>
</div>
<!--/ Ecommerce Wishlist -->
