<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Radio Basic Start -->
        <section id="radio-basic">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeRadioBasic">
                        <h4 class="card-title">Basic Radio Buttons</h4>
                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <div class="form-check form-check-inline">
                                    <input
                                            checked
                                            class="form-check-input"
                                            id="inlineRadio1"
                                            name="inlineRadioOptions"
                                            type="radio"
                                            value="option1"
                                    />
                                    <label class="form-check-label" for="inlineRadio1">Checked</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            id="inlineRadio2"
                                            name="inlineRadioOptions"
                                            type="radio"
                                            value="option2"
                                    />
                                    <label class="form-check-label" for="inlineRadio2">Unchecked</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                            checked
                                            class="form-check-input"
                                            disabled
                                            id="inlineRadio3"
                                            name="inlineRadioDisabledOptions"
                                            type="radio"
                                            value="option3"
                                    />
                                    <label class="form-check-label" for="inlineRadio3">Checked disabled</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                            class="form-check-input"
                                            disabled
                                            id="inlineRadio4"
                                            name="inlineRadioDisabledOptions"
                                            type="radio"
                                            value="option4"
                                    />
                                    <label class="form-check-label" for="inlineRadio4">Unchecked disabled</label>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Radio Basic Ends -->

        <!-- Radio Custom Start -->
        <section id="radio-custom">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeRadioCustom">
                        <h4 class="card-title">Custom Radio Buttons</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                Add <code>.custom-control .custom-radio</code> as a single wrapper &amp; add
                                <code>.custom-control-label</code> for better output.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="custom-control custom-radio">
                                    <input checked class="custom-control-input" id="customRadio1"
                                           name="customRadio" type="radio"/>
                                    <label class="custom-control-label" for="customRadio1">Checked</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="customRadio2" name="customRadio"
                                           type="radio"/>
                                    <label class="custom-control-label" for="customRadio2">Unchecked</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                            checked
                                            class="custom-control-input"
                                            disabled
                                            id="customRadio3"
                                            name="customDisabledRadio"
                                            type="radio"
                                    />
                                    <label class="custom-control-label" for="customRadio3">Checked disabled</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                            class="custom-control-input"
                                            disabled
                                            id="customRadio4"
                                            name="customDisabledRadio"
                                            type="radio"
                                    />
                                    <label class="custom-control-label" for="customRadio4">Unchecked disabled</label>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Radio Custom Ends -->

        <!-- Radio Custom Color Start -->
        <section id="radio-custom-color">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeRadioCustomColor">
                        <h4 class="card-title">Color</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                To change the color of the radio use the <code>.custom-control-&#123;value&#125;</code>
                                for primary,
                                secondary, success, danger, info, warning.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="custom-control custom-control-primary custom-radio">
                                    <input
                                            checked
                                            class="custom-control-input"
                                            id="customColorRadio1"
                                            name="customColorRadio1"
                                            type="radio"
                                    />
                                    <label class="custom-control-label" for="customColorRadio1">Primary</label>
                                </div>
                                <div class="custom-control custom-control-secondary custom-radio">
                                    <input
                                            checked
                                            class="custom-control-input"
                                            id="customColorRadio2"
                                            name="customColorRadio2"
                                            type="radio"
                                    />
                                    <label class="custom-control-label" for="customColorRadio2">Secondary</label>
                                </div>
                                <div class="custom-control custom-control-success custom-radio">
                                    <input
                                            checked
                                            class="custom-control-input"
                                            id="customColorRadio3"
                                            name="customColorRadio3"
                                            type="radio"
                                    />
                                    <label class="custom-control-label" for="customColorRadio3">Success</label>
                                </div>
                                <div class="custom-control custom-control-danger custom-radio">
                                    <input
                                            checked
                                            class="custom-control-input"
                                            id="customColorRadio5"
                                            name="customColorRadio5"
                                            type="radio"
                                    />
                                    <label class="custom-control-label" for="customColorRadio5">Danger</label>
                                </div>
                                <div class="custom-control custom-control-warning custom-radio">
                                    <input
                                            checked
                                            class="custom-control-input"
                                            id="customColorRadio4"
                                            name="customColorRadio4"
                                            type="radio"
                                    />
                                    <label class="custom-control-label" for="customColorRadio4">Warning</label>
                                </div>
                                <div class="custom-control custom-control-info custom-radio">
                                    <input checked class="custom-control-input" id="customRadio6"
                                           name="customColorRadio6" type="radio"/>
                                    <label class="custom-control-label" for="customRadio6">Info</label>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Radio Custom Color Ends -->
    </div>
</div>
