<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Basic Inputs start -->
        <section id="basic-input">
            <div class="row">
                <div class="col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBasicInputs">
                        <h4 class="card-title">Basic Inputs</h4>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4 col-md-6 col-12 mb-1">
                                    <div class="form-group">
                                        <label for="basicInput">Basic Input</label>
                                        <input class="form-control" id="basicInput" placeholder="Enter email"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12 mb-1">
                                    <div class="form-group">
                                        <label for="helpInputTop">Input text with help</label>
                                        <small class="text-muted"> eg.<i>someone@example.com</i></small>
                                        <input class="form-control" id="helpInputTop" type="text"/>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12 mb-1">
                                    <div class="form-group">
                                        <label for="disabledInput">Disabled Input</label>
                                        <input class="form-control" disabled id="disabledInput" type="text"/>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="helperText">With Helper Text</label>
                                        <input class="form-control" id="helperText" placeholder="Name" type="text"/>
                                        <p><small class="text-muted">Find helper text here for given textbox.</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="disabledInput">Readonly Input</label>
                                        <input
                                                class="form-control"
                                                id="readonlyInput"
                                                readonly="readonly"
                                                type="text"
                                                value="You can't update me :P"
                                        />
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="disabledInput">Readonly Static Text</label>
                                        <p class="form-control-static" id="staticInput">email@pixinvent.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic Inputs end -->

        <!-- Input Sizing start -->
        <section id="input-sizing">
            <div class="row match-height">
                <div class="col-md-6 col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeSizingOptions">
                        <h4 class="card-title">Sizing Options</h4>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text">
                                        For different sizes of Input, Use classes like <code>.form-control-lg</code>
                                        &amp;
                                        <code>.form-control-sm</code> for Large, Small input box.
                                    </p>
                                    <div class="form-group">
                                        <label for="largeInput">Large</label>
                                        <input class="form-control form-control-lg" placeholder="Large Input"
                                               type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="largeInput">Default</label>
                                        <input class="form-control" placeholder="Normal Input" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="largeInput">Small</label>
                                        <input class="form-control form-control-sm" placeholder="Small Input"
                                               type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-md-6 col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeHorizontalFormLabelSizing">
                        <h4 class="card-title">Horizontal form label sizing</h4>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-2">
                                        Be sure to use <code>.col-form-label-sm</code> or
                                        <code>.col-form-label-lg</code> to your
                                        <code>&lt;label&gt;</code>s or <code>&lt;legend&gt;</code>s to correctly follow
                                        the size of
                                        <code>.form-control-lg</code> and <code>.form-control-sm</code>.
                                    </p>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label col-form-label-lg" for="colFormLabelLg">Large</label>
                                        <div class="col-sm-9">
                                            <input
                                                    class="form-control form-control-lg"
                                                    id="colFormLabelLg"
                                                    placeholder="Large Input"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="colFormLabel">Default</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="colFormLabel" placeholder="Normal Input"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label col-form-label-sm" for="colFormLabelSm">Small</label>
                                        <div class="col-sm-9">
                                            <input
                                                    class="form-control form-control-sm"
                                                    id="colFormLabelSm"
                                                    placeholder="Small Input"
                                                    type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Input Sizing end -->

        <!-- Floating Label Inputs start -->
        <section id="floating-label-input">
            <div class="row">
                <div class="col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeFloatingLabelInputs">
                        <h4 class="card-title">Floating Label Inputs</h4>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <p class="card-text mb-1">
                                        For Floating Label Inputs, need to use <code>.form-label-group</code> class &
                                        add attribute
                                        <code>disabled</code> for disabled Floating Label Input.
                                    </p>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-label-group">
                                        <input class="form-control" id="floating-label1" placeholder="Label-placeholder"
                                               type="text"/>
                                        <label for="floating-label1">Label-placeholder</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-label-group">
                                        <input
                                                class="form-control"
                                                disabled
                                                id="floating-label-disable"
                                                placeholder="Label-placeholder"
                                                type="text"
                                        />
                                        <label for="floating-label-disable">Disabled-placeholder</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Floating Label Inputs end -->

        <!-- Basic File Browser start -->
        <section id="input-file-browser">
            <div class="row">
                <div class="col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeFileInput">
                        <h4 class="card-title">File input</h4>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="basicInputFile">Simple File Input</label>
                                        <input class="form-control-file" id="basicInputFile" type="file"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="basicInputFile">With Browse button</label>
                                        <div class="custom-file">
                                            <input class="custom-file-input" id="customFile" type="file"/>
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic File Browser end -->

        <!-- validations start -->
        <section class="validations" id="validation">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeInputValidationStates">
                        <h4 class="card-title">Input Validation States</h4>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-1">
                                        You can indicate invalid and valid form fields with <code>.is-invalid</code> and
                                        <code>.is-valid</code>. Note that <code>.invalid-feedback</code> is also
                                        supported with these
                                        classes.
                                    </p>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <label for="valid-state">Valid State</label>
                                    <input
                                            class="form-control is-valid"
                                            id="valid-state"
                                            placeholder="Valid"
                                            required
                                            type="text"
                                            value="Valid"
                                    />
                                    <div class="valid-feedback">This is valid state.</div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <label for="invalid-state">Invalid State</label>
                                    <input
                                            class="form-control is-invalid"
                                            id="invalid-state"
                                            placeholder="Invalid"
                                            required
                                            type="text"
                                            value="Invalid"
                                    />
                                    <div class="invalid-feedback">This is invalid state.</div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- validations end -->
    </div>
</div>
