<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section id="basic-buttons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeFilled"
                    ><h4 class="card-title">Filled</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-0">
                                        Bootstrap includes six predefined button styles, each serving its own semantic
                                        purpose.
                                    </p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-primary" rippleEffect type="button">Primary
                                        </button
                                        >
                                        <button class="btn btn-secondary" rippleEffect type="button">Secondary
                                        </button
                                        >
                                        <button class="btn btn-success" rippleEffect type="button">Success
                                        </button
                                        >
                                        <button class="btn btn-danger" rippleEffect type="button">Danger
                                        </button
                                        >
                                        <button class="btn btn-warning" rippleEffect type="button">Warning
                                        </button
                                        >
                                        <button class="btn btn-info" rippleEffect type="button">Info
                                        </button
                                        >
                                        <button class="btn btn-dark" rippleEffect type="button">Dark</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="outline-button">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBorder"
                    ><h4 class="card-title">Border</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-0">
                                        Use a class <code>.btn-outline-&#123;color&#125;</code> to quickly create a
                                        outline button.
                                    </p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-outline-primary" rippleEffect type="button">Primary
                                        </button
                                        >
                                        <button class="btn btn-outline-secondary" rippleEffect type="button">Secondary
                                        </button
                                        >
                                        <button class="btn btn-outline-success" rippleEffect type="button">Success
                                        </button
                                        >
                                        <button class="btn btn-outline-danger" rippleEffect type="button">Danger
                                        </button
                                        >
                                        <button class="btn btn-outline-warning" rippleEffect type="button">Warning
                                        </button
                                        >
                                        <button class="btn btn-outline-info" rippleEffect type="button">Info
                                        </button
                                        >
                                        <button class="btn btn-outline-dark" rippleEffect type="button">Dark</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="flat-buttons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeFlat"
                    ><h4 class="card-title">Flat</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-0">Use <code>.btn-flat-&#123;color&#125;</code> to create a
                                        flat button</p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-flat-primary" rippleEffect type="button">Primary
                                        </button
                                        >
                                        <button class="btn btn-flat-secondary" rippleEffect type="button">Secondary
                                        </button
                                        >
                                        <button class="btn btn-flat-success" rippleEffect type="button">Success
                                        </button
                                        >
                                        <button class="btn btn-flat-danger" rippleEffect type="button">Danger
                                        </button
                                        >
                                        <button class="btn btn-flat-warning" rippleEffect type="button">Warning
                                        </button
                                        >
                                        <button class="btn btn-flat-info" rippleEffect type="button">Info
                                        </button
                                        >
                                        <button class="btn btn-flat-dark" rippleEffect type="button">Dark</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="gradient-buttons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeGradient"
                    ><h4 class="card-title">Gradient</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-0">use <code>btn-gradient-&#123;color&#125;</code> create
                                        gradient buttons</p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-gradient-primary" type="button">Primary
                                        </button
                                        >
                                        <button class="btn btn-gradient-secondary" type="button">Secondary
                                        </button
                                        >
                                        <button class="btn btn-gradient-success" type="button">Success
                                        </button
                                        >
                                        <button class="btn btn-gradient-danger" type="button">Danger
                                        </button
                                        >
                                        <button class="btn btn-gradient-warning" type="button">Warning
                                        </button
                                        >
                                        <button class="btn btn-gradient-info" type="button">Info
                                        </button
                                        >
                                        <button class="btn btn-gradient-dark" type="button">Dark</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="relief-buttons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeRelief"
                    ><h4 class="card-title">Relief</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-0">Use <code>.btn-relief-&#123;color&#125;</code> to create a
                                        relief button</p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-relief-primary" type="button">Primary
                                        </button
                                        >
                                        <button class="btn btn-relief-secondary" type="button">Secondary
                                        </button
                                        >
                                        <button class="btn btn-relief-success" type="button">Success
                                        </button
                                        >
                                        <button class="btn btn-relief-danger" type="button">Danger
                                        </button
                                        >
                                        <button class="btn btn-relief-warning" type="button">Warning
                                        </button
                                        >
                                        <button class="btn btn-relief-info" type="button">Info
                                        </button
                                        >
                                        <button class="btn btn-relief-dark" type="button">Dark</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="round-outline-button">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeRoundbuttons"
                    ><h4 class="card-title">Round buttons</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text mb-0">
                                        Use a class <code>.round</code> with outline button class to create round
                                        outline button.
                                    </p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-outline-primary round" rippleEffect type="button">Primary
                                        </button
                                        >
                                        <button class="btn btn-outline-secondary round" rippleEffect type="button">
                                            Secondary
                                        </button
                                        >
                                        <button class="btn btn-outline-success round" rippleEffect type="button">Success
                                        </button
                                        >
                                        <button class="btn btn-outline-danger round" rippleEffect type="button">Danger
                                        </button
                                        >
                                        <button class="btn btn-outline-warning round" rippleEffect type="button">Warning
                                        </button
                                        >
                                        <button class="btn btn-outline-info round" rippleEffect type="button">Info
                                        </button
                                        >
                                        <button class="btn btn-outline-dark round" rippleEffect type="button">Dark
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="basic-button-icons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeIcon"
                    ><h4 class="card-title">Icon</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-outline-primary" rippleEffect type="button">
                                            <span [class]="'mr-25'" [data-feather]="'home'"></span>Home
                                        </button
                                        >
                                        <button class="btn btn-warning" rippleEffect type="button">
                                            <span [class]="'mr-25'" [data-feather]="'star'"></span>Star
                                        </button
                                        >
                                        <button class="btn btn-flat-success" rippleEffect type="button">
                                            <span [class]="'mr-25'" [data-feather]="'check'"></span>Done
                                        </button
                                        >
                                        <button class="btn btn-outline-primary" disabled rippleEffect type="button">
                                            <span [class]="'mr-25'" [data-feather]="'home'"></span>Home
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="icon-only-buttons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeIconOnly"
                    ><h4 class="card-title">Icon Only</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                You can use <code>.btn-icon</code>. you can create a rounded button by using
                                <code>.rounded-circle</code> with <code>.btn-icon</code>. You can only use <code>.btn-icon</code>
                                when
                                you only want icon in your button
                            </p>
                            <div class="demo-inline-spacing">
                                <button class="btn btn-icon btn-outline-primary" rippleEffect type="button">
                                    <span [data-feather]="'search'"></span></button
                                >
                                <button class="btn btn-icon btn-warning" rippleEffect type="button">
                                    <span [data-feather]="'inbox'"></span></button
                                >
                                <button class="btn btn-icon btn-flat-success" rippleEffect type="button">
                                    <span [data-feather]="'camera'"></span></button
                                >
                                <button class="btn btn-icon btn-outline-primary" disabled rippleEffect type="button">
                                    <span [data-feather]="'search'"></span></button
                                >
                                <button class="btn btn-icon rounded-circle btn-outline-primary" rippleEffect
                                        type="button">
                                    <span [data-feather]="'search'"></span></button
                                >
                                <button class="btn btn-icon btn-icon rounded-circle btn-warning" rippleEffect
                                        type="button">
                                    <span [data-feather]="'inbox'"></span></button
                                >
                                <button class="btn btn-icon btn-icon rounded-circle btn-flat-success" rippleEffect
                                        type="button">
                                    <span [data-feather]="'camera'"></span></button
                                >
                                <button
                                        class="btn btn-icon btn-icon rounded-circle btn-outline-primary"
                                        disabled
                                        rippleEffect
                                        type="button"
                                >
                                    <span [data-feather]="'search'"></span>
                                </button>
                            </div>
                        </div
                        >
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <section id="basic-button-group">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBasicButtongroup"
                    ><h4 class="card-title">Basic Button group</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Group a series of buttons together on a single line with the button group. Wrap a series
                                of buttons with
                                <code>.btn</code> in <code>.btn-group</code>.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-1 mb-lg-0">
                                    <div aria-label="Basic example" class="btn-group" role="group">
                                        <button class="btn btn-primary" rippleEffect type="button">Left
                                        </button
                                        >
                                        <button class="btn btn-primary" rippleEffect type="button">Middle
                                        </button
                                        >
                                        <button class="btn btn-primary" rippleEffect type="button">Right</button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div aria-label="Basic example" class="btn-group" role="group">
                                        <button class="btn btn-outline-primary" rippleEffect type="button">
                                            <span [data-feather]="'facebook'"></span></button
                                        >
                                        <button class="btn btn-outline-primary" rippleEffect type="button">
                                            <span [data-feather]="'twitter'"></span></button
                                        >
                                        <button class="btn btn-outline-primary" rippleEffect type="button">
                                            <span [data-feather]="'instagram'"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div
                        >
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <section id="checkbox-radio-group">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeRadioButtonStyle"
                    ><h4 class="card-title">Checkbox & radio group</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-1 mb-lg-0">
                                    <div class="btn-group btn-group-toggle">
                                        <label class="btn-primary" ngbButtonLabel rippleEffect
                                        ><input [(ngModel)]="checkboxModel.left" ngbButton type="checkbox"/>Active
                                        </label
                                        ><label class="btn-primary" ngbButtonLabel rippleEffect
                                    ><input [(ngModel)]="checkboxModel.middle" ngbButton type="checkbox"/>Checkbox
                                    </label
                                    ><label class="btn-primary" ngbButtonLabel rippleEffect
                                    ><input [(ngModel)]="checkboxModel.right" ngbButton type="checkbox"/>Checkbox
                                    </label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div [(ngModel)]="radioModel" class="btn-group btn-group-toggle" name="radioBasic"
                                         ngbRadioGroup>
                                        <label class="btn-outline-primary" ngbButtonLabel rippleEffect
                                        ><input [value]="1" ngbButton type="radio"/>Active </label
                                        ><label class="btn-outline-primary" ngbButtonLabel rippleEffect
                                    ><input ngbButton type="radio" value="middle"/>Radio </label
                                    ><label class="btn-outline-primary" ngbButtonLabel rippleEffect
                                    ><input [value]="false" ngbButton type="radio"/>Radio
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="sizes-2">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeSizes"
                    ><h4 class="card-title">Sizes</h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 mb-1 mb-md-0">
                                    <p class="card-text mb-0">
                                        Add <code>.btn-lg</code> or <code>.btn-sm</code> for Fancy larger or smaller
                                        buttons size.
                                    </p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-primary btn-lg" rippleEffect type="button">Large
                                        </button
                                        >
                                        <button class="btn btn-primary" rippleEffect type="button">Default
                                        </button
                                        >
                                        <button class="btn btn-primary btn-sm" rippleEffect type="button">Small</button>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <p class="card-text mb-0">
                                        Add <code>.btn-lg</code> or <code>.btn-sm</code> with
                                        <code>.btn-outline-*</code> for outline btn in
                                        different sizes
                                    </p>
                                    <div class="demo-inline-spacing">
                                        <button class="btn btn-outline-primary btn-lg" rippleEffect type="button">Large
                                        </button
                                        >
                                        <button class="btn btn-outline-primary" rippleEffect type="button">Default
                                        </button
                                        >
                                        <button class="btn btn-outline-primary btn-sm" rippleEffect type="button">
                                            Small
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="block-level-buttons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBlocklevelbuttons"
                    ><h4 class="card-title">Block level buttons</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block</code>.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block" rippleEffect type="button">Block level
                                            button
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-outline-primary btn-block" rippleEffect type="button">
                                            Block level button
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet
                    >
                </div>
            </div>
        </section>
        <section id="button-tags">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeButtontags"
                    ><h4 class="card-title">Button tags</h4>
                        <div class="card-body">
                            <p class="card-text">
                                The <code>.btn</code> classes are designed to be used with the
                                <code>&lt;button&gt;</code> element.
                                However, you can also use these classes on <code>&lt;a&gt;</code> or
                                <code>&lt;input&gt;</code> elements.
                            </p>
                            <ngb-alert [dismissible]="false" [type]="'warning'" class="mb-0"
                            >
                                <div class="alert-body">
                                    <strong>Note:</strong>on click of "External Link" & "Router Link" button will
                                    redirect you to another
                                    page.
                                </div>
                            </ngb-alert
                            >
                            <div class="demo-inline-spacing">
                                <a class="btn btn-primary" href="https://pixinvent.com/" rippleEffect role="button"
                                   target="_blank"
                                >External Link</a
                                >
                                <button [routerLink]="['/ui/content/typography']" class="btn btn-primary" rippleEffect
                                        type="button">
                                    Router Link
                                </button
                                >
                                <button class="btn btn-primary" rippleEffect type="submit">Button
                                </button
                                >
                                <input class="btn btn-primary" rippleEffect type="button" value="Input"/><input
                                    class="btn btn-primary"
                                    rippleEffect
                                    type="submit"
                                    value="Submit"
                            />
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
    </div>
</div>
