<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <div id="user-profile">
            <!-- profile header -->
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2">
                        <!-- profile cover photo -->
                        <img [src]="data.profileData.header.coverImg" alt="User Profile Image" class="card-img-top"/>
                        <!--/ profile cover photo -->

                        <div class="position-relative">
                            <!-- profile picture -->
                            <div class="profile-img-container d-flex align-items-center">
                                <div class="profile-img">
                                    <img [src]="data.profileData.header.avatar" alt="Card image"
                                         class="rounded img-fluid"/>
                                </div>
                                <!-- profile title -->
                                <div class="profile-title ml-3">
                                    <h2 class="text-white">{{ data.profileData.header.username }}</h2>
                                    <p class="text-white">{{ data.profileData.header.designation }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- tabs pill -->
                        <div class="profile-header-nav">
                            <!-- navbar -->
                            <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                                <button
                                        (click)="toggleMenu = !toggleMenu"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation"
                                        class="btn btn-icon navbar-toggler"
                                        data-target="#navbarSupportedContent"
                                        rippleEffect
                                        type="button"
                                >
                                    <i class="font-medium-5" data-feather="align-justify"></i>
                                </button>

                                <!-- collapse  -->
                                <div [ngbCollapse]="toggleMenu" class="collapse navbar-collapse"
                                     id="navbarSupportedContent">
                                    <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                        <ul class="nav nav-pills mb-0">
                                            <li class="nav-item">
                                                <a class="nav-link font-weight-bold active" href="javascript:void(0)">
                                                    <span class="d-none d-md-block">Feed</span>
                                                    <i class="d-block d-md-none" data-feather="rss"></i>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                    <span class="d-none d-md-block">About</span>
                                                    <i class="d-block d-md-none" data-feather="info"></i>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                    <span class="d-none d-md-block">Photos</span>
                                                    <i class="d-block d-md-none" data-feather="image"></i>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                    <span class="d-none d-md-block">Friends</span>
                                                    <i class="d-block d-md-none" data-feather="users"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- edit button -->
                                        <button class="btn btn-primary" rippleEffect>
                                            <i class="d-block d-md-none" data-feather="edit"></i>
                                            <span class="font-weight-bold d-none d-md-block">Edit</span>
                                        </button>
                                    </div>
                                </div>
                                <!--/ collapse  -->
                            </nav>
                            <!--/ navbar -->
                        </div>
                    </div>
                </div>
            </div>
            <!--/ profile header -->

            <!-- profile info section -->
            <section id="profile-info">
                <div class="row">
                    <!-- left profile info section -->
                    <div class="col-lg-3 col-12 order-2 order-lg-1">
                        <!-- about -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-75">About</h5>
                                <p class="card-text">
                                    {{ data.profileData.userAbout.about }}
                                </p>
                                <div class="mt-2">
                                    <h5 class="mb-75">Joined:</h5>
                                    <p class="card-text">{{ data.profileData.userAbout.joined }}</p>
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-75">Lives:</h5>
                                    <p class="card-text">{{ data.profileData.userAbout.lives }}</p>
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-75">Email:</h5>
                                    <p class="card-text">{{ data.profileData.userAbout.email }}</p>
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-50">Website:</h5>
                                    <p class="card-text mb-0">{{ data.profileData.userAbout.website }}</p>
                                </div>
                            </div>
                        </div>
                        <!--/ about -->

                        <!-- suggestion pages -->
                        <div class="card">
                            <div class="card-body profile-suggestion">
                                <h5 class="mb-2">Suggested Pages</h5>
                                <!-- user suggestions -->
                                <div
                                        *ngFor="let suggestedPagesRef of data.profileData.suggestedPages"
                                        [class.mb-1]="
                    data.profileData.suggestedPages.length - 1 !==
                    data.profileData.suggestedPages.indexOf(suggestedPagesRef)
                  "
                                        class="d-flex justify-content-start align-items-center"
                                >
                                    <div class="avatar mr-1">
                                        <img [src]="suggestedPagesRef.avatar" alt="avatar img" height="40" width="40"/>
                                    </div>
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">{{ suggestedPagesRef.username }}</h6>
                                        <small class="text-muted">{{ suggestedPagesRef.subtitle }}</small>
                                    </div>
                                    <div class="profile-star ml-auto">
                                        <i
                                                [ngClass]="{
                        'fa-star text-warning': suggestedPagesRef.favorite === true,
                        'fa-star-o': suggestedPagesRef.favorite !== true
                      }"
                                                class="font-medium-3 fa"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ suggestion pages -->

                        <!-- twitter feed card -->
                        <div class="card">
                            <div class="card-body">
                                <h5>Twitter Feeds</h5>
                                <!-- twitter feed -->
                                <div *ngFor="let twitterFeedsRef of data.profileData.twitterFeeds"
                                     class="profile-twitter-feed mt-2">
                                    <div class="d-flex justify-content-start align-items-center mb-1">
                                        <div class="avatar mr-1">
                                            <img [src]="twitterFeedsRef.imgUrl" alt="avatar img" height="40"
                                                 width="40"/>
                                        </div>
                                        <div class="profile-user-info">
                                            <h6 class="mb-0">{{ twitterFeedsRef.title }}</h6>
                                            <a href="javascript:void(0)">
                                                <small class="text-muted">{{ twitterFeedsRef.id }}</small>
                                                <i data-feather="check-circle"></i>
                                            </a>
                                        </div>
                                        <div class="profile-star ml-auto">
                                            <i
                                                    [ngClass]="{
                          'fa-star text-warning': twitterFeedsRef.favorite === true,
                          'fa-star-o': twitterFeedsRef.favorite !== true
                        }"
                                                    class="font-medium-3 fa"
                                            ></i>
                                        </div>
                                    </div>
                                    <p class="card-text mb-50">{{ twitterFeedsRef.desc }}</p>
                                    <a href="javascript:void(0)">
                                        <small>{{ twitterFeedsRef.tags }}</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/ twitter feed card -->
                    </div>
                    <!--/ left profile info section -->

                    <!-- center profile info section -->
                    <div class="col-lg-6 col-12 order-1 order-lg-2">
                        <div *ngFor="let postRef of data.profileData.post" class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img [src]="postRef.avatar" alt="avatar img" height="50" width="50"/>
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">{{ postRef.username }}</h6>
                                        <small class="text-muted">{{ postRef.postTime }}</small>
                                    </div>
                                </div>
                                <p class="card-text">
                                    {{ postRef.postText }}
                                </p>
                                <!-- post img -->
                                <div *ngIf="postRef.postImg">
                                    <img alt="avatar img" class="img-fluid rounded mb-75" src="{{ postRef.postImg }}"/>
                                </div>

                                <div *ngIf="postRef.postVid">
                                    <iframe
                                            [src]="postRef.postVid | safe: 'resourceUrl'"
                                            class="w-100 rounded border-0 height-250 mb-50"
                                    ></iframe>
                                </div>

                                <!-- like share -->
                                <div class="row d-flex justify-content-start align-items-center flex-wrap pb-50">
                                    <div class="col-sm-6 d-flex justify-content-between justify-content-sm-start mb-2">
                                        <a class="d-flex align-items-center text-muted text-nowrap"
                                           href="javascript:void(0)">
                                            <i class="profile-likes font-medium-3 mr-50" data-feather="heart"></i>
                                            <span>{{ postRef.likes }}</span>
                                        </a>

                                        <!-- avatar group with tooltip -->
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-group ml-1">
                                                <div
                                                        *ngFor="let likedUsersRef of postRef.likedUsers"
                                                        class="avatar pull-up"
                                                        data-popup="tooltip-custom"
                                                        data-toggle="tooltip"
                                                        ngbTooltip="{{ likedUsersRef.username }}"
                                                        placement="bottom"
                                                >
                                                    <img [src]="likedUsersRef.avatar" alt="Avatar" height="26"
                                                         width="26"/>
                                                </div>
                                            </div>
                                            <a class="text-muted text-nowrap ml-50" href="javascript:void(0)"
                                            >+{{ postRef.likedCount }} more</a
                                            >
                                        </div>
                                        <!-- avatar group with tooltip -->
                                    </div>

                                    <!-- share and like count and icons -->
                                    <div class="col-sm-6 d-flex justify-content-between justify-content-sm-end align-items-center mb-2">
                                        <a class="text-nowrap" href="javascript:void(0)">
                                            <i class="text-body font-medium-3 mr-50" data-feather="message-square"></i>
                                            <span class="text-muted mr-1">{{ postRef.comments }}</span>
                                        </a>

                                        <a class="text-nowrap" href="javascript:void(0)">
                                            <i class="text-body font-medium-3 mx-50" data-feather="share-2"></i>
                                            <span class="text-muted">{{ postRef.share }}</span>
                                        </a>
                                    </div>
                                    <!-- share and like count and icons -->
                                </div>
                                <!-- like share -->

                                <!-- comments -->
                                <div
                                        *ngFor="let detailedCommentsRefRef of postRef.detailedComments"
                                        class="d-flex align-items-start mb-1"
                                >
                                    <div class="avatar mt-25 mr-75">
                                        <img [src]="detailedCommentsRefRef.avatar" alt="Avatar" height="34" width="34"/>
                                    </div>
                                    <div class="profile-user-info w-100">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h6 class="mb-0">{{ detailedCommentsRefRef.username }}</h6>
                                            <a href="javascript:void(0)">
                                                <i class="text-body font-medium-3 profile-likes"
                                                   data-feather="heart"></i>
                                                <span class="align-middle text-muted"> {{ detailedCommentsRefRef.commentsLikes }}</span>
                                            </a>
                                        </div>
                                        <small>{{ detailedCommentsRefRef.comment }}</small>
                                    </div>
                                </div>

                                <!--/ comments -->

                                <!-- comment box -->
                                <fieldset class="form-label-group mb-50">
                                    <textarea class="form-control" id="label-textarea" placeholder="Add Comment"
                                              rows="3"></textarea>
                                    <label for="label-textarea">Add Comment</label>
                                </fieldset>
                                <!--/ comment box -->
                                <button class="btn btn-sm btn-primary" rippleEffect type="button">Post Comment</button>
                            </div>
                        </div>
                    </div>
                    <!--/ center profile info section -->

                    <!-- right profile info section -->
                    <div class="col-lg-3 col-12 order-3">
                        <!-- latest profile pictures -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-0">Latest Photos</h5>
                                <div class="row">
                                    <div
                                            *ngFor="let latestPhotosRef of data.profileData.latestPhotos"
                                            class="col-md-4 col-6 profile-latest-img"
                                    >
                                        <a href="javascript:void(0)">
                                            <img [src]="latestPhotosRef.img" alt="avatar img"
                                                 class="img-fluid rounded"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ latest profile pictures -->

                        <!-- suggestion -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-2">Suggestions</h5>
                                <div
                                        *ngFor="let suggestionsRef of data.profileData.suggestions"
                                        class="d-flex justify-content-start align-items-center mt-1"
                                >
                                    <div class="avatar mr-75">
                                        <img [src]="suggestionsRef.avatar" alt="avatar" height="40" width="40"/>
                                    </div>
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">{{ suggestionsRef.name }}</h6>
                                        <small class="text-muted">{{ suggestionsRef.mutualFriend }}</small>
                                    </div>
                                    <button class="btn btn-primary btn-icon btn-sm ml-auto" rippleEffect type="button">
                                        <i data-feather="user-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--/ suggestion -->

                        <!-- polls card -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-1">Polls</h5>
                                <p class="card-text mb-0">Who is the best actor in Marvel Cinematic Universe?</p>

                                <!-- polls -->
                                <div *ngFor="let pollsRef of data.profileData.polls" class="profile-polls-info mt-2">
                                    <!-- custom radio -->
                                    <div class="d-flex justify-content-between">
                                        <div class="custom-control custom-radio">
                                            <input
                                                    class="custom-control-input"
                                                    id="bestActorPoll{{ pollsRef.name }}"
                                                    name="bestActorPoll"
                                                    type="radio"
                                            />
                                            <label class="custom-control-label" for="bestActorPoll{{ pollsRef.name }}">{{
                                                    pollsRef.name
                                                }}</label>
                                        </div>
                                        <div class="text-right">{{ pollsRef.result }}</div>
                                    </div>
                                    <!--/ custom radio -->

                                    <!-- progressbar -->
                                    <div class="progress progress-bar-primary my-50">
                                        <div
                                                aria-valuemax="100"
                                                aria-valuemin="58"
                                                aria-valuenow="58"
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: 82%"
                                        ></div>
                                    </div>
                                    <!--/ progressbar -->

                                    <!-- avatar group with tooltip -->
                                    <div class="avatar-group mt-1">
                                        <div
                                                *ngFor="let votedUserRef of pollsRef.votedUser"
                                                [ngbTooltip]="votedUserRef.username"
                                                class="avatar pull-up"
                                                container="body"
                                                placement="bottom"
                                        >
                                            <img [src]="votedUserRef.img" alt="Avatar" height="26" width="26"/>
                                        </div>
                                    </div>
                                    <!--/ avatar group with tooltip -->
                                </div>

                                <!--/ polls -->
                            </div>
                        </div>
                        <!--/ polls card -->
                    </div>
                    <!--/ right profile info section -->
                </div>

                <!-- reload button -->
                <div class="row">
                    <div class="col-12 text-center">
                        <button
                                (click)="loadMore()"
                                class="btn btn-sm btn-primary block-element border-0 mb-1"
                                rippleEffect
                                type="button"
                        >
              <span
                      [class.spinner-border]="loadMoreRef"
                      aria-hidden="true"
                      class="spinner-border-sm"
                      role="status"
              ></span>
                            Load More
                        </button>
                    </div>
                </div>
                <!--/ reload button -->
            </section>
            <!--/ profile info section -->
        </div>
    </div>
</div>
