<!-- email-sidebar -->
<div class="sidebar">
    <div [perfectScrollbar] class="sidebar-content email-app-sidebar">
        <div class="email-app-menu">
            <div class="form-group-compose text-center compose-btn">
                <button
                        (click)="openCompose()"
                        class="compose-email btn btn-primary btn-block"
                        data-target="#compose-mail"
                        rippleEffect
                        type="button"
                >
                    Compose
                </button>
            </div>
            <div class="sidebar-menu-list">
                <div class="list-group list-group-messages">
                    <a
                            (click)="toggleSidebar('email-sidebar')"
                            *ngFor="let folder of folders"
                            [routerLinkActive]="'active'"
                            [routerLink]="'/apps/email/' + folder.handle"
                            class="list-group-item list-group-item-action"
                    >
                        <i [data-feather]="folder.icon" [size]="18" class="mr-75"></i>
                        <span class="align-middle">{{ folder.title }}</span>
                        <span
                                *ngIf="folder.handle === 'draft' || folder.handle === 'inbox'"
                                [ngClass]="{
                'badge-light-warning': folder.handle === 'draft',
                'badge-light-primary': folder.handle === 'inbox'
              }"
                                class="badge badge-pill float-right"
                        >{{
                                folder.handle === 'draft' ? draftCount : folder.handle === 'inbox' ? unReadInboxCount : unReadInboxCount
                            }}</span
                        >
                    </a>
                </div>
                <!-- <hr /> -->
                <h6 class="section-label mt-3 mb-1 px-2">Labels</h6>
                <div class="list-group list-group-labels">
                    <a
                            (click)="toggleSidebar('email-sidebar')"
                            *ngFor="let label of labels"
                            [routerLinkActive]="'active'"
                            [routerLink]="'/apps/email/label/' + label.handle"
                            class="list-group-item list-group-item-action"
                    ><span class="bullet bullet-sm mr-1 {{ label.color }}"></span>{{ label.title }}</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ email-sidebar -->
