<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- users edit start -->
        <div class="card">
            <div class="card-body">
                <form #userEdit='ngForm' (ngSubmit)="userEdit.form.valid" class="form">
                    <div class="row">


                        <div class="col-6">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-icon">First Name</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                        </div>
                                        <input
                                            #firstNameRef="ngModel"
                                            [(ngModel)]="user.firstName"
                                            [class.error]="firstNameRef.invalid && (firstNameRef.touched || userEdit.submitted)"
                                            [ngClass]="{ 'is-invalid error': firstNameRef.invalid && (firstNameRef.touched || userEdit.submitted) }"
                                            class="form-control"
                                            id="first-name-icon"
                                            name="fname-icon"
                                            placeholder="First Name"
                                            required
                                            type="text"
                                        />
                                        <span *ngIf="(userEdit.submitted || firstNameRef.touched) && firstNameRef.invalid"
                                              [ngClass]="{'d-block' : (userEdit.submitted || firstNameRef.touched) && firstNameRef.invalid}"
                                              class="invalid-feedback">
                <small *ngIf="firstNameRef.errors.required"
                       class="form-text text-danger">This field is required!</small>
            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-icon">Last Name</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'users'"></span></span>
                                        </div>
                                        <input
                                            #lastNameRef="ngModel"
                                            [(ngModel)]="user.lastName"
                                            [class.error]="lastNameRef.invalid && (lastNameRef.touched || userEdit.submitted)"
                                            [ngClass]="{ 'is-invalid error': lastNameRef.invalid && (lastNameRef.touched || userEdit.submitted) }"
                                            class="form-control"
                                            id="last-name-icon"
                                            name="lname-icon"
                                            placeholder="Last Name"
                                            required
                                            type="text"
                                        />
                                        <span *ngIf="(userEdit.submitted || lastNameRef.touched) && lastNameRef.invalid"
                                              [ngClass]="{'d-block' : (userEdit.submitted || lastNameRef.touched) && lastNameRef.invalid}"
                                              class="invalid-feedback">
                <small *ngIf="lastNameRef.errors.required"
                       class="form-text text-danger">This field is required!</small>
            </span>
                                    </div>
                                </div>
                            </div>
                            <!--                                <div class="col-12">-->
                            <!--                                    <div class="form-group">-->
                            <!--                                        <label for="email-id-icon">Email</label>-->
                            <!--                                        <div class="input-group input-group-merge">-->
                            <!--                                            <div class="input-group-prepend">-->
                            <!--                                                <span class="input-group-text"><span [data-feather]="'mail'"></span></span>-->
                            <!--                                            </div>-->
                            <!--                                            <input-->
                            <!--                                                    type="text"-->
                            <!--                                                    id="email-id-icon"-->
                            <!--                                                    class="form-control"-->
                            <!--                                                    name="email-id-icon"-->
                            <!--                                                    placeholder="Email"-->
                            <!--                                                    [(ngModel)]="user.email"-->
                            <!--                                            />-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                        </div>

                        <div class="col-6">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="contact-info-icon">Phone</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'phone'"></span></span>
                                        </div>
                                        <input
                                            #phoneRef="ngModel"
                                            [(ngModel)]="user.phone"
                                            [class.error]="phoneRef.invalid && (phoneRef.touched || userEdit.submitted)"
                                            [ngClass]="{ 'is-invalid error': phoneRef.invalid && (phoneRef.touched || userEdit.submitted) }"
                                            class="form-control"
                                            id="contact-info-icon"
                                            name="phone"
                                            placeholder="Phone Number"
                                            required
                                            type="text"
                                        />
                                        <span *ngIf="(userEdit.submitted || phoneRef.touched) && phoneRef.invalid"
                                              [ngClass]="{'d-block' : (userEdit.submitted || phoneRef.touched) && phoneRef.invalid}"
                                              class="invalid-feedback">
                <small *ngIf="phoneRef.errors.required"
                       class="form-text text-danger">This field is required!</small>
            </span>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="role === 'ADMIN'" class="form-group">
                                <label class="form-label" for="user-role">User Role</label>
                                <!--                        <select [(ngModel)]="registerRequest.role" class="form-control" id="user-role">-->
                                <!--                            <option value="USER">User</option>-->
                                <!--                            <option value="MANAGER">Manager</option>-->
                                <!--                            <option value="ADMIN">Admin</option>-->
                                <!--                        </select>-->

                                <ng-select (change)="onRoleChange($event)"
                                           [(ngModel)]="user.role"
                                           [items]="roles"
                                           bindLabel="name"
                                           class="width-77"
                                           id="user-role"
                                           name="user-role"
                                           placeholder="Select Leave Type">
                                </ng-select>
                            </div>

                        </div>

                        <div class="col-12 d-flex flex-sm-row flex-column mt-2 ml-2">
                            <button (click)="updateUser()" class="btn btn-primary mr-1" rippleEffect type="submit">
                                Submit
                            </button>
                            <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- users edit ends -->
</div>
