<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<p class="clearfix mb-0">-->
<!--  <span class="float-md-left d-block d-md-inline-block mt-25">-->
<!--    COPYRIGHT &copy; {{ year }}-->
<!--      <a class="ml-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a>-->
<!--    <span class="d-none d-sm-inline-block">, All rights Reserved</span>-->
<!--  </span>-->
<!--    <span class="float-md-right d-none d-md-block">-->
<!--    Hand-crafted & Made with <span [class]="'pink'" [data-feather]="'heart'"></span>-->
<!--  </span>-->
<!--</p>-->
<!--&lt;!&ndash;/ Footer &ndash;&gt;-->

<!--&lt;!&ndash; Move to top Button&ndash;&gt;-->
<!--<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>-->

<!--&lt;!&ndash; Buynow Button&ndash;&gt;-->
<!--<div class="buy-now">-->
<!--    <a *ngIf="coreConfig.layout.buyNow" class="btn btn-danger" href="https://1.envato.market/vuexy_admin"-->
<!--       target="_blank"-->
<!--    >Buy Now</a-->
<!--    >-->
<!--</div>-->
