@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/base/bootstrap-extended/include';
// Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';


.datatable-scroll {
  width: auto !important;
}

.cell-wrap {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

.width-77 {
  width: 77% !important;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
