<div class="content-wrapper container-xxl p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="content-body">
        <div class="bs-stepper checkout-tab-steps" id="checkoutStepper">
            <!-- Wizard starts -->
            <div class="bs-stepper-header">
                <div class="step" data-target="#step-cart">
                    <button class="step-trigger" type="button">
            <span class="bs-stepper-box">
              <i class="font-medium-3" data-feather="shopping-cart"></i>
            </span>
                        <span class="bs-stepper-label">
              <span class="bs-stepper-title">Cart</span>
              <span class="bs-stepper-subtitle">Your Cart Items</span>
            </span>
                    </button>
                </div>
                <div class="line">
                    <i class="font-medium-2" data-feather="chevron-right"></i>
                </div>
                <div class="step" data-target="#step-address">
                    <button class="step-trigger" type="button">
            <span class="bs-stepper-box">
              <i class="font-medium-3" data-feather="home"></i>
            </span>
                        <span class="bs-stepper-label">
              <span class="bs-stepper-title">Address</span>
              <span class="bs-stepper-subtitle">Enter Your Address</span>
            </span>
                    </button>
                </div>
                <div class="line">
                    <i class="font-medium-2" data-feather="chevron-right"></i>
                </div>
                <div class="step" data-target="#step-payment">
                    <button class="step-trigger" type="button">
            <span class="bs-stepper-box">
              <i class="font-medium-3" data-feather="credit-card"></i>
            </span>
                        <span class="bs-stepper-label">
              <span class="bs-stepper-title">Payment</span>
              <span class="bs-stepper-subtitle">Select Payment Method</span>
            </span>
                    </button>
                </div>
            </div>
            <!-- Wizard ends -->

            <div class="bs-stepper-content">
                <!-- Checkout Place order starts -->
                <div class="content" id="step-cart">
                    <div class="list-view product-checkout" id="place-order">
                        <!-- Checkout Place Order Left starts -->
                        <div class="checkout-items">
                            <ng-container *ngFor="let product of products">
                                <app-ecommerce-checkout-item
                                        *ngIf="product.isInCart === true"
                                        [product]="product"
                                ></app-ecommerce-checkout-item>
                            </ng-container>
                        </div>
                        <!-- Checkout Place Order Left ends -->

                        <!-- Checkout Place Order Right starts -->
                        <div class="checkout-options">
                            <div class="card">
                                <div class="card-body">
                                    <label class="section-label mb-1">Options</label>
                                    <div class="coupons input-group input-group-merge">
                                        <input
                                                aria-describedby="input-coupons"
                                                aria-label="Coupons"
                                                class="form-control"
                                                placeholder="Coupons"
                                                type="text"
                                        />
                                        <div class="input-group-append">
                                            <span class="input-group-text text-primary" id="input-coupons">Apply</span>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="price-details">
                                        <h6 class="price-title">Price Details</h6>
                                        <ul class="list-unstyled">
                                            <li class="price-detail">
                                                <div class="detail-title">Total MRP</div>
                                                <div class="detail-amt">$598</div>
                                            </li>
                                            <li class="price-detail">
                                                <div class="detail-title">Bag Discount</div>
                                                <div class="detail-amt discount-amt text-success">-25$</div>
                                            </li>
                                            <li class="price-detail">
                                                <div class="detail-title">Estimated Tax</div>
                                                <div class="detail-amt">$1.3</div>
                                            </li>
                                            <li class="price-detail">
                                                <div class="detail-title">EMI Eligibility</div>
                                                <a class="detail-amt text-primary" href="javascript:void(0)">Details</a>
                                            </li>
                                            <li class="price-detail">
                                                <div class="detail-title">Delivery Charges</div>
                                                <div class="detail-amt discount-amt text-success">Free</div>
                                            </li>
                                        </ul>
                                        <hr/>
                                        <ul class="list-unstyled">
                                            <li class="price-detail">
                                                <div class="detail-title detail-total">Total</div>
                                                <div class="detail-amt font-weight-bolder">$574</div>
                                            </li>
                                        </ul>
                                        <button
                                                (click)="nextStep()"
                                                class="btn btn-primary btn-block btn-next place-order"
                                                rippleEffect
                                                type="button"
                                        >
                                            Place Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Checkout Place Order Right ends -->
                        </div>
                    </div>
                    <!-- Checkout Place order Ends -->
                </div>
                <!-- Checkout Customer Address Starts -->
                <div class="content" id="step-address">
                    <form
                            #addressForm="ngForm"
                            (ngSubmit)="(addressForm.form.valid)"
                            class="list-view product-checkout"
                            id="checkout-address"
                    >
                        <!-- Checkout Customer Address Left starts -->
                        <div class="card">
                            <div class="card-header flex-column align-items-start">
                                <h4 class="card-title">Add New Address</h4>
                                <p class="card-text text-muted mt-25">
                                    Be sure to check "Deliver to this address" when you have finished
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="checkout-name">Full Name:</label>
                                            <input
                                                    #fullNameRef="ngModel"
                                                    [(ngModel)]="address.fullNameVar"
                                                    [class.error]="addressForm.submitted && fullNameRef.invalid"
                                                    class="form-control"
                                                    id="checkout-name"
                                                    name="fullname"
                                                    placeholder="John Doe"
                                                    required
                                                    type="text"
                                            />
                                            <span *ngIf="addressForm.submitted && fullNameRef.invalid"
                                                  class="invalid-form">
                        <small *ngIf="fullNameRef.errors.required" class="form-text text-danger"
                        >This field is required!</small
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="checkout-number">Mobile Number:</label>
                                            <input
                                                    #numberRef="ngModel"
                                                    [(ngModel)]="address.numberVar"
                                                    [class.error]="addressForm.submitted && numberRef.invalid"
                                                    class="form-control"
                                                    id="checkout-number"
                                                    name="mnumber"
                                                    placeholder="0123456789"
                                                    required
                                                    type="number"
                                            />
                                            <span *ngIf="addressForm.submitted && numberRef.invalid"
                                                  class="invalid-form">
                        <small *ngIf="numberRef.errors.required" class="form-text text-danger"
                        >This field is required!</small
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="checkout-apt-number">Flat, House No:</label>
                                            <input
                                                    #flatRef="ngModel"
                                                    [(ngModel)]="address.flatVar"
                                                    [class.error]="addressForm.submitted && flatRef.invalid"
                                                    class="form-control"
                                                    id="checkout-apt-number"
                                                    name="apt-number"
                                                    placeholder="9447 Glen Eagles Drive"
                                                    required
                                                    type="number"
                                            />
                                            <span *ngIf="addressForm.submitted && flatRef.invalid" class="invalid-form">
                        <small *ngIf="flatRef.errors.required" class="form-text text-danger"
                        >This field is required!</small
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="checkout-landmark">Landmark e.g. near apollo hospital:</label>
                                            <input
                                                    #landmarkRef="ngModel"
                                                    [(ngModel)]="address.landmarkVar"
                                                    [class.error]="addressForm.submitted && landmarkRef.invalid"
                                                    class="form-control"
                                                    id="checkout-landmark"
                                                    name="landmark"
                                                    placeholder="Near Apollo Hospital"
                                                    required
                                                    type="text"
                                            />
                                            <span *ngIf="addressForm.submitted && landmarkRef.invalid"
                                                  class="invalid-form">
                        <small *ngIf="landmarkRef.errors.required" class="form-text text-danger"
                        >This field is required!</small
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="checkout-city">Town/City:</label>
                                            <input
                                                    #cityRef="ngModel"
                                                    [(ngModel)]="address.cityVar"
                                                    [class.error]="addressForm.submitted && cityRef.invalid"
                                                    class="form-control"
                                                    id="checkout-city"
                                                    name="city"
                                                    placeholder="Tokyo"
                                                    required
                                                    type="text"
                                            />
                                            <span *ngIf="addressForm.submitted && cityRef.invalid" class="invalid-form">
                        <small *ngIf="cityRef.errors.required" class="form-text text-danger"
                        >This field is required!</small
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="checkout-pincode">Pincode:</label>
                                            <input
                                                    #pincodeRef="ngModel"
                                                    [(ngModel)]="address.pincodeVar"
                                                    [class.error]="addressForm.submitted && pincodeRef.invalid"
                                                    class="form-control"
                                                    id="checkout-pincode"
                                                    name="pincode"
                                                    placeholder="201301"
                                                    required
                                                    type="number"
                                            />
                                            <span *ngIf="addressForm.submitted && pincodeRef.invalid"
                                                  class="invalid-form">
                        <small *ngIf="pincodeRef.errors.required" class="form-text text-danger"
                        >This field is required!</small
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="checkout-state">State:</label>
                                            <input
                                                    #stateRef="ngModel"
                                                    [(ngModel)]="address.stateVar"
                                                    [class.error]="addressForm.submitted && stateRef.invalid"
                                                    class="form-control"
                                                    id="checkout-state"
                                                    name="state"
                                                    placeholder="California"
                                                    required
                                                    type="text"
                                            />
                                            <span *ngIf="addressForm.submitted && stateRef.invalid"
                                                  class="invalid-form">
                        <small *ngIf="stateRef.errors.required" class="form-text text-danger"
                        >This field is required!</small
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label for="add-type">Address Type:</label>
                                            <select class="form-control" id="add-type">
                                                <option>Home</option>
                                                <option>Work</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button
                                                (click)="validateNextStep(addressForm)"
                                                class="btn btn-primary btn-next delivery-address"
                                                rippleEffect
                                                type="submit"
                                        >
                                            Save And Deliver Here
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Customer Address Left ends -->

                        <!-- Checkout Customer Address Right starts -->
                        <div class="customer-card">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">John Doe</h4>
                                </div>
                                <div class="card-body actions">
                                    <p class="card-text mb-0">9447 Glen Eagles Drive</p>
                                    <p class="card-text">Lewis Center, OH 43035</p>
                                    <p class="card-text">UTC-5: Eastern Standard Time (EST)</p>
                                    <p class="card-text">202-555-0140</p>
                                    <button
                                            (click)="nextStep()"
                                            class="btn btn-primary btn-block btn-next delivery-address mt-2"
                                            rippleEffect
                                            type="button"
                                    >
                                        Deliver To This Address
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Customer Address Right ends -->
                    </form>
                </div>
                <!-- Checkout Customer Address Ends -->

                <!-- Checkout Payment Starts -->
                <div class="content" id="step-payment">
                    <form class="list-view product-checkout" id="checkout-payment" onsubmit="return false;">
                        <div class="payment-type">
                            <div class="card">
                                <div class="card-header flex-column align-items-start">
                                    <h4 class="card-title">Payment options</h4>
                                    <p class="card-text text-muted mt-25">Be sure to click on correct payment option</p>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-holder-name my-75">John Doe</h6>
                                    <div class="custom-control custom-radio">
                                        <input
                                                checked
                                                class="custom-control-input"
                                                id="customColorRadio1"
                                                name="paymentOptions"
                                                type="radio"
                                        />
                                        <label class="custom-control-label" for="customColorRadio1">
                                            US Unlocked Debit Card 12XX XXXX XXXX 0000
                                        </label>
                                    </div>
                                    <div class="customer-cvv mt-1">
                                        <div class="form-inline">
                                            <label class="mb-50" for="card-holder-cvv">Enter CVV:</label>
                                            <input
                                                    class="form-control ml-sm-75 ml-0 mb-50 input-cvv"
                                                    id="card-holder-cvv"
                                                    name="input-cvv"
                                                    type="password"
                                            />
                                            <button class="btn btn-primary btn-cvv ml-0 ml-sm-1 mb-50" rippleEffect
                                                    type="button">
                                                Continue
                                            </button>
                                        </div>
                                    </div>
                                    <hr class="my-2"/>
                                    <ul class="other-payment-options list-unstyled">
                                        <li class="py-50">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" id="customColorRadio2" name="paymentOptions"
                                                       type="radio"/>
                                                <label class="custom-control-label" for="customColorRadio2"> Credit /
                                                    Debit / ATM Card </label>
                                            </div>
                                        </li>
                                        <li class="py-50">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" id="customColorRadio3" name="paymentOptions"
                                                       type="radio"/>
                                                <label class="custom-control-label" for="customColorRadio3"> Net
                                                    Banking </label>
                                            </div>
                                        </li>
                                        <li class="py-50">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" id="customColorRadio4" name="paymentOptions"
                                                       type="radio"/>
                                                <label class="custom-control-label" for="customColorRadio4"> EMI (Easy
                                                    Installment) </label>
                                            </div>
                                        </li>
                                        <li class="py-50">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" id="customColorRadio5" name="paymentOptions"
                                                       type="radio"/>
                                                <label class="custom-control-label" for="customColorRadio5"> Cash On
                                                    Delivery </label>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr class="my-2"/>
                                    <div class="gift-card mb-25">
                                        <p class="card-text">
                                            <i class="mr-50 font-medium-5" data-feather="plus-circle"></i>
                                            <span class="align-middle">Add Gift Card</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="amount-payable checkout-options">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Price Details</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled price-details">
                                        <li class="price-detail">
                                            <div class="details-title">Price of 3 items</div>
                                            <div class="detail-amt">
                                                <strong>$699.30</strong>
                                            </div>
                                        </li>
                                        <li class="price-detail">
                                            <div class="details-title">Delivery Charges</div>
                                            <div class="detail-amt discount-amt text-success">Free</div>
                                        </li>
                                    </ul>
                                    <hr/>
                                    <ul class="list-unstyled price-details">
                                        <li class="price-detail">
                                            <div class="details-title">Amount Payable</div>
                                            <div class="detail-amt font-weight-bolder">$699.30</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Checkout Payment Ends -->
            </div>
        </div>
    </div>
</div>
