<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Basic Dropdowns Start -->
        <section id="basic-dropdown">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBasic">
                        <h4 class="card-title">Basic</h4>
                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-primary"
                                                id="dropdownMenuButton"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Primary
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-secondary"
                                                id="dropdownMenuButton"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Secondary
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-success"
                                                id="dropdownMenuButton2"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Success
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton2" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-danger"
                                                id="dropdownMenuButton4"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Danger
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton4" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-warning"
                                                id="dropdownMenuButton5"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Warning
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton5" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-info" id="dropdownMenuButton3" ngbDropdownToggle
                                                rippleEffect type="button">
                                            Info
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton3" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-dark" id="dropdownMenuButton7" ngbDropdownToggle
                                                rippleEffect type="button">
                                            Dark
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton7" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic Dropdown End -->

        <!-- Split Button Dropdown Starts -->
        <section id="dropdown-with-split-btn">
            <div class="row">
                <div class="col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeSplitDropdowns">
                        <h4 class="card-title">Split Dropdowns</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                To create a split button add class
                                <code>.dropdown-toggle-split</code> along with <code>ngbDropdownToggle</code> directive,
                                And add
                                <code>.btn-group</code> along with <code>ngbDropdown</code> directive. To add divider
                                between dropdown
                                item use
                                <code>.dropdown-divider</code>
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-primary" rippleEffect type="button">Primary</button>
                                    <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle
                                            rippleEffect type="button">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a class="active" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-secondary" rippleEffect type="button">Secondary</button>
                                    <button class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle
                                            rippleEffect type="button">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a class="active" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-success" rippleEffect type="button">Success</button>
                                    <button class="btn btn-success dropdown-toggle-split" ngbDropdownToggle
                                            rippleEffect type="button">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <h6 class="dropdown-header">Header</h6>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-danger" rippleEffect type="button">Danger</button>
                                    <button class="btn btn-danger dropdown-toggle-split" ngbDropdownToggle rippleEffect
                                            type="button">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-warning" rippleEffect type="button">Warning</button>
                                    <button class="btn btn-warning dropdown-toggle-split" ngbDropdownToggle
                                            rippleEffect type="button">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-info" rippleEffect type="button">Info</button>
                                    <button class="btn btn-info dropdown-toggle-split" ngbDropdownToggle rippleEffect
                                            type="button">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a [disabled]="true" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-dark" rippleEffect type="button">Dark</button>
                                    <button class="btn btn-dark dropdown-toggle-split" ngbDropdownToggle rippleEffect
                                            type="button">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class=" "></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Split Button Dropdown Ends -->

        <!-- Outline Dropdown Starts -->
        <section id="dropdown-with-outline-btn">
            <div class="row">
                <div class="col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeOutline">
                        <h4 class="card-title">Outline</h4>
                        <div class="card-body">
                            <p class="card-text">
                                To create a dropdown with outline button use
                                <code>.btn.btn-outline-&#123;colorName&#125;</code> along with
                                <code>ngbDropdownToggle</code> directive.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-outline-primary" rippleEffect type="button">Primary</button>
                                    <button
                                            class="btn btn-outline-primary dropdown-toggle-split"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a class="active" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-outline-secondary" rippleEffect type="button">Secondary
                                    </button>
                                    <button
                                            class="btn btn-outline-secondary dropdown-toggle-split"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a class="active" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-outline-success" rippleEffect type="button">Success</button>
                                    <button
                                            class="btn btn-outline-success dropdown-toggle-split"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-outline-danger" rippleEffect>Danger</button>
                                    <button
                                            class="btn btn-outline-danger dropdown-toggle-split"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-outline-warning" rippleEffect type="button">Warning</button>
                                    <button
                                            class="btn btn-outline-warning dropdown-toggle-split"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-outline-info" rippleEffect type="button">Info</button>
                                    <button
                                            class="btn btn-outline-info dropdown-toggle-split"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a [disabled]="true" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                                <div class="btn-group" ngbDropdown>
                                    <button class="btn btn-outline-dark" rippleEffect type="button">Dark</button>
                                    <button
                                            class="btn btn-outline-dark dropdown-toggle-split"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Outline Dropdown Ends -->

        <!-- Flat Dropdown Start -->
        <section id="flat-dropdown">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeFlat">
                        <h4 class="card-title">Flat</h4>
                        <div class="card-body">
                            <p class="card-text">
                                To create a flat dropdown use
                                <code>.btn-flat-&#123;colorName&#125;</code> along with <code>ngbDropdownToggle</code>
                                directive.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-flat-primary"
                                                id="dropdownMenuButton100"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Primary
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton100" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-flat-secondary"
                                                id="dropdownMenuButton100"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Secondary
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton100" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-flat-success"
                                                id="dropdownMenuButton200"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Success
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton200" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-flat-danger"
                                                id="dropdownMenuButton400"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Danger
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton400" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-flat-warning"
                                                id="dropdownMenuButton500"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Warning
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton500" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-flat-info"
                                                id="dropdownMenuButton300"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Info
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton300" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-flat-dark"
                                                id="dropdownMenuButton700"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            Dark
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton700" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Flat Dropdown Ends -->

        <!-- Basic Dropdowns Start -->
        <section id="gradient-dropdown">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeGradient">
                        <h4 class="card-title">Gradient</h4>
                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-gradient-primary" id="dropdownMenuButton101" ngbDropdownToggle
                                                type="button">
                                            Primary
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton101" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button
                                                class="btn btn-gradient-secondary"
                                                id="dropdownMenuButton101"
                                                ngbDropdownToggle
                                                type="button"
                                        >
                                            Secondary
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton101" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-gradient-success" id="dropdownMenuButton202" ngbDropdownToggle
                                                type="button">
                                            Success
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton202" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-gradient-danger" id="dropdownMenuButton404" ngbDropdownToggle
                                                type="button">
                                            Danger
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton404" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-gradient-warning" id="dropdownMenuButton505" ngbDropdownToggle
                                                type="button">
                                            Warning
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton505" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-gradient-info" id="dropdownMenuButton303" ngbDropdownToggle
                                                type="button">
                                            Info
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton303" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div ngbDropdown>
                                        <button class="btn btn-gradient-dark" id="dropdownMenuButton707" ngbDropdownToggle
                                                type="button">
                                            Dark
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton707" ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic Dropdown End -->

        <!-- Dropdown Sizes Starts -->
        <section id="dropdown-sizes">
            <div class="row">
                <div class="col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeSizes">
                        <h4 class="card-title">Sizes</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                To create dropdown with different sizes you can use
                                <code>.btn-lg</code> for large, <code>.btn-sm</code> for Small along with
                                <code>.btn</code>. You can use
                                <code>.btn</code>to get medium size dropdown by default.
                            </p>

                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="demo-inline-spacing">
                                    <div class="btn-group">
                                        <div ngbDropdown>
                                            <button class="btn btn-primary btn-lg" ngbDropdownToggle rippleEffect
                                                    type="button">Large
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div ngbDropdown>
                                            <button class="btn btn-primary" ngbDropdownToggle rippleEffect
                                                    type="button">Default
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div ngbDropdown>
                                            <button class="btn btn-primary btn-sm" ngbDropdownToggle rippleEffect
                                                    type="button">Small
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="demo-inline-spacing">
                                    <div class="btn-group" ngbDropdown>
                                        <button class="btn btn-primary btn-lg" rippleEffect type="button">Large</button>
                                        <button
                                                aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-primary btn-lg dropdown-toggle-split"
                                                data-toggle="dropdown"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                    <div class="btn-group" ngbDropdown>
                                        <button class="btn btn-primary" rippleEffect type="button">Default</button>
                                        <button
                                                aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-primary dropdown-toggle-split"
                                                data-toggle="dropdown"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                    <div class="btn-group" ngbDropdown>
                                        <button class="btn btn-primary btn-sm" rippleEffect type="button">Small</button>
                                        <button
                                                aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-primary btn-sm dropdown-toggle-split"
                                                data-toggle="dropdown"
                                                ngbDropdownToggle
                                                rippleEffect
                                                type="button"
                                        >
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Dropdown Sizes Ends -->

        <!-- Dropdown Direction Starts -->
        <section id="dropdown-directions">
            <div class="row">
                <div class="col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeDirections">
                        <h4 class="card-title">Directions</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                You can use dropdown-menu from diffrent direction to use dropdown-menu from bottom right
                                use
                                <code>.dropdown-menu-right</code> along with <code>ngbDropdownMenu</code> directive. For
                                dropup use
                                <code>[placement]="'top'"</code> directive along with <code>ngbDropdownToggle</code>
                                directive. For
                                dropright use <code>.dropright</code> & <code>[placement]="'right-top'"</code> directive
                                along with
                                <code>ngbDropdownMenu</code> directive. For dropleft use <code>.dropleft</code> and
                                <code>[placement]="'left-top'"</code> along with <code>ngbDropdownMenu</code> directive.
                            </p>
                            <div class="direction-dropdown-default">
                                <div class="demo-inline-spacing">
                                    <div class="btn-group">
                                        <div [placement]="'bottom-right'" ngbDropdown>
                                            <button class="btn btn-primary" ngbDropdownToggle rippleEffect
                                                    type="button">
                                                Drop bottom right
                                            </button>
                                            <div class="dropdown-menu-right" ngbDropdownMenu>
                                                <a class="active" href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                                <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div [placement]="'top'" class="btn-group" ngbDropdown>
                                        <button class="btn btn-primary" ngbDropdownToggle rippleEffect type="button">
                                            Drop up
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a [disabled]="true" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                    <div class="btn-group" display="dynamic" ngbDropdown placement="right-top">
                                        <button class="btn btn-primary" ngbDropdownToggle rippleEffect type="button">
                                            Drop right
                                        </button>
                                        <div ngbDropdownMenu>
                                            <h6 class="dropdown-header">Header</h6>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                    <div [placement]="'left-top'" class="btn-group" display="dynamic" ngbDropdown>
                                        <button class="btn btn-primary" ngbDropdownToggle rippleEffect type="button">
                                            Drop left
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                            <a [disabled]="true" href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                            <a href="javascript:void(0)" ngbDropdownItem>Option 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Dropdown Direction End -->

        <!-- Dropdown variations Starts -->
        <section id="dropdown-variations">
            <div class="row">
                <div class="col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeVariations">
                        <h4 class="card-title">Variations</h4>
                        <div class="card-body">
                            <p class="card-text">
                                To create a dropdown-menu with groups you can use
                                <code>.dropdown-header</code> for the header of groups and for sepration of group you
                                can use
                                <code>.dropdown-divider</code>.
                            </p>
                            <p class="card-text mb-0">
                                To create a dropdown with icons use class
                                <code>.dropdown-icon-wrapper</code> along with <code>ngbDropdown</code> directive, And
                                add
                                <code>.dropdown-icon</code> with the default <code>&lt;i&gt;</code> tag.
                            </p>
                            <div class="demo-inline-spacing">
                                <div [placement]="'top'" class="btn-group dropup" ngbDropdown>
                                    <button
                                            class="btn btn-primary"
                                            id="dropdownMenuButton902"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        Groups
                                    </button>
                                    <div aria-labelledby="dropdownMenuButton902" ngbDropdownMenu>
                                        <h6 class="dropdown-header">Group 1</h6>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Group 2</h6>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Group 3</h6>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 1</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Option 2</a>
                                    </div>
                                </div>
                                <div [placement]="'top'" class="btn-group dropup dropdown-icon-wrapper" ngbDropdown>
                                    <button class="btn btn-primary" rippleEffect type="button">Icons</button>
                                    <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle
                                            rippleEffect type="button">
                                        <span [data-feather]="'wifi'" class="'dropdown-icon'"></span>
                                    </button>
                                    <div ngbDropdownMenu>
                    <span ngbDropdownItem>
                      <span [data-feather]="'wifi-off'"></span>
                    </span>
                                        <span ngbDropdownItem>
                      <span [data-feather]="'volume-2'"></span>
                    </span>
                                        <span ngbDropdownItem>
                      <span [data-feather]="'volume-x'"></span>
                    </span>
                                        <span ngbDropdownItem>
                      <span [data-feather]="'bell'"></span>
                    </span>
                                        <span ngbDropdownItem>
                      <span [data-feather]="'bell-off'"></span>
                    </span>
                                        <span ngbDropdownItem>
                      <span [data-feather]="'phone-off'"></span>
                    </span>
                                    </div>
                                </div>
                                <div [placement]="'top-left'" class="btn-group dropup" ngbDropdown>
                                    <button class="btn btn-primary" ngbDropdownToggle rippleEffect type="button">Form
                                    </button>
                                    <div ngbDropdownMenu>
                                        <form class="px-2 py-2">
                                            <div class="form-group">
                                                <label for="exampleDropdownFormEmail1">Email address</label>
                                                <input class="form-control" id="exampleDropdownFormEmail1" placeholder="Email"
                                                       type="email"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleDropdownFormPassword1">Password</label>
                                                <input
                                                        class="form-control"
                                                        id="exampleDropdownFormPassword1"
                                                        placeholder="Password"
                                                        type="password"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input" id="dropdownCheck" type="checkbox"/>
                                                    <label class="form-check-label" for="dropdownCheck"> Remember
                                                        me </label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" rippleEffect type="submit">Sign in</button>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" ngbDropdownItem>New around here? Sign up</a>
                                        <a href="javascript:void(0)" ngbDropdownItem>Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Dropdown variations Ends -->
    </div>
</div>
