<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog sidebar-lg">
            <div class="modal-content p-0">
                <button
                        (click)="toggleSidebar('invoice-sidebar')"
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                >
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title">
                        <span class="align-middle">Send Invoice</span>
                    </h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <form>
                        <div class="form-group">
                            <label class="form-label" for="invoice-from">From</label>
                            <input
                                    class="form-control"
                                    id="invoice-from"
                                    placeholder="company@email.com"
                                    type="text"
                                    value="shelbyComapny@email.com"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="invoice-to">To</label>
                            <input
                                    class="form-control"
                                    id="invoice-to"
                                    placeholder="company@email.com"
                                    type="text"
                                    value="qConsolidated@email.com"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="invoice-subject">Subject</label>
                            <input
                                    class="form-control"
                                    id="invoice-subject"
                                    placeholder="Invoice regarding goods"
                                    type="text"
                                    value="Invoice of purchased Admin Templates"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="invoice-message">Message</label>
                            <textarea
                                    class="form-control"
                                    cols="3"
                                    id="invoice-message"
                                    name="invoice-message"
                                    placeholder="Message..."
                                    rows="11"
                            >
Dear Queen Consolidated,

Thank you for your business, always a pleasure to work with you!

We have generated a new invoice in the amount of $95.59

We would appreciate payment of this invoice by 05/11/2019</textarea
                            >
                        </div>
                        <div class="form-group">
              <span class="badge badge-light-primary">
                <i class="mr-25" data-feather="link"></i>
                <span class="align-middle">Invoice Attached</span>
              </span>
                        </div>
                        <div class="form-group d-flex flex-wrap mt-2">
                            <button
                                    (click)="toggleSidebar('invoice-sidebar')"
                                    class="btn btn-primary mr-1"
                                    rippleEffect
                                    type="button"
                            >
                                Send
                            </button>
                            <button
                                    (click)="toggleSidebar('invoice-sidebar')"
                                    class="btn btn-outline-secondary"
                                    data-dismiss="modal"
                                    rippleEffect
                                    type="button"
                            >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>
