<div class="content-wrapper container-xxl p-2">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
        <div class="card-body">
            <form #teamLeaveEdit='ngForm' (ngSubmit)="teamLeaveEdit.form.valid" class="form form-vertical">
                <div class="row">

                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="team-name">Team Name</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'users'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                type="text"-->
                                    <!--                                                id="first-name-icon"-->
                                    <!--                                                class="form-control"-->
                                    <!--                                                name="fname-icon"-->
                                    <!--                                                placeholder="Team Name"-->
                                    <!--                                                [(ngModel)]="teamName"-->
                                    <!--                                        />-->

                                    <ng-select
                                        #teamNameSelect="ngModel"
                                        (change)="onTeamNameChange($event)"
                                        [(ngModel)]="teamName"
                                        [class.error]="teamNameSelect.invalid && (teamNameSelect.touched || teamLeaveEdit.submitted)"
                                        [items]="allTeams"
                                        [ngClass]="{'is-invalid error': teamNameSelect.invalid && (teamNameSelect.touched || teamLeaveEdit.submitted)}"
                                        bindLabel="name"
                                        bindValue="value"
                                        class="width-77"
                                        id="team-name"
                                        placeholder="Select Team"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.name }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ "Manager name: " + item.manager.firstName + ' ' + item.manager.lastName }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ 'Manager Email: ' + item.manager.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="teamNameSelect.invalid && (teamNameSelect.touched || teamLeaveEdit.submitted)"
                                         class="error">
                                        <span *ngIf="teamNameSelect.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'text'"></span></span>
                                    </div>
                                    <input
                                        #reasonInput="ngModel"
                                        [(ngModel)]="reason"
                                        [class.error]="reasonInput.invalid && (reasonInput.touched || teamLeaveEdit.submitted)"
                                        [ngClass]="{'is-invalid error': reasonInput.invalid && (reasonInput.touched || teamLeaveEdit.submitted)}"
                                        class="form-control"
                                        id="reason"
                                        name="contact-icon"
                                        placeholder="Enter Leave reason"
                                        required
                                        type="text"
                                    />
                                    <div *ngIf="reasonInput.invalid && (reasonInput.touched || teamLeaveEdit.submitted)"
                                         class="error">
                                        <span *ngIf="reasonInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="start-date">Start Date</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><span
                                                    [data-feather]="'calendar'"></span></span>
                                    </div>
                                    <input
                                        #startDateInput="ngModel"
                                        [(ngModel)]="startDate"
                                        [class.error]="startDateInput.invalid && (startDateInput.touched || teamLeaveEdit.submitted)"
                                        [ngClass]="{'is-invalid error': startDateInput.invalid && (startDateInput.touched || teamLeaveEdit.submitted)}"
                                        class="form-control"
                                        id="start-date"
                                        name="email-id-icon"
                                        placeholder="Email"
                                        required
                                        type="datetime-local"
                                    />
                                    <!--                            <ng2-flatpickr [config]="dateTimeOptions" name="dateTime" id="start-date" [(ngModel)]="startDate"></ng2-flatpickr>-->
                                    <div *ngIf="startDateInput.invalid && (startDateInput.touched || teamLeaveEdit.submitted)"
                                         class="error">
                                        <span *ngIf="startDateInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="end-date">End Date</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><span
                                                    [data-feather]="'calendar'"></span></span>
                                    </div>
                                    <input
                                        #endDateInput="ngModel"
                                        [(ngModel)]="endDate"
                                        [class.error]="endDateInput.invalid && (endDateInput.touched || teamLeaveEdit.submitted)"
                                        [ngClass]="{'is-invalid error': endDateInput.invalid && (endDateInput.touched || teamLeaveEdit.submitted)}"
                                        class="form-control"
                                        id="end-date"
                                        name="contact-icon"
                                        placeholder="Description"
                                        required
                                        type="datetime-local"
                                    />
                                    <!--                            <ng2-flatpickr [config]="dateTimeOptions" name="dateTime" id="end-date" [(ngModel)]="endDate"></ng2-flatpickr>-->
                                    <div *ngIf="endDateInput.invalid && (endDateInput.touched || teamLeaveEdit.submitted)"
                                         class="error">
                                        <span *ngIf="endDateInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 ml-2">
                        <button (click)="editTeamLeave()"
                                class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light"
                                rippleEffect
                                type="submit">Submit
                        </button>
                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
