<div class="content-wrapper container-xxl p-2">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
        <div class="card-body">
            <form #teamEdit='ngForm' (ngSubmit)="teamEdit.form.valid" class="form">
                <div class="row">


                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="first-name-icon">Team Name</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'users'"></span></span>
                                    </div>
                                    <input
                                        #teamNameInput="ngModel"
                                        [(ngModel)]="teamName"
                                        [class.error]="teamNameInput.invalid && (teamNameInput.touched || teamEdit.submitted)"
                                        [ngClass]="{'is-invalid error': teamNameInput.invalid && (teamNameInput.touched || teamEdit.submitted)}"
                                        class="form-control"
                                        id="first-name-icon"
                                        name="fname-icon"
                                        placeholder="Team Name"
                                        required
                                        type="text"
                                    />

                                    <span *ngIf="(teamEdit.submitted || teamNameInput.touched) && teamNameInput.invalid"
                                          [ngClass]="{'d-block' : (teamEdit.submitted || teamNameInput.touched) && teamNameInput.invalid} "
                                          class="invalid-feedback">
                                            <small *ngIf="teamNameInput.errors.required"
                                                   class="form-text text-danger">This field is required!</small>
                                        </span>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">Team Lead Email</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                type="text"-->
                                    <!--                                                id="email-id-icon"-->
                                    <!--                                                class="form-control"-->
                                    <!--                                                name="email-id-icon"-->
                                    <!--                                                placeholder="Email"-->
                                    <!--                                                [(ngModel)]="teamLeadEmail"-->
                                    <!--                                        />-->

                                    <ng-select
                                        #teamLeadEmailInput="ngModel"
                                        (change)="onUserEmailChange($event)"
                                        [(ngModel)]="teamLeadEmail"
                                        [class.error]="teamLeadEmailInput.invalid && (teamLeadEmailInput.touched || teamEdit.submitted)"
                                        [items]="selectUser"
                                        [ngClass]="{'is-invalid error': teamLeadEmailInput.invalid && (teamLeadEmailInput.touched || teamEdit.submitted)}"
                                        bindLabel="email"
                                        bindValue="email"
                                        class="width-77"
                                        id="email"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.firstName + ' ' + item.lastName }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ item.role }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ item.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <span *ngIf="(teamEdit.submitted || teamLeadEmailInput.touched) && teamLeadEmailInput.invalid"
                                          [ngClass]="{'d-block' : (teamEdit.submitted || teamLeadEmailInput.touched) && teamLeadEmailInput.invalid} "
                                          class="invalid-feedback">
                                            <small *ngIf="teamLeadEmailInput.errors.required"
                                                   class="form-text text-danger">This field is required!</small>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Description</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'book-open'"></span></span>
                                    </div>
                                    <input
                                        #teamDescriptionInput="ngModel"
                                        [(ngModel)]="teamDescription"
                                        [class.error]="teamDescriptionInput.invalid && (teamDescriptionInput.touched || teamEdit.submitted)"
                                        [ngClass]="{'is-invalid error': teamDescriptionInput.invalid && (teamDescriptionInput.touched || teamEdit.submitted)}"
                                        class="form-control"
                                        id="contact-info-icon"
                                        name="contact-icon"
                                        placeholder="Description"
                                        required
                                        type="text"
                                    />
                                    <span *ngIf="(teamEdit.submitted || teamDescriptionInput.touched) && teamDescriptionInput.invalid"
                                          [ngClass]="{'d-block' : (teamEdit.submitted || teamDescriptionInput.touched) && teamDescriptionInput.invalid} "
                                          class="invalid-feedback">
                                                <small *ngIf="teamDescriptionInput.errors.required"
                                                       class="form-text text-danger">This field is required!</small>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Department</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'slack'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                type="text"-->
                                    <!--                                                id="department-icon"-->
                                    <!--                                                class="form-control"-->
                                    <!--                                                name="contact-icon"-->
                                    <!--                                                placeholder="Department Name"-->
                                    <!--                                                [(ngModel)]="organizationalUnitName"-->
                                    <!--                                        />-->

                                    <ng-select
                                        #departmentInput="ngModel"
                                        (change)="onDepartmentChange($event)"
                                        [(ngModel)]="organizationalUnitName"
                                        [class.error]="departmentInput.invalid && (departmentInput.touched || teamEdit.submitted)"
                                        [items]="departments"
                                        [ngClass]="{'is-invalid error': departmentInput.invalid && (departmentInput.touched || teamEdit.submitted)}"
                                        bindLabel="name"
                                        bindValue="name"
                                        class="width-77"
                                        id="unitName"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.name }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ "Manager name: " + item.manager.firstName + ' ' + item.manager.lastName }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ 'Manager Email: ' + item.manager.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <span *ngIf="(teamEdit.submitted || departmentInput.touched) && departmentInput.invalid"
                                          [ngClass]="{'d-block' : (teamEdit.submitted || departmentInput.touched) && departmentInput.invalid} "
                                          class="invalid-feedback">
                                                    <small *ngIf="departmentInput.errors.required"
                                                           class="form-text text-danger">This field is required!</small>
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 ml-2">
                        <button (click)="editTeam()" class="btn btn-primary mr-1" rippleEffect type="submit">Submit
                        </button>
                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
