<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- page users view start -->
        <section class="app-user-view">
            <!-- User Card & Plan Starts -->
            <div class="row">
                <!-- User Card starts-->
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                    <div class="user-avatar-section">
                                        <div class="d-flex justify-content-start">
                                            <div class="d-flex flex-column ml-1">
                                                <div class="user-info mb-1">
                                                    <h4 class="mb-0">Team ID :{{ data.id }}</h4>
                                                    <span class="card-text">{{ data.name }}</span>
                                                </div>
                                                <div class="d-flex flex-wrap">
                                                    <a class="btn btn-primary"
                                                       rippleEffect routerLink="/apps/teams/edit/{{ data.id }}"
                                                    >Edit</a
                                                    >

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                    <div class="user-info-wrapper">
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="users"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Team name</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.name }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="user-check"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Manager Name</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.manager.firstName + ' ' + data.manager.lastName }} </p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="calendar"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Created At</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.createdAt | date:'medium' }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="flag"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Description</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.description }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="slack"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Department</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.organizationalUnit.name ? data.organizationalUnit.name : data.organizationalUnit }}</p>
                                        </div>

                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="check-circle"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Optimal Attendance</span>
                                            </div>
                                            <p class="card-text mb-0">{{ data.minimumAttendance }}</p>
                                        </div>

                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i class="mr-1" data-feather="check-circle"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 mr-1">Attendance</span>
                                            </div>
                                            <p class="card-text mb-0">{{ (data.members.length - membersOnLeave.length) + '/' + data.members.length }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="ngx-datatable-kitchen-sink4">
            <core-card-snippet>
                <h4 class="card-title">Team Members List</h4>
                <div class="row">


                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center"
                            >Show
                                <select [(ngModel)]="selectedOption" class="form-control mx-25">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label
                            >
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center"
                            >Search<input
                                    (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)"
                                    class="form-control ml-25"
                                    placeholder="Search"
                                    type="search"
                            /></label>
                            <button (click)="openModal()" class="btn  btn-primary  ml-1" rippleEffect
                            >Affect User to Team
                            </button
                            >
                            <a [data]="rows" class="btn btn-outline-secondary  ml-1" csvLink rippleEffect
                            >Export CSV</a
                            >
                        </div>
                    </div>
                </div>
                <ngx-datatable
                    #tableRowDetails

                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [headerHeight]="50"
                    [limit]="selectedOption"
                    [rowHeight]="50"
                    [rows]="rows"
                    [scrollbarH]="true"
                    class="bootstrap core-bootstrap"
                >
                    <!-- Row Detail Template -->
                    <ngx-datatable-row-detail [rowHeight]="50">
                        <ng-template let-expanded="expanded" let-row="row" ngx-datatable-row-detail-template>
                            <div class="ml-75 pl-5 pt-75">
                                <div>
            <span><strong>Available Leave Days : </strong> {{ row.leaveDays }}</span
            ><span class="ml-1"><strong>External Activities Limit : </strong> {{ row.externalActivitiesLimit }}</span
                                ><span *ngIf="row.onLeave"
                                       class="ml-1"><strong>Will be Back on : </strong> {{ row.returnDate | date:'short' }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-row-detail>
                    <ngx-datatable-column
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [sortable]="false"
                            [width]="50"
                    >
                        <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
                            <a
                                    (click)="rowDetailsToggleExpand(row)"
                                    [class.datatable-icon-down]="expanded"
                                    [class.datatable-icon-right]="!expanded"
                                    href="javascript:void(0)"
                                    title="Expand/Collapse Row"
                            >
                            </a>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="User Id" prop="id"></ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="First Name" prop="firstName"></ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="Last Name" prop="lastName"></ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="Available" prop="onLeave">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="cell-wrap">
                                <div *ngIf="value=== false" class="badge badge-success">
                                    <i class="mr-25" data-feather="check-circle"></i>
                                    <span>Available</span>
                                </div>
                                <div *ngIf="value=== true" class="badge badge-danger">
                                    <i class="mr-25" data-feather="x-circle"></i>
                                    <span>On Leave</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="200" name="Email" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column [width]="100" name="Phone" prop="phone"></ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Role" prop="role">
                        <ng-template let-role="value" ngx-datatable-cell-template>
                            <div>
                                <i
                                        [ngClass]="{
                    'icon-user text-primary': role == 'USER',
                    'icon-user-check text-warning': role == 'MANAGER',
                    'icon-slack text-danger': role == 'ADMIN'
                  }"
                                        class="feather font-medium-3"
                                ></i>
                                {{ role }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column [canAutoResize]="true" [draggable]="false" [minWidth]="300"
                                          [resizeable]="true"
                                          [sortable]="false"
                                          name="Actions">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">

                                <a class="btn btn-success btn-sm mr-2" rippleEffect
                                   routerLink="/apps/user/user-view/{{row.id}}" type="button"><span
                                        [data-feather]="'eye'"></span>View</a>
                                <button (click)="removeFromTeam(row.email)" class="btn btn-danger btn-sm mr-2"
                                        rippleEffect type="button"><span [data-feather]="'x'"></span>Remove
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </core-card-snippet>
        </section>
        <!-- page users view end -->
    </div>
</div>

<ng-template #content let-modal>
    <div class="content-body edit-model">
        <div class="row match-height">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card card-transaction">
                    <div class="modal-header">
                        <h4 class="modal-title ">Add Employee to Team</h4>
                        <i (click)="close('edit-model')">
                            <span class="font-medium-3 cursor-pointer" data-feather="x"></span>
                        </i>
                    </div>
                    <br>
                    <div class="modal-body" ngbAutofocus tabindex="0">
                        <form action="#">
                            <div class="form-group">
                                <label for="email-id-icon">Employee Email To Be Added: </label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                    </div>
                                    <!--                                    <input-->
                                    <!--                                            [(ngModel)]="email"-->
                                    <!--                                            class="form-control"-->
                                    <!--                                            id="email-id-icon"-->
                                    <!--                                            name="email-id-icon"-->
                                    <!--                                            placeholder="Email"-->
                                    <!--                                            type="text"-->
                                    <!--                                    />-->

                                    <ng-select
                                        #teamNameSelect="ngModel"
                                        (change)="onUserChange($event)"
                                        [(ngModel)]="email"
                                        [class.error]="teamNameSelect.invalid && teamNameSelect.touched"
                                        [items]="users"
                                        bindLabel="email"
                                        bindValue="email"
                                        class="width-77"
                                        id="team-name"
                                        placeholder="Select User"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.firstName + ' ' + item.lastName }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ item.role }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ item.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button (click)="affectUserToTeam()" class="btn btn-primary" rippleEffect type="button">
                            Add Employee
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</ng-template>
