<!-- app-breadcrumb start -->
<div
        [ngClass]="{
    'justify-content-center': breadcrumb.alignment == 'center',
    'justify-content-end': breadcrumb.alignment == 'right'
  }"
        class="breadcrumb-wrapper d-flex"
>
    <ol
            [ngClass]="{
      'breadcrumb-slash': breadcrumb.type == 'slash',
      'breadcrumb-dots': breadcrumb.type == 'dots',
      'breadcrumb-dashes': breadcrumb.type == 'dashes',
      'breadcrumb-pipes': breadcrumb.type == 'pipes',
      'breadcrumb-chevron': breadcrumb.type == 'chevron',
      'mr-1': breadcrumb.alignment == 'right'
    }"
            class="breadcrumb"
    >
        <li *ngFor="let link of breadcrumb.links" class="breadcrumb-item">
            <a *ngIf="link.isLink" routerLink="{{ link.link }}">{{ link.name }}</a>
            <span *ngIf="!link.isLink">{{ link.name }}</span>
        </li>
    </ol>
</div>
<!-- app-breadcrumb end -->
