<!-- Ecommerce Sidebar Starts -->
<div class="row mt-1 d-none d-lg-block">
    <div class="col-sm-12">
        <h6 class="filter-heading">Filters</h6>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <!-- Price Filter starts -->
        <div class="multi-range-price">
            <h6 class="filter-title mt-0">Multi Range</h6>
            <ul class="list-unstyled price-range" id="price-range">
                <li>
                    <div class="custom-control custom-radio">
                        <input checked class="custom-control-input" id="priceAll" name="price-range" type="radio"/>
                        <label class="custom-control-label" for="priceAll">All</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="priceRange1" name="price-range" type="radio"/>
                        <label class="custom-control-label" for="priceRange1">&lt;=$10</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="priceRange2" name="price-range" type="radio"/>
                        <label class="custom-control-label" for="priceRange2">$10 - $100</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="priceARange3" name="price-range" type="radio"/>
                        <label class="custom-control-label" for="priceARange3">$100 - $500</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="priceRange4" name="price-range" type="radio"/>
                        <label class="custom-control-label" for="priceRange4">&gt;= $500</label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Price Filter ends -->

        <!-- Price Slider starts -->
        <div class="price-slider">
            <h6 class="filter-title">Price Range</h6>
            <div class="price-slider">
                <nouislider
                        [(ngModel)]="sliderPriceValue"
                        [behaviour]="'drag'"
                        [connect]="true"
                        [limit]="100"
                        [max]="100"
                        [min]="1"
                        [ngClass]="'mt-3'"
                        [step]="2"
                        [tooltips]="true"
                ></nouislider>
            </div>
        </div>
        <!-- Price Range ends -->

        <!-- Categories Starts -->
        <div id="product-categories">
            <h6 class="filter-title">Categories</h6>
            <ul class="list-unstyled categories-list">
                <li>
                    <div class="custom-control custom-radio">
                        <input checked class="custom-control-input" id="category1" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category1">Appliances</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category2" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category2">Audio</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category3" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category3">Cameras & Camcorders</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category4" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category4">Car Electronics & GPS</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category5" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category5">Cell Phones</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category6" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category6">Computers & Tablets</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category7" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category7">Health, Fitness & Beauty</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category8" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category8">Office & School Supplies</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category9" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category9">TV & Home Theater</label>
                    </div>
                </li>
                <li>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="category10" name="category-filter" type="radio"/>
                        <label class="custom-control-label" for="category10">Video Games</label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Categories Ends -->

        <!-- Brands starts -->
        <div class="brands">
            <h6 class="filter-title">Brands</h6>
            <ul class="list-unstyled brand-list">
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand1" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand1">Insignia™</label>
                    </div>
                    <span>746</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input checked class="custom-control-input" id="productBrand2" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand2">Samsung</label>
                    </div>
                    <span>633</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand3" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand3">Metra</label>
                    </div>
                    <span>591</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand4" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand4">HP</label>
                    </div>
                    <span>530</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input checked class="custom-control-input" id="productBrand5" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand5">Apple</label>
                    </div>
                    <span>442</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand6" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand6">GE</label>
                    </div>
                    <span>394</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand7" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand7">Sony</label>
                    </div>
                    <span>350</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand8" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand8">Incipio</label>
                    </div>
                    <span>320</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand9" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand9">KitchenAid</label>
                    </div>
                    <span>318</span>
                </li>
                <li>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="productBrand10" type="checkbox"/>
                        <label class="custom-control-label" for="productBrand10">Whirlpool</label>
                    </div>
                    <span>298</span>
                </li>
            </ul>
        </div>
        <!-- Brand ends -->

        <!-- Rating starts -->
        <div id="ratings">
            <h6 class="filter-title">Ratings</h6>
            <div class="ratings-list">
                <a href="javascript:void(0)">
          <span class="rating rating-sm">
            <ngb-rating [max]="5" [rate]="4" [readonly]="true" class="outline-none">
              <ng-template let-fill="fill" let-index="index"
              ><span [class.fa-star]="fill === 100" class="fa fa-star-o mr-25"></span
              ></ng-template>
            </ngb-rating>
          </span>
                    & up
                </a>
                <div class="stars-received">160</div>
            </div>
            <div class="ratings-list">
                <a href="javascript:void(0)">
          <span class="rating rating-sm">
            <ngb-rating [max]="5" [rate]="3" [readonly]="true" class="outline-none">
              <ng-template let-fill="fill" let-index="index"
              ><span [class.fa-star]="fill === 100" class="fa fa-star-o mr-25"></span
              ></ng-template>
            </ngb-rating>
          </span>
                    & up
                </a>
                <div class="stars-received">176</div>
            </div>
            <div class="ratings-list">
                <a href="javascript:void(0)">
          <span class="rating rating-sm">
            <ngb-rating [max]="5" [rate]="2" [readonly]="true" class="outline-none">
              <ng-template let-fill="fill" let-index="index"
              ><span [class.fa-star]="fill === 100" class="fa fa-star-o mr-25"></span
              ></ng-template>
            </ngb-rating>
          </span>
                    & up
                </a>
                <div class="stars-received">291</div>
            </div>
            <div class="ratings-list">
                <a href="javascript:void(0)">
          <span class="rating rating-sm">
            <ngb-rating [max]="5" [rate]="1" [readonly]="true" class="outline-none">
              <ng-template let-fill="fill" let-index="index"
              ><span [class.fa-star]="fill === 100" class="fa fa-star-o mr-25"></span
              ></ng-template>
            </ngb-rating>
          </span>
                    & up
                </a>
                <div class="stars-received">190</div>
            </div>
        </div>
        <!-- Rating ends -->

        <!-- Clear Filters Starts -->
        <div id="clear-filters">
            <button class="btn btn-block btn-primary" rippleEffect type="button">Clear All Filters</button>
        </div>
        <!-- Clear Filters Ends -->
    </div>
</div>
<!-- Ecommerce Sidebar Ends -->
