<div class="content-wrapper container-xxl p-2">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
        <div class="card-body">
            <form #newLeave='ngForm' (ngSubmit)="(newLeave.form.valid)" class="form form-vertical">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                [(ngModel)]="userEmail"-->
                                    <!--                                                class="form-control"-->
                                    <!--                                                id="first-name-icon"-->
                                    <!--                                                name="fname-icon"-->
                                    <!--                                                placeholder="Enter Email Here"-->
                                    <!--                                                type="text"-->
                                    <!--                                                [disabled]="role==='USER'"-->
                                    <!--                                        />-->


                                    <!-- Select with custom Option -->
                                    <ng-select
                                        #UserInput="ngModel"
                                        (change)="onUserEmailChange($event)"
                                        [(ngModel)]="userEmail"
                                        [class.error]='UserInput.invalid && (UserInput.touched || newLeave.submitted)'
                                        [items]="selectUser"
                                        [ngClass]="{'is-invalid error': UserInput.invalid && (UserInput.touched || newLeave.submitted)}"
                                        bindLabel="email"
                                        bindValue="email"
                                        class="width-77"
                                        id="email"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.firstName + ' ' + item.lastName }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ item.role }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ item.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>

                                    <div *ngIf="UserInput.invalid && (UserInput.touched || newLeave.submitted)"
                                         class="error">
                                        <span *ngIf="UserInput.errors.required">This field is required</span>
                                    </div>
                                    <!--/ Select with custom Option -->

                                </div>
                            </div>
                        </div>
                        <div *ngIf="role==='ADMIN' ; else nonAdminView" class="col-12">
                            <div class="form-group">
                                <label for="leave-type-icon">Leave Type</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'check'"></span></span>
                                    </div>
                                    <!--                            <input-->
                                    <!--                                    type="text"-->
                                    <!--                                    id="email-id-icon"-->
                                    <!--                                    class="form-control"-->
                                    <!--                                    name="email-id-icon"-->
                                    <!--                                    placeholder="Email"-->
                                    <!--                                    [(ngModel)]="leaveType"-->
                                    <!--                            />-->
                                    <ng-select #leaveTypeSelect='ngModel'
                                               (change)="onLeaveTypeChange($event)"
                                               [(ngModel)]="leaveTypeADMIN"
                                               [class.error]="leaveTypeSelect.invalid && (leaveTypeSelect.touched || newLeave.submitted)"
                                               [items]="leaveTypesADMIN"
                                               [ngClass]="{'is-invalid error': leaveTypeSelect.invalid && (leaveTypeSelect.touched || newLeave.submitted) }"
                                               bindLabel="name"
                                               class="width-77"
                                               id="leave-type-icon"
                                               name="selectedLeaveType"
                                               placeholder="Select Leave Type"
                                               required>
                                    </ng-select>
                                    <div *ngIf="leaveTypeSelect.invalid && (leaveTypeSelect.touched || newLeave.submitted)"
                                         class="error">
                                        <span *ngIf="leaveTypeSelect.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="leaveTypeADMIN==='EXCEPTIONAL_LEAVE'" class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Exceptional Leave Type</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                [data-feather]="'alert-circle'"></span></span>
                                    </div>
                                    <!--                            <input-->
                                    <!--                                    type="text"-->
                                    <!--                                    id="contact-info-icon"-->
                                    <!--                                    class="form-control"-->
                                    <!--                                    name="contact-icon"-->
                                    <!--                                    placeholder="Description"-->
                                    <!--                                    [(ngModel)]="exceptionalLeaveType"-->
                                    <!--                            />-->
                                    <ng-select #exceptionalLeaveTypeSelect='ngModel'
                                               (change)="onExceptionalLeaveTypeChange($event)"
                                               [(ngModel)]="exceptionalLeaveType"
                                               [class.error]="exceptionalLeaveTypeSelect.invalid && (exceptionalLeaveTypeSelect.touched || newLeave.submitted)"
                                               [items]="exceptionalLeaveTypes"
                                               [ngClass]="{'is-invalid error': exceptionalLeaveTypeSelect.invalid && (exceptionalLeaveTypeSelect.touched || newLeave.submitted) }"
                                               bindLabel="name"
                                               class="width-77"
                                               id="contact-info-icon"
                                               name="selectedExceptionalLeaveType"
                                               placeholder="Select Exceptional Leave Type"
                                               required
                                    ></ng-select>
                                    <div *ngIf="exceptionalLeaveTypeSelect.invalid && (exceptionalLeaveTypeSelect.touched || newLeave.submitted)"
                                         class="error">
                                        <span *ngIf="exceptionalLeaveTypeSelect.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="leaveTypeADMIN==='HALF_DAY'" class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Time of Day</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'sun'"></span></span>
                                    </div>
                                    <!--                            <input-->
                                    <!--                                    type="text"-->
                                    <!--                                    id="department-icon"-->
                                    <!--                                    class="form-control"-->
                                    <!--                                    name="contact-icon"-->
                                    <!--                                    placeholder="Department Name"-->
                                    <!--                                    [(ngModel)]="timeOfDay"-->
                                    <!--                            />-->
                                    <ng-select #timeOfDaySelect='ngModel'
                                               (change)="onTimeOfDayChange($event)"
                                               [(ngModel)]="timeOfDay"
                                               [class.error]="timeOfDaySelect.invalid && timeOfDaySelect.touched"
                                               [items]="timesOfDay"
                                               bindLabel="name"
                                               class="width-77"
                                               id="email-icon"
                                               name="selectedTimeOfDay"
                                               placeholder="Select Time of Day"
                                               required
                                    ></ng-select>
                                    <div *ngIf="timeOfDaySelect.invalid && timeOfDaySelect.touched" class="error">
                                        <span *ngIf="timeOfDaySelect.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #nonAdminView>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">Leave Type</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'check'"></span></span>
                                        </div>
                                        <!--                            <input-->
                                        <!--                                    type="text"-->
                                        <!--                                    id="email-id-icon"-->
                                        <!--                                    class="form-control"-->
                                        <!--                                    name="email-id-icon"-->
                                        <!--                                    placeholder="Email"-->
                                        <!--                                    [(ngModel)]="leaveType"-->
                                        <!--                            />-->
                                        <ng-select #leaveTypeSelect='ngModel'
                                                   (change)="onLeaveTypeChange($event)"
                                                   [(ngModel)]="leaveType"
                                                   [class.error]="leaveTypeSelect.invalid && (leaveTypeSelect.touched || newLeave.submitted)"
                                                   [items]="leaveTypes"
                                                   [ngClass]="{'is-invalid error': leaveTypeSelect.invalid && (leaveTypeSelect.touched || newLeave.submitted) }"
                                                   bindLabel="name"
                                                   class="width-77"
                                                   id="email-id-icon"
                                                   name="selectedLeaveType"
                                                   placeholder="Select Leave Type"
                                                   required
                                        >
                                        </ng-select>
                                        <div *ngIf="leaveTypeSelect.invalid && (leaveTypeSelect.touched || newLeave.submitted)"
                                             class="error">
                                            <span *ngIf="leaveTypeSelect.errors.required">This field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="leaveType==='EXCEPTIONAL_LEAVE'" class="col-12">
                                <div class="form-group">
                                    <label for="contact-info-icon">Exceptional Leave Type</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'alert-circle'"></span></span>
                                        </div>
                                        <!--                            <input-->
                                        <!--                                    type="text"-->
                                        <!--                                    id="contact-info-icon"-->
                                        <!--                                    class="form-control"-->
                                        <!--                                    name="contact-icon"-->
                                        <!--                                    placeholder="Description"-->
                                        <!--                                    [(ngModel)]="exceptionalLeaveType"-->
                                        <!--                            />-->
                                        <ng-select #exceptionalLeaveTypeSelect='ngModel'
                                                   (change)="onExceptionalLeaveTypeChange($event)"
                                                   [(ngModel)]="exceptionalLeaveType"
                                                   [class.error]="exceptionalLeaveTypeSelect.invalid && (exceptionalLeaveTypeSelect.touched || newLeave.submitted)"
                                                   [items]="exceptionalLeaveTypes"
                                                   [ngClass]="{'is-invalid error': exceptionalLeaveTypeSelect.invalid && (exceptionalLeaveTypeSelect.touched || newLeave.submitted) }"
                                                   bindLabel="name"
                                                   class="width-77"
                                                   id="contact-info-icon"
                                                   name="selectedExceptionalLeaveType"
                                                   placeholder="Select Exceptional Leave Type"
                                                   required
                                        ></ng-select>
                                        <div *ngIf="exceptionalLeaveTypeSelect.invalid && (exceptionalLeaveTypeSelect.touched || newLeave.submitted)"
                                             class="error">
                                            <span *ngIf="exceptionalLeaveTypeSelect.errors.required">This field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="leaveType==='HALF_DAY'" class="col-12">
                                <div class="form-group">
                                    <label for="timeOfDay">Time of Day</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'sun'"></span></span>
                                        </div>
                                        <!--                            <input-->
                                        <!--                                    type="text"-->
                                        <!--                                    id="department-icon"-->
                                        <!--                                    class="form-control"-->
                                        <!--                                    name="contact-icon"-->
                                        <!--                                    placeholder="Department Name"-->
                                        <!--                                    [(ngModel)]="timeOfDay"-->
                                        <!--                            />-->
                                        <ng-select #timeOfDaySelect='ngModel'
                                                   (change)="onTimeOfDayChange($event)"
                                                   [(ngModel)]="timeOfDay"
                                                   [class.error]="timeOfDaySelect.invalid && (timeOfDaySelect.touched || newLeave.submitted)"
                                                   [items]="timesOfDay"
                                                   [ngClass]="{'is-invalid error': timeOfDaySelect.invalid && (timeOfDaySelect.touched || newLeave.submitted) }"
                                                   bindLabel="name"
                                                   class="width-77"
                                                   id="timeOfDay"
                                                   name="selectedTimeOfDay"
                                                   placeholder="Select Time of Day"
                                                   required

                                        ></ng-select>
                                        <div *ngIf="timeOfDaySelect.invalid && (timeOfDaySelect.touched || newLeave.submitted)"
                                             class="error">
                                            <span *ngIf="timeOfDaySelect.errors.required">This field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>


                    </div>
                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Start Date</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><span
                                                    [data-feather]="'calendar'"></span></span>
                                    </div>
                                    <input
                                        #startDateRef="ngModel"
                                        [(ngModel)]="startDate"
                                        [class.error]="startDateRef.invalid && (startDateRef.touched || newLeave.submitted)"
                                        [ngClass]="{'is-invalid error': startDateRef.invalid && (startDateRef.touched || newLeave.submitted) }"
                                        class="form-control"
                                        id="start-date"
                                        name="contact-icon"
                                        placeholder="Enter Start Date Here"
                                        required
                                        type="datetime-local"
                                    />
                                    <div *ngIf="startDateRef.invalid && (startDateRef.touched || newLeave.submitted)"
                                         class="error">
                                        <span *ngIf="startDateRef.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="leaveType==='PERSONAL_LEAVE' || leaveType==='SICK_LEAVE' || leaveTypeADMIN==='PERSONAL_LEAVE' || leaveTypeADMIN==='SICK_LEAVE' "
                             class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">End Date</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><span
                                                    [data-feather]="'calendar'"></span></span>
                                    </div>
                                    <input
                                        #endDateRef="ngModel"
                                        [(ngModel)]="endDate"
                                        [class.error]="endDateRef.invalid && (endDateRef.touched || newLeave.submitted)"
                                        [ngClass]="{'is-invalid error': endDateRef.invalid && (endDateRef.touched || newLeave.submitted) }"
                                        class="form-control width-77"
                                        id="End Date"
                                        name="contact-icon"
                                        placeholder="Enter End Date Here"
                                        required
                                        type="datetime-local"
                                    />
                                    <div *ngIf="endDateRef.invalid && (endDateRef.touched || newLeave.submitted)"
                                         class="error">
                                        <span *ngIf="endDateRef.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Reason</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><span
                                                    [data-feather]="'arrow-up-circle'"></span></span>
                                    </div>
                                    <input
                                        #reasonREF="ngModel"
                                        [(ngModel)]="reason"
                                        [class.error]="reasonREF.invalid && (reasonREF.touched || newLeave.submitted)"
                                        [ngClass]="{'is-invalid error': reasonREF.invalid && (reasonREF.touched || newLeave.submitted) }"
                                        class="form-control width-77"
                                        id="reason"
                                        name="reason"
                                        placeholder="Enter Leave Reason Here"
                                        required
                                        type="text"
                                    />
                                    <div *ngIf="reasonREF.invalid && (reasonREF.touched || newLeave.submitted)"
                                         class="error">
                                        <span *ngIf="reasonREF.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 ml-2">
                        <button (click)="addLeave()"
                                class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light"
                                rippleEffect type="submit">
                            Submit
                        </button>

                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
