<li class="nav-item dropdown-cart mr-25" ngbDropdown>
    <a class="nav-link" id="navbarCartDropdown" ngbDropdownToggle tabindex="0"
    ><span [class]="'ficon'" [data-feather]="'shopping-cart'"></span
    ><span class="badge badge-pill badge-primary badge-up cart-item-count">{{ cartListLength }}</span></a
    >
    <ul
            aria-labelledby="navbarCartDropdown"
            class="dropdown-menu dropdown-menu-media dropdown-menu-right"
            ngbDropdownMenu
    >
        <!-- Cart header -->
        <li class="dropdown-menu-header">
            <div class="dropdown-header d-flex">
                <h4 class="notification-title mb-0 mr-auto">My Cart</h4>
                <div class="badge badge-pill badge-light-primary">{{ cartListLength }} Items</div>
            </div>
        </li>
        <!--/ Cart header -->

        <!-- Cart content -->
        <li [perfectScrollbar] class="scrollable-container media-list">
            <ng-container *ngIf="products.length">
                <ng-container *ngFor="let product of products">
                    <div *ngIf="product?.isInCart === true" class="media align-items-center">
                        <img [src]="product.image" alt="donuts" class="d-block rounded mr-1" width="62"/>
                        <div class="media-body">
                            <button (click)="removeFromCart(product)" class="btn p-0">
                                <i class="ficon cart-item-remove" data-feather="x"></i>
                            </button>
                            <div class="media-heading">
                                <h6 class="cart-item-title">
                                    <a [routerLink]="'/apps/e-commerce/ecommerce-details/' + product.id"
                                       class="text-body">{{
                                            product.name
                                        }}</a>
                                </h6>
                                <small class="cart-item-by">{{ product.brand }}</small>
                            </div>
                            <div class="cart-item-qty">
                                <div class="input-group touchspin-cart">
                                    <core-touchspin [maxValue]="10" [minValue]="1" [numberValue]="1"
                                                    [stepValue]="1"></core-touchspin>
                                </div>
                            </div>
                            <h5 class="cart-item-price">${{ product.price }}</h5>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </li>
        <!--/ Cart content -->

        <!-- Cart footer -->
        <li class="dropdown-menu-footer">
            <div class="d-flex justify-content-between mb-1">
                <h6 class="font-weight-bolder mb-0">Total:</h6>
                <h6 class="text-primary font-weight-bolder mb-0">$10,999.00</h6>
            </div>
            <a class="btn btn-primary btn-block" routerLink="/apps/e-commerce/checkout">Checkout</a>
        </li>
        <!--/ Cart footer -->
    </ul>
</li>
