<!-- Bookmarked Icons -->
<ul class="nav navbar-nav bookmark-icons">
    <ng-container *ngFor="let page of bookmarkedItems">
        <li class="nav-item d-none d-lg-block">
            <a [routerLink]="page.link" class="nav-link" ngbTooltip="{{ page.title }}" placement="bottom">
                <span [class]="'ficon'" [data-feather]="page.icon"></span>
            </a>
        </li>
    </ng-container>
</ul>
<!-- Bookmarked Icons -->

<ul class="nav navbar-nav">
    <li class="nav-item d-none d-lg-block">
        <!-- Bookmark Icon -->
        <a (click)="toggleBookmarkPopup()" class="nav-link bookmark-star"
        ><span [class]="'ficon text-warning'" [data-feather]="'star'"></span
        ></a>
        <!--/ Bookmark Icon -->

        <!-- Bookmark Pop-up -->
        <div [class.show]="openBookmarkRef" class="bookmark-input search-input">
            <div class="bookmark-input-icon"><span [data-feather]="'search'"></span></div>
            <input
                    #openBookmark
                    (keyup)="bookmarkUpdate($event)"
                    [(ngModel)]="bookmarkText"
                    class="form-control input"
                    data-search="search"
                    placeholder="Bookmark"
                    tabindex="0"
                    type="text"
            />

            <!-- Auto Suggestion List -->
            <ul [perfectScrollbar] class="search-list search-list-bookmark show">
                <ng-container *ngIf="bookmarkText !== ''; else defaultBookmarks">
                    <li
                            *ngFor="let page of pages | filter: bookmarkText:'title' | slice: 0:6; let i = index"
                            [ngClass]="{ current_item: i === activeIndex }"
                            class="auto-suggestion"
                    >
                        <a
                                (click)="$event.stopPropagation(); $event.preventDefault(); closeBookmark(); removeOverlay()"
                                [routerLink]="page.link"
                                class="d-flex align-items-center justify-content-between w-100"
                        >
                            <div class="d-flex justify-content-start align-items-center">
                                <i class="feather icon-{{ page.icon }} mr-75"></i>
                                <span>{{ page.title }}</span>
                            </div>
                            <button
                                    (click)="$event.stopPropagation(); $event.preventDefault(); toggleBookmark(page.id)"
                                    class="btn p-0"
                                    type="button"
                            >
                                <i [class.text-warning]="page.isBookmarked" class="feather icon-star"></i>
                            </button>
                        </a>
                    </li>
                </ng-container>
                <ng-template #defaultBookmarks>
                    <ng-container *ngFor="let page of pages | filter: bookmarkText:'title'; let i = index">
                        <li *ngIf="page.isBookmarked" [ngClass]="{ current_item: i === activeIndex }"
                            class="auto-suggestion">
                            <a
                                    (click)="$event.stopPropagation(); $event.preventDefault(); closeBookmark(); removeOverlay()"
                                    [routerLink]="page.link"
                                    class="d-flex align-items-center justify-content-between w-100"
                            >
                                <div class="d-flex justify-content-start align-items-center">
                                    <i class="feather icon-{{ page.icon }} mr-75"></i>
                                    <span>{{ page.title }}</span>
                                </div>
                                <button
                                        (click)="$event.stopPropagation(); $event.preventDefault(); toggleBookmark(page.id)"
                                        class="btn p-0"
                                        type="button"
                                >
                                    <i [class.text-warning]="page.isBookmarked" class="feather icon-star"></i>
                                </button>
                            </a>
                        </li>
                    </ng-container>
                </ng-template>
            </ul>
            <!--/ Auto Suggestion List -->
        </div>
        <!--/ Bookmark Pop-up -->
    </li>
</ul>
