<ng-container *ngIf="!item.hidden">
    <!-- item with router url -->
    <a
            *ngIf="item.url && !item.externalUrl"
            [ngClass]="item.classes"
            [routerLink]="[item.url]"
            [target]="item.openInNewTab ? '_blank' : '_self'"
            class="d-flex align-items-center"
    >
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item with external url -->
    <a
            *ngIf="item.url && item.externalUrl"
            [href]="item.url"
            [ngClass]="item.classes"
            [target]="item.openInNewTab ? '_blank' : '_self'"
            class="d-flex align-items-center"
    >
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
        <span *ngIf="item.icon" [data-feather]="item.icon"></span>
        <span [translate]="item.translate" class="menu-title text-truncate">{{ item.title }}</span>
        <span
                *ngIf="item.badge"
                [ngClass]="item.badge.classes"
                [translate]="item.badge.translate"
                class="badge ml-auto mr-1"
        >
      {{ item.badge.title }}
    </span>
    </ng-template>
</ng-container>
