<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- BlockUI Section & Card Blocking -->
        <div class="row match-height">
            <div class="col-md-6">
                <core-card-snippet [snippetCode]="_snippetCodeSectionBlocking">
                    <h4 class="card-title">Section Blocking</h4>
                    <div class="card-body">
                        <div *blockUI="'section-block'" class="border p-1">
                            <p class="card-text mb-0">
                                Lorem ipsum dolor sit amet, an vel affert soleat possim. Usu meis neglegentur ut,
                                oporteat salutandi
                                dignissim at mea. Pericula erroribus quaerendum ex duo, his autem accusamus ad, alienum
                                detracto
                                rationibus vis et. No est volumus ocurreret vituperata.
                            </p>
                        </div>
                        <div class="demo-inline-spacing">
                            <button (click)="defaultSectionBlockUI()" class="btn btn-outline-primary btn-section-block"
                                    rippleEffect>
                                Default
                            </button>
                        </div>
                    </div>
                </core-card-snippet>
            </div>
            <div class="col-md-6">
                <div *blockUI="'card-section'">
                    <core-card-snippet [snippetCode]="_snippetCodeCardBlocking">
                        <h4 class="card-title">Card Blocking</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, an vel affert soleat possim. Usu meis neglegentur ut,
                                oporteat salutandi
                                dignissim at mea. Pericula erroribus quaerendum ex duo, his autem accusamus ad, alienum
                                detracto
                                rationibus vis et. No est volumus ocurreret vituperata.
                            </p>
                            <p class="card-text mb-0">
                                Lorem ipsum dolor sit amet, an vel affert soleat possim. Usu meis neglegentur ut,
                                oporteat salutandi
                                dignissim
                            </p>
                            <div class="demo-inline-spacing">
                                <button (click)="defaultCardBlockUI()" class="btn btn-outline-primary btn-section-block"
                                        rippleEffect>
                                    Default
                                </button>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </div>
        <!--/ BlockUI Section & Card Blocking -->

        <!-- BlockUI Page & Form Blocking -->
        <div class="row">
            <div class="col-md-6">
                <core-card-snippet [snippetCode]="_snippetCodePageBlocking">
                    <h4 class="card-title">Page Blocking</h4>
                    <div class="card-body">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, an vel affert soleat possim. Usu meis neglegentur ut, oporteat
                            salutandi
                            dignissim at mea. Pericula erroribus quaerendum ex duo, his autem accusamus ad, alienum
                            detracto
                            rationibus vis et. No est volumus ocurreret vituperata.
                        </p>
                        <p class="card-text mb-0">
                            Lorem ipsum dolor sit amet, an vel affert soleat possim. Usu meis neglegentur ut, oporteat
                            salutandi
                            dignissim
                        </p>
                        <div class="demo-inline-spacing">
                            <button (click)="fullPageBlockUI()" class="btn btn-outline-primary" rippleEffect>Default
                            </button>
                        </div>
                        <block-ui></block-ui>
                    </div>
                </core-card-snippet>
            </div>
            <div class="col-md-6">
                <core-card-snippet [snippetCode]="_snippetCodeFormBlocking">
                    <h4 class="card-title">Form Blocking</h4>
                    <div class="card-body">
                        <form *blockUI="'form-section'" class="form-block p-50">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="form-control" id="username" placeholder="Username" type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" placeholder="Email" type="email"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" placeholder="Password" type="password"/>
                            </div>
                            <div class="form-group text-right mb-0">
                                <button class="btn btn-primary disabled mr-75" rippleEffect>Submit</button>
                                <button class="btn btn-outline-secondary disabled" rippleEffect>Reset</button>
                            </div>
                        </form>
                        <button (click)="defaultFormBlockUI()" class="btn btn-outline-primary btn-section-block mt-1"
                                rippleEffect>
                            Default
                        </button>
                    </div>
                </core-card-snippet>
            </div>
        </div>
        <!--/ BlockUI Page & Form Blocking -->
    </div>
</div>
