<div class="content-wrapper container-xxl overflow-hidden p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- Sidebar filters  -->
    <div class="sidebar-detached sidebar-left">
        <div class="sidebar">
            <core-sidebar
                    class="sidebar-shop"
                    collapsibleSidebar="bs-gt-lg"
                    id="ecommerce-sidebar-toggler"
                    name="ecommerce-sidebar"
                    overlayClass="body-content-overlay"
            >
                <ecommerce-sidebar></ecommerce-sidebar>
            </core-sidebar>
        </div>
    </div>
    <!--/ Sidebar filters -->

    <div class="content-detached content-right">
        <div class="content-body">
            <!-- E-commerce Head Section Starts -->
            <section id="ecommerce-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ecommerce-header-items">
                            <div class="result-toggler">
                                <button
                                        (click)="toggleSidebar('ecommerce-sidebar')"
                                        class="navbar-toggler shop-sidebar-toggler"
                                        data-toggle="collapse"
                                        type="button"
                                >
                                    <span class="navbar-toggler-icon d-block d-lg-none"><i
                                            data-feather="menu"></i></span>
                                </button>
                                <div class="search-results">{{ (products | filter: searchText:'name').length }} results
                                    found
                                </div>
                            </div>
                            <div class="view-options d-flex">
                                <div class="btn-group dropdown-sort" ngbDropdown>
                                    <button
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="btn btn-outline-primary mr-1"
                                            data-toggle="dropdown"
                                            ngbDropdownToggle
                                            rippleEffect
                                            type="button"
                                    >
                                        <span class="active-sorting">Featured</span>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a (click)="sortProduct('featured')" href="javascript:void(0);" ngbDropdownItem>Featured</a>
                                        <a (click)="sortProduct('price-asc')" href="javascript:void(0);"
                                           ngbDropdownItem>Lowest</a>
                                        <a (click)="sortProduct('price-desc')" href="javascript:void(0);"
                                           ngbDropdownItem>Highest</a>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label
                                            [class.active]="gridViewRef === true"
                                            class="btn btn-icon btn-outline-primary view-btn grid-view-btn"
                                    >
                                        <input (click)="gridView()" id="radio_option1" name="radio_options"
                                               type="radio"/>
                                        <i class="font-medium-3" data-feather="grid"></i>
                                    </label>
                                    <label
                                            [class.active]="gridViewRef !== true"
                                            class="btn btn-icon btn-outline-primary view-btn list-view-btn"
                                    >
                                        <input (click)="listView()" id="radio_option2" name="radio_options"
                                               type="radio"/>
                                        <i class="font-medium-3" data-feather="list"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ecommerce-searchbar" id="ecommerce-searchbar">
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <div class="input-group input-group-merge">
                            <input
                                    [(ngModel)]="searchText"
                                    aria-describedby="shop-search"
                                    aria-label="Search..."
                                    class="form-control search-product"
                                    id="shop-search"
                                    placeholder="Search Product"
                                    type="text"
                            />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="text-muted" data-feather="search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- E-commerce Head Section Starts -->

            <!-- E-commerce Products Starts -->
            <section [ngClass]="gridViewRef === true ? 'grid-view' : 'list-view'" id="ecommerce-products">
                <app-ecommerce-item
                        *ngFor="
            let product of products
              | filter: searchText:'name'
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
          "
                        [product]="product"
                        class="card ecommerce-card"
                ></app-ecommerce-item>
            </section>
            <!-- E-commerce Products Ends -->

            <!-- E-commerce Pagination Starts -->
            <section id="ecommerce-pagination">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex justify-content-center">
                            <ngb-pagination
                                    [(page)]="page"
                                    [boundaryLinks]="true"
                                    [collectionSize]="(products | filter: searchText:'name').length"
                                    [ellipses]="false"
                                    [maxSize]="5"
                                    [rotate]="true"
                            >
                                <!-- Custom pagination icons -->
                                <ng-template ngbPaginationPrevious
                                ><span [class]="'font-weight-bolder'" [data-feather]="'chevron-left'"
                                       [size]="18"></span>
                                </ng-template>
                                <ng-template ngbPaginationFirst
                                ><span [class]="'font-weight-bolder'" [data-feather]="'chevrons-left'"
                                       [size]="18"></span>
                                </ng-template>
                                <ng-template ngbPaginationNext
                                ><span [class]="'font-weight-bolder'" [data-feather]="'chevron-right'"
                                       [size]="18"></span
                                ></ng-template>
                                <ng-template ngbPaginationLast
                                ><span [class]="'font-weight-bolder'" [data-feather]="'chevrons-right'"
                                       [size]="18"></span>
                                </ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </section>
            <!-- E-commerce Pagination Ends -->
        </div>
    </div>
</div>
