<div class="slideout-content">
    <!-- Modal To Add New User Starts-->
    <div class="modalsd modal-slide-in sdfade add-payment-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <div class="modal-content p-0">
                <button
                        (click)="toggleSidebar('add-payment-sidebar')"
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                >
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title">
                        <span class="align-middle">Add Payment</span>
                    </h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <form>
                        <div class="form-group">
                            <input class="form-control" disabled id="balance" type="text"
                                   value="Invoice Balance: 5000.00"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="amount">Payment Amount</label>
                            <input class="form-control" id="amount" placeholder="$1000" type="number"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="payment-date">Payment Date</label>
                            <ng2-flatpickr [config]="paymentDateOptions" name="Date"></ng2-flatpickr>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="payment-method">Payment Method</label>
                            <select class="form-control" id="payment-method">
                                <option disabled selected value="">Select payment method</option>
                                <option value="Cash">Cash</option>
                                <option value="Bank Transfer">Bank Transfer</option>
                                <option value="Debit">Debit</option>
                                <option value="Credit">Credit</option>
                                <option value="Paypal">Paypal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="payment-note">Internal Payment Note</label>
                            <textarea class="form-control" id="payment-note" placeholder="Internal Payment Note"
                                      rows="5"></textarea>
                        </div>
                        <div class="form-group d-flex flex-wrap mb-0">
                            <button
                                    (click)="toggleSidebar('add-payment-sidebar')"
                                    class="btn btn-primary mr-1"
                                    rippleEffect
                                    type="button"
                            >
                                Send
                            </button>
                            <button
                                    (click)="toggleSidebar('add-payment-sidebar')"
                                    class="btn btn-outline-secondary"
                                    data-dismiss="modal"
                                    rippleEffect
                                    type="button"
                            >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal To Add New User Ends-->
</div>
